In [169]:
import pandas as pd
import os

In [170]:
file_path = 'Data/jobs-info.csv'
if os.path.isfile(file_path):
    with open(file_path, 'r') as f:
        df = pd.read_csv(file_path,index_col=False,encoding='latin-1')
else:
    print(f"The file '{file_path}' does not exist.")

In [171]:
df

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3194,Experian,Cloud Data Analyst,"Heredia, Costa Rica",Full Time,Senior-level,92K+ *,"AWS,Big Data,Computer Science,GCP,Snowflake,SQL","Equity,Medical leave,Salary bonus,,"
3195,Locus Robotics,"Robotics Engineer, Sensors","Wilmington, MA, United States",Full Time,Senior-level,62K+ *,"E-commerce,Engineering,Linux,Python,Robotics,S...",",,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"
3197,Shippeo,Senior Data Engineer,"Paris, France",Full Time,Senior-level,115K+ *,"Airflow,Architecture,BigQuery,CI/CD,Computer S...",",,,,"

In [172]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     3197 non-null   object
 1   Job Title                   3197 non-null   object
 2   Location                    3197 non-null   object
 3   Job Type                    3197 non-null   object
 4   Experience level            2962 non-null   object
 5   Salary                      3009 non-null   object
 6   Requirment of the company   3198 non-null   object
 7   Facilities                  3198 non-null   object
dtypes: object(8)
memory usage: 200.0+ KB

In [173]:
df_clean = df.copy()

<h3>Check for duplicate values and missings values</h3>

In [174]:
df_clean[df_clean.duplicated()]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
100,Shopify,"Staff Engineer, Data Platform","Austin, TX, United States",Full Time,Senior-level,62K+ *,"AWS,Azure,BigQuery,Computer Science,Dataflow,D...",",,,,"
698,Netcentric,(Senior) Digital Analytics Engineer,"Barcelona, Spain",Full Time,Senior-level,110K+ *,"A/B testing,Angular,APIs,Computer Science,Engi...","Career development,Fitness / gym,Flex hours,Fl..."
804,NBCUniversal,Sr. Data Engineer,"New York, NEW YORK, United States",Full Time,Senior-level,115K+,"Agile,Airflow,Architecture,Big Data,Computer S...","Flex hours,Health care,Insurance,Medical leave,"
807,Metiora,Data Analyst Intern,"Madrid, Spain",Full Time,Entry-level,NaN,"Matplotlib,MongoDB,NumPy,Pandas,Power BI,Python",",,,,"
815,Civis Analytics,Lead Applied Data Scientist (Experience with M...,Remote,Full Time,Senior-level,NaN,"Causal inference,Computer Science,Consulting,D...","401(k) matching,Career development,Competitive..."
...,...,...,...,...,...,...,...,...
3184,Brightspeed,"Senior Data Engineer, Customer Data Platform","Charlotte, NC, United States",Full Time,Senior-level,115K+ *,"Agile,CX,Data warehouse,ELT,ETL,GCP","Competitive pay,Equity,Health care,Salary bonu..."
3189,6point6,Data Analyst,"London, United Kingdom",Full Time,NaN,75K+ *,"Agile,Architecture,Big Data,Data analysis,Engi...","Career development,Competitive pay,Equity,Flex..."
3194,Experian,Cloud Data Analyst,"Heredia, Costa Rica",Full Time,Senior-level,92K+ *,"AWS,Big Data,Computer Science,GCP,Snowflake,SQL","Equity,Medical leave,Salary bonus,,"
3195,Locus Robotics,"Robotics Engineer, Sensors","Wilmington, MA, United States",Full Time,Senior-level,62K+ *,"E-commerce,Engineering,Linux,Python,Robotics,S...",",,,,"
3197,Shippeo,Senior Data Engineer,"Paris, France",Full Time,Senior-level,115K+ *,"Airflow,Architecture,BigQuery,CI/CD,Computer S...",",,,,"

In [175]:
df_clean = df_clean.drop_duplicates()
df_clean

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

<h3>Looking for missing values</h3>

In [176]:
df_clean[(df_clean['Salary'].isna())]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,NaN,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,NaN,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
39,Angi,Senior Data Scientist,"Indianapolis, IN - Hybrid",Full Time,Senior-level,NaN,"Big Data,Data Mining,Machine Learning,Mathemat...","401(k) matching,Career development,Competitive..."
44,REWE International Dienstleistungsgesellschaft...,Junior Data Science Engineer (m/w/x),"Wien, Austria",Full Time,Entry-level,NaN,"CI/CD,Computer Science,Data pipelines,Deep Lea...",",,,,"
75,Metiora,Data Analyst Intern,"Madrid, Spain",Full Time,Entry-level,NaN,"Matplotlib,MongoDB,NumPy,Pandas,Power BI,Python",",,,,"
...,...,...,...,...,...,...,...,...
3109,METRO/MAKRO,STAGE 6 mois - Data Scientist Junior H/F,"Nanterre, France",Full Time,Entry-level,NaN,"Big Data,Power BI,Python,R,SQL,",",,,,"
3134,Junglee Games,ETL and Data Warehouse Testing Intern,"Bengaluru, Karnataka, India",Internship,Entry-level,NaN,"Computer Science,Data quality,Data warehouse,E...",",,,,"
3152,Lely,"Stage: Computer Science, Robotics, Computer Vi...","Maassluis, Netherlands",Full Time,Entry-level,NaN,"Computer Science,Computer Vision,Engineering,O...",",,,,"
3159,Deezer,Data Analyst Intern m/f/d - Business,"Paris, France",Internship,Entry-level,NaN,"Data analysis,Data pipelines,Data visualizatio...","Career development,Health care,Insurance,Start..."
3166,DNSFilter,Senior Data Scientist,"Washington, District of Columbia, United State...",Full Time,Mid-level,NaN,"AWS,Computer Science,Data analysis,Data visual...","Career development,Flex hours,Flex vacation,He..."

In [177]:
df_clean[df_clean['Experience level'].isna()]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
11,NielsenIQ,Data Analyst - Revenue Optimizer,"Toronto, ON, Canada",Full Time,NaN,80K+ *,"Business Analytics,Business Intelligence,Data ...","Career development,Startup environment,,,"
18,Issuu,BI Analyst,Braga,Full Time,NaN,48K+ *,"Business Analytics,Business Intelligence,Data ...","Competitive pay,Equity,Health care,Insurance,"
36,Bosch Group,Data Science Lead (Hybrid),"Mount Prospect, IL, United States",Full Time,NaN,63K+ *,"A/B testing,Data visualization,Economics,Engin...","Career development,Competitive pay,Health care,,"
69,SSENSE,"Data Analyst, Customer Experience","Montreal, QC, Canada",Full Time,NaN,80K+ *,"Business Intelligence,Computer Science,CX,Data...","Career development,Startup environment,,,"
...,...,...,...,...,...,...,...,...
3149,Syngenta Group,Agronomy Data Scientist (M/W) - CDI,"Saint-Sauveur, France",Full Time,NaN,90K+ *,"Computer Science,D3,Data analysis,Data Mining,...","Career development,,,,"
3157,Precision for Medicine,Data Engineer,"Remote, United States",Full Time,NaN,70K+,"AWS,Biology,Data management,Git,Linux,MySQL","Health care,Insurance,Parental leave,Salary bo..."
3163,Informa Group Plc.,Data Operations Engineer,"Toronto, ON, Canada",Full Time,NaN,60K+ *,"Agile,AWS,DataOps,Engineering,ETL,Pipelines","Career development,Flex hours,Flex vacation,He..."
3172,Precision Medicine Group,Data Engineer,"Remote, United States",Full Time,NaN,70K+,"AWS,Biology,Data management,Git,Linux,MySQL","Health care,Insurance,Parental leave,Salary bo..."
3177,MUFG Investor Services,Data Engineer (Contractor),"Limassol, Cyprus",Full Time,NaN,95K+ *,"Agile,Computer Science,Engineering,ETL,Python,","Competitive pay,,,,"

In [178]:
df_clean[df_clean['Job Type'].isna()]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
797,NaN,NaN,NaN,NaN,NaN,NaN,",,,,,",",,,,"

In [179]:
# delete the last row 
df_clean.drop(df_clean[df_clean['Job Type'].isna()].index, inplace=True)
df_clean[df_clean['Job Type'].isna()]

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Requirment of the company , Facilities]
Index: []

<h3>Manage Salary column infos</h3>

In [180]:
# extract numerical values and multiply by 1000
df_clean['Min_Salary_Year'] = df_clean['Salary'].str.extract('(\d+[\.,]?\d*)', expand=False).astype(float) * 1000
# move Salary_num column to first position
Min_Salary_Year = df_clean.pop('Min_Salary_Year')
df_clean.insert(6, 'Min_Salary_Year', Min_Salary_Year)
df_clean

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,90000.0,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [181]:
df_clean.describe()

       Min_Salary_Year
count      2824.000000
mean      90036.118980
std       41721.069617
min       30000.000000
25%       56000.000000
50%       77000.000000
75%      115000.000000
max      315000.000000

In [182]:
# check if salary has Asterisk (*) or not 
df_clean['Salary_conditions'] = df_clean['Salary'].str.endswith('*')
Salary_condition = df_clean.pop('Salary_conditions')
df_clean.insert(7, 'Salary_conditions', Salary_condition)
df_clean

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

<h3>Job Types list</h3>

In [183]:
df_clean['Job Type'].unique().tolist()

['Full Time', 'Internship', 'Part Time']

<h3>Job Experience level list</h3>

In [184]:
df_clean['Experience level'].unique().tolist()

['Entry-level', nan, 'Mid-level', 'Senior-level', 'Executive-level']

<h3>Job titles list</h3>

In [185]:
df_clean['Job Title'].unique().tolist()

['Clinical Data Analyst',
 'AML/CFT & Data Analyst',
 'Machine Learning Engineer',
 'Application Developer & Data Analyst',
 'Data Engineer Full time (Public Sector) USA',
 'Sr Staff Data Scientist - ATG',
 'Vendor Management and Data Quality Lead',
 'Intern (Business Intelligence Service Support)',
 'Summer 2023 Data Engineering Intern',
 'Principal Cloud Data Engineer (Prisma Access)',
 'Data Scientist (TE-CRG-GLO-2023-19-GRAP)',
 'Data Analyst - Revenue Optimizer',
 'Graduate Power BI Developer',
 'SAP Consultant - Product Data Management',
 'PreMaster Programm - Data Analytics and Visualization',
 'Staff Data Scientist - ATG',
 'Senior Data Analyst - Sales',
 'BI Analyst',
 'Data Scientist | Insights (f/m/d) - GER, UK, NL, PL',
 'Senior Data Analyst (Remote within EMEA)',
 'Senior Data Engineer (Evergreen)',
 'Data Management Scrum Master',
 'Rotational Development Program - Artificial Intelligence and Machine Learning Trainee',
 'Data Engineer Scientist',
 'Data Scientist (Elasticsearch)',
 'Data Engineer F/H',
 'BI Developer',
 'Data Scientist - Fraud Risk',
 'QuintoAndar - Senior Data Analyst',
 'ML Research Engineer',
 'Principal Engineer, Data Project Management',
 'Senior Data Engineer',
 '(Senior) Digital Analytics Engineer',
 'Senior Software Engineer (Data Pipeline)',
 'Senior Data Scientist',
 'Data Science Lead (Hybrid)',
 'Business Intelligence Analyst',
 'Lead Business Intelligence Analyst',
 'Sr Data Engineer',
 'Data Modeler',
 'Data Engineer',
 'VP, Actuarial Modeling and Data Management',
 'Junior Data Science Engineer (m/w/x)',
 'Healthcare Data Analyst',
 'Data Scientist',
 'Data Analyst | Marketing or Sales (f/m/d) - GER, UK, NL, PL',
 'Business Intelligence Expert',
 'Senior Data Analyst',
 'Principle MLOps Engineer',
 'Machine Learning Research Engineer, Generative AI',
 'Data Analyst - Product Innovation',
 'Lead Data Scientist',
 'Data Product Owner',
 'Bi Analyst Jr - 24170',
 'HTML Developer',
 'Business Intelligence Developer',
 'Data Scientist, Marketing Analytics',
 'Senior Manager - AML/CFT & Data Analyst',
 'Senior Data Visualization Analyst',
 'Senior Data Engineer (Remote)',
 'Customer Data Engineer',
 'Data Engineer- Data Platform',
 'Digital Marketing Lead (ZibraAI)',
 'Staff Data Scientist - Marketing',
 'Senior Sales Business Intelligence Manager',
 'Data Analyst, Customer Experience',
 'ETAS Test Lead - Autonomous Driving Solutions',
 'Sr. Data Engineer',
 'Specialist Solutions Architect - MLOps',
 'Data Scientist, Terminal',
 'Data Analyst Intern',
 'React Native Engineer - Mobile (Dubai)',
 'Artificial Intelligence Lead | KPMG Futures',
 'Jr. CRM Data Quality Specialist',
 'Data Management Consultant Banking (f/d/m) Financial Services Data Platform FSDM',
 'Director, Artificial Intelligence (AI)',
 'Intermediate BI Developer',
 'Senior Business Intelligence Analyst',
 'Data Analyst',
 'Staff Machine Learning Engineer',
 'Data Analyst (Remote)',
 'Lead Applied Data Scientist (Experience with Media Mix Modeling)',
 'Data Engineer I',
 'Cloud Database Analyst',
 'Senior Machine Learning Engineer',
 'Junior Data Analyst',
 'Financial Data Analyst',
 'Senior Consultant in Data science',
 'Staff Clinical Data Manager # 3073',
 'HR Data Analyst',
 'Consultant in Data Science',
 'Staff Engineer, Data Platform',
 'Senior Data Scientist, Marketing Analytics',
 'Director, IVA and AI Solutions - Professional Services Practice Lead',
 'Lead Data Analyst(Marketing/Growth Analytics)',
 'Data Analyst, Service Analytics',
 'Amazon Robotics - Hardware Engineer Co-op (July-December 2023), Amazon Robotics',
 'Senior/Staff Data Engineer',
 'Data Product Manager',
 'FSA (FinTech) - Quantitative Machine Learning Specialist & Software Developer',
 'Data Engineer Analyst',
 'Software Engineer (Data Pipeline)',
 'Associate Data Scientist',
 'Data Engineering Analyst',
 'Talan Consulting \x96 Consultant Senior/Manager \x96 Data Strategy (H/F)',
 'Enterprise Data Architect - 6 month Contract',
 'Data Engineer II',
 'Data Scientist/Machine Learning Engineer',
 'Senior Data Scientist, Product',
 'Senior Technical Support Engineer, DataSet',
 'Finance Business Intelligence , Operations Finance',
 'Staff Machine Learning Modeler, Financial Crimes',
 'Data Engineer - Music',
 'Data Manager',
 'Salesforce Administrator/Data Specialist',
 'Data Engineer (Starlink)',
 'Data Engineer confirmé BI - BIG DATA',
 'Director, Spark Technical Solutions',
 'Middle Data Engineer (Healthcare domain)',
 'Senior Data Analyst (Pricing)',
 'People Analytics Data Visualization Senior Associate (Open to Remote)',
 'Développeur Power BI - H/F',
 'Product Manager - Experts & Artificial Intelligence',
 'Group Manager Data Analytics India',
 'Vice President Director, Data Scientist',
 'Business Intelligence Analyst, AWS Cloud Logistics',
 'Scientist/Senior Scientist, Machine Learning',
 'Principal Site Reliability Engineer, Datastores (Hybrid)',
 'Machine Learning Manager (Systems)',
 'Consultant Data Engineer',
 'Machine Learning Engineer L3',
 'Data Analyst Coches.net',
 'Senior Product Marketing Manager, Conversational Intelligence & AI Products',
 'Graduate Data Analyst',
 'Analytics Engineer',
 'Specialist Solutions Architect - Data Engineering (Public Sector)',
 'Senior Data Quality Assurance Specialist',
 'Senior Site Reliability Engineer, Datastores (Hybrid)',
 'Customer Success Junior ML Engineer, Onboarding Specialist',
 'Senior Data Science Engineer',
 'Digital Analytics Engineer',
 'Senior Big Data Engineer',
 'Senior Data Scientist, Marketing',
 'Analytics Engineer Intern',
 'Master Data Team Manager',
 'Senior Data Engineer, Enterprise Engineering',
 'Data Operations Associate',
 'Staff ML Engineer (8627)',
 'Specialist Architect : Big Data',
 'Research Engineer in Multi Agent Path Finding for Mobile Robots (f/m/div.)',
 'Product Marketing Manager, Data Engineering',
 'CV/ML Engineer for 3D Virtual Humans - Remote Europe',
 'Senior Data Engineer - Data Bricks',
 'Director AI Science',
 'Researcher- Business Intelligence',
 'Machine Learning Research Scientist',
 'Staff Database Reliability Engineer, Datastores',
 'Senior Data Scientist - Viator, London, Oxford, UK Remote',
 'Data Analyst (Bangkok Based, Relocation Provided)',
 'Associate AI/ML Engineer',
 'Azure Data Architect',
 'Senior Applied Data Scientist',
 'Senior Scientist, Decision Sciences',
 'Data Operations & Insights Manager',
 'Principal ML Engineer - AI Platform',
 'Principal Product Marketing Manager, AI & Machine Learning',
 'Technical Support Specialist (Robotics) - EU - Remote',
 'Data Architect',
 'Operations Data Analyst (Tableau)',
 'Head of Applied AI/ML',
 'Data Analytics Engineer',
 'Software Engineer - Autonomy Metrics',
 'Product Manager- Data Visualization & Analytics',
 'Data Science in Product Design Engineering',
 'Senior Director of Product - Machine Learning',
 'Senior Data Analyst (Bangkok Based, Relocation Provided)',
 'Operations Planner Data Management Technician',
 'Senior Associate Data Engineering',
 'Data Operations Client Onboarding',
 'Machine Learning Research Scientist - Reinforcement Learning',
 'Machine Learning Engineer, Generative AI',
 'Data Management Internship',
 'Sr Big Data Engineer',
 'Consulting - Robotics Process Automation (RPA) Developer',
 'Data Engineer with Databricks - Empower (remote/Costa Rica-based)',
 'Databricks and Scala Engineer geospatial',
 'Software Engineer, Data Platform',
 'Senior Manager Data Engineering',
 'Senior Data Engineer (P3949).',
 'Junior Data Engineer Customer Analytics',
 'Chief Engineer, Autonomy (R2020)',
 'Senior Research Data Analyst',
 'Sport data operator',
 'Associate Director | Artificial Intelligence Lead | KPMG Futures',
 'Research Scientist',
 'Data Engineering Manager',
 'Principal Engineer - Data Integrations',
 'Python Engineer - Machine Learning Specialist (Remote)',
 'Senior Applied Scientist - Document Intelligence',
 'Data Analyst, Go Live',
 'Senior Data Scientist (M/F)',
 'Researcher/Senior Researcher \x96 Natural Language Processing and Text Analytics',
 'Data Analyst (Customer Service Industry, Mandarin Support)',
 'Manager Data Strategy',
 'Business Partner, Data Analysis',
 'Data Engineer - Remote',
 'Marketing Data Analyst',
 'Post-Doctoral Fellow or Associate - Agronomy Data Scientist',
 'Sr. Data Scientist',
 'Researcher- Computer Vision',
 'Data Science Lead',
 'Senior Data Scientist, Product Analytics',
 'Software Engineer - Machine Learning, Granica Screen',
 'Data Engineer - Türkiye',
 'SDE-III, Data Engineering',
 'Oracle Data Modeler / PL/SQL - Data warehouse',
 'Product Data Specialist (HW)',
 'SparkCognition Director of Accounting - Controller',
 'Senior Machine Learning Scientist (USA REMOTE)',
 'Senior Data Scientist (P171).',
 'Cloud Data Analyst Engineer (FinOps)',
 'DataOps Engineer',
 'Robotic Research Engineer - Mechatronics',
 'Manager - Applied Data Scientist',
 '??·????/Business Intelligence Engineer, Japan Operations Finance',
 'Senior Data Engineer - (Christchurch)',
 'Senior Software Engineer - Data Architecture skills',
 'BI Developer, Analytics',
 'Supervisão de Business Intelligence (foco em mídia/comunicação)',
 'Senior Manager, Perception Deep Learning',
 'SME Consultant for Data Analytics',
 'Senior Data Strategist',
 'Data Analyst (Oslo-based)',
 'Senior AI Engineer',
 'SQL Data Engineers',
 'Subsurface Data Manager',
 'Senior Data Analyst with Python SQL - MS- Bangalore',
 'Data Analyst Supply Chain Management (f/m/d)',
 'Senior Data Quality Developer',
 'Remote Intermediate Fullstack Engineer (AI Team)',
 'iOS Engineer (Dubai)',
 'Business Intelligence Data Strategist',
 'Data Engineer Customer Analytics',
 'Sr. BI Analyst',
 'Data Scientist Generalist',
 'Business Intelligence Analyst - Sales Operations',
 'Senior Developer - Data Engineer (AWS/Python/Node)',
 'Senior Data Scientist: NLP',
 'Data Analyst (Allegro Pay)',
 'Data Analyst (DEA)',
 'AI Research Engineer',
 'AI Research Scientist',
 'Manager, Business Operations - Diagnostic Imaging and Laboratory',
 'Data Science Consultant',
 'Customer Master Data Analyst',
 'Senior Data Quality Engineer',
 'Senior Data Analyst - Hybrid',
 'Computer Vision Researcher',
 'Research Scientist - Machine Learning and Algorithms',
 'Senior Applied Scientist',
 'Tableau/BI Developer',
 'Data Scientist (Real-time Ops)',
 'Data Science/ Analytics Intern- Long Term',
 'Master Data Management Plants (f/m/div.)',
 'Coordinator of Data Operations',
 'Data Science Team Lead',
 'AI Programmer VR (UE)',
 'Data Engineer (Python) - Payments',
 'Master Data Management Plants (f/m/div.) (salary: ~81.000 EUR p.a.*)',
 'Data Analyst Pleno',
 'Research Engineer PEM Electrolyzer (f/m/div.)',
 'Consulting - Data Engineer',
 'Data Analyst Intern - Product Analytics',
 'System Reliability Engineer (Big Data)',
 'Enterprise Data Architect',
 'TTGP Fleet Data Manager/Senior JICO',
 'Senior Software Engineer - Data analytics',
 'Staff Technical Product Manager, AI Platform and Solutions',
 'Big Data Engineer - PySpark',
 'Consultant / Sr Consultant - QA Data Engineer',
 'Computational Biologist, Translational Science - Location Flexible',
 'Lead Software Engineer, ML Infrastructure',
 'Senior Insurance Data Scientist',
 'Principal Engineer, Data Systems',
 'Clinical Data Manager',
 'Data Analyst I - Fraud',
 'Senior Data Scientist, Operations',
 'Software Engineer - Data Platform (Python, Cloud, Big Data)',
 'Senior Cloud Data Analyst Engineer (FinOps)',
 'Data Engineer - Bulgaria',
 'Power BI Developer',
 'Consultant, Data Analytics',
 'Junior MLOps - Intern',
 'Business Intelligence Internship (Summer 23/24)',
 'Business Analyst (Tech/AI)',
 'Senior Applied Scientist, Amazon',
 'Specialist Solutions Architect - Data Engineering (Financial Services)',
 'Data Scientist eBike Systems (f/m/div.)',
 'Graduate Data Scientist',
 'Robotics Engineer, Sensors',
 'Contract: Data Infrastructure Engineer',
 'AI/ML Modeling, Simulation and Analysis Engineer (Senior)',
 'Cloud Data Engineer',
 'Head of Data Science, Analytics and BI',
 'Clinical Data Reporter',
 'Staff+ Machine Learning Engineer - Generative AI',
 'Especialista em Auditoria Interna - Data Analytics',
 'Engineering Team Lead, Imaging Tech',
 'Senior ML Engineer - NLP',
 'Data Analyst (Aberdeen-based)',
 'Principal Engineer, Data and Control Systems',
 'Data Scientist (Pricing)',
 'Head of AML Operations (m/f/d)',
 'Data Engineer - 14072',
 'Data Analyst (Reporting and Insights)',
 'Sr. Manager (AI/ML)',
 'Data Scientist, Decisions - Rider',
 'Data Architect - SME',
 'Senior SW Engineer (Machine Learning)',
 '(Global) Senior Research Scientist',
 'Staff Data Scientist, Model Risk Management',
 'Graduate Imaging Geophysicist',
 'Architecte Plateforme Big Data / DevOps - F/H',
 'Data Analyst - Retention',
 'Lead Machine Learning Engineer',
 'Data Developer',
 'Data Analyst - Digital Marketing (all genders)',
 'Android Engineer (Dubai)',
 'Data Specialist - Governance',
 'Senior Robotics Process Automation Developer',
 'Technical Product Manager, Data Engineering',
 'Sr. Data Developer (Remote), Experian Consumer Services',
 'Senior Data Analyst with Python SQL - Bangalore',
 'Manager, Measurement Innovation & Data Science',
 'Cloud Data Architect',
 'Business Intelligence Engineering Manager',
 'DevOps Engineer (Dubai)',
 'Data Analytics Internship (Summer 23/24)',
 'Confirmed Data Analyst - Data Pro Supply',
 'Senior Machine Learning Engineer (Modeling)',
 'Stage: Robotics',
 'Data Scientist / Data Analyst',
 'Product Data Analyst sénior (h/f) en CDI à Paris',
 'Data Analyst - Stage',
 'Senior Analytics Engineer',
 'Sr. Software Engineer, Data Engineering',
 'Senior Machine Learning Engineer I',
 'Data Engineer Sr.Software Engineer DX',
 'Senior Staff Data Engineer',
 'Natural Language Processing Intern',
 'Senior Data Engineers',
 'Coordinateur projets Genotypage data analyse (H/F)',
 'Machine Learning & Software Engineer, Infrastructure - US Remote',
 'Customer-Facing Deep Learning Solutions Architect',
 'Data Engineering Manager - Allegro Pay',
 'Senior Business Intelligence Developer (Database Architect & ETL Developer)',
 'Technical Mentor (Independent Contractor) - Data Engineering Nanodegree (US Timezone)',
 'Data Analyst, Business Optimisation',
 'Machine Learning Force Fields Scientist (Materials Science)',
 'Principal Machine Learning Engineer - ATG',
 'Senior Associate Data Sciences',
 'Senior Data Engineer (all genders) AI',
 'Intermediate / Senior Fullstack Engineer (AI Team)',
 'Data Quality Analyst - Stage',
 'Senior Software Engineer - AI/ML team (.net + python)',
 'Software Engineer, Data Platform, Data Management',
 'Senior Machine Learning Engineer (Modeling), Financial Crimes Technology',
 'Research Analyst',
 'Backend / Data Engineers II, Cerebro',
 'Junior Data Manager',
 'Data Infrastructure Engineer',
 'Backend Engineer (Dubai)',
 'Senior Software Engineer I, Machine Learning, Retrieval Sciences',
 'Sr. Staff Machine Learning Engineer',
 'Staff Systems Engineer, Autonomy & Simulation',
 '[??-??&???] Senior, Data Analyst (Channel Analytics)',
 'Senior Machine Learning Expert (on-site, Brussels / Belgium)',
 "Spécialiste, intelligence d'affaires / Specialist, Business Intelligence",
 'Senior Product Manager | API & Data Products',
 'Senior Analyst, Data Science and Analytics',
 'Senior Product Manager - Data Management & Search',
 'Accounting Professor- Data Analytics/AIS- 90K+ Salary',
 'Senior Data Engineer - Healthgrades',
 'Sr Applied Data Scientist',
 'Business Intelligence Engineer',
 'Assistant Mgr - Data Sciences',
 "Data Analyst - Stage de fin d'études - Paris 2e",
 'Trading BI Developer',
 'Data Analytics Intern - Le Cubs 2023',
 'Product Data Analyst -  F/H',
 'Data Scientist (Crypto)',
 '[Job- 10639] Senior Data Engineer Developer, Brazil',
 'Business Intelligence Associate',
 'Analyst, Reporting and Business Intelligence',
 'Data Science Software Engineer',
 'Product Owner with Tableau/Power BI(6 to 10 years)',
 'Machine Learning & Software Engineer, Infrastructure - EMEA Remote',
 'Sr AI Solution Developer (ServiceNow Developer)',
 'Data Integrations Engineer',
 'Lead Software Engineer - AI/ML team (.net + python)',
 'Transportation Data Analyst Coordinator',
 'Senior Applied Data Scientist (all genders) AI',
 'Power BI Analyst',
 'Senior Cloud DevOps Engineer (Data & AI) bei eBike Systems (w/m/div.)',
 'Business Intelligence Analyst I',
 'Power BI Data Visualization Analyst',
 'Data Analyst (CEO Office)',
 'Senior Data Science Analyst- Model Validation',
 'Sr. Revenue Operations Specialist - Data Analytics',
 'PhD Position - Neuro-Symbolic AI for Scene Understanding in Autonomous Driving',
 'Staff Data Analyst, Product Analytics',
 'Senior Product Manager, Large Language Model',
 'QuintoAndar - Analytics Engineer',
 'VP, Data Products',
 'Data Science Director, Adoption & Enterprise',
 'Data Platform Developer, Machine Learning',
 'Senior Vision Engineer (English version)',
 'Lead Data Scientist (P3436)',
 '(Canada) Business Intelligence Engineer',
 'Lead ML Platform Engineer',
 'Staff Data Engineer',
 'Transportation Data Analyst (Tableau)',
 'Robotics Software Developer Intern Fall 2023',
 'Senior Data Architect',
 'Software Engineer, Computer Vision Program',
 'Data Engineer - Tempcover',
 'ML PhD Intern - LLMs & Generative AI',
 'Alternance - « Data Analyst » ou « Equipe Business Intelligence » (H/F)',
 'Software Engineer - Structured Data Strategies',
 'Data Science Intern',
 'Institution Data Analyst',
 'Senior Solutions Engineer - Big Data',
 'Principal Machine Learning (ML) Engineer',
 'Product Data Engineer',
 "Data Engineer - Stage de fin d'études - Paris 2e",
 'Senior Data Engineer/Scientist',
 'Principal Data Scientist, Machine Learning',
 'Sr Director - Project Implementation - Medical Imaging / PACS',
 'Big Data BI Engineer',
 'Principal Data Scientist (Spain, full-remote)',
 'AI Programmer',
 'Business Intelligence Data Analyst',
 'Machine Learning for Natural Language Processing Intern',
 'Data Scientist engineer',
 'ML Postdoc Researcher - LLMs & Generative AI',
 'Principal Engineer, Data Management Engineering',
 'Lead Data Scientist - Pricing',
 'Data Scientist, Product Analytics',
 'Senior Infrastructure Software Engineer, ML Platform',
 'Alumio Solution Engineer (Data Integration)',
 'Senior AI Research Scientist \x96 Perception and Machine Learning',
 'Field Sample Specialist (Air Samples) - Eurofins Environment Testing \x96 Pueblo, CO',
 'Senior Research Scientist \x96 AI-based Planning for Autonomous Systems',
 'Internship: Business Intelligence and Finance Excellence',
 'Senior Data Engineer, PHP',
 'Head of Data Science & Predictive Modeling',
 'Business and Commercial Banking (BCB) Business Intelligence and Analytics Graduate Programme - Gauteng',
 'Data Scientist - Data Analytics and Infrastructure',
 '(Senior) Machine Learning Engineer - MLOps',
 'Team Lead Data Science (f/m/x)',
 'Senior Data Scientist - Monetization',
 'Lead Machine Learning Research Engineer, Generative AI',
 'Course Associate, Data Analysis and Visualization in Sustainability (Fall 2023)',
 'Robotics Engineer',
 'Ingénieur Data Modeler et/ou Tech Data - F/H',
 'Biomedical Data Scientist',
 'Product Analyst - Remote (Mumbai)',
 'Databricks Administrator',
 'Analyst, Data Engineering',
 'Lead Data Engineer- Bangalore',
 'Marketing Data Scientist',
 'Insight Analyst',
 'Data Analyst Junior F/H',
 'Senior Applied Scientist I',
 'Data Manager Consultant',
 'Foundation Models Lead',
 'Consultant Big Data & Machine Learning',
 'Senior Machine Learning Scientist (8304)',
 'Senior Product Manager (AI team)',
 'Principal Applied Scientist',
 'Director of Data Science',
 'Data Analyst Consultant',
 'Senior Market Research Analyst',
 'Senior Manager of Master Data Management (Hybrid)',
 'Mid Data Scientist (f/m/x), Remote (EU) / Berlin',
 'Sr. Product Manager (AI team)',
 'Data Analyst (Pricing)',

<h3>count the number of occurrences for each job title</h3>

In [186]:
job_title_counts = df_clean.groupby(by='Job Title').size().reset_index(name='Count')
job_title_counts.sort_values(by='Count',ascending=False)

                                    Job Title  Count
467                             Data Engineer    104
677                            Data Scientist     82
334                              Data Analyst     77
1533                     Senior Data Engineer     63
1085                Machine Learning Engineer     47
...                                       ...    ...
755                    Data Scientist, Poland      1
754   Data Scientist, Payments ML Accelerator      1
752         Data Scientist, Marketing & Sales      1
751                Data Scientist, In-car Ads      1
2137                     iOS Engineer (Dubai)      1

[2138 rows x 2 columns]

<h3>Rename Columns and replace whitespaces by underscore</h3>

In [187]:
df_clean

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [188]:
# Rename the column to remove spaces
df_clean.columns = df_clean.columns.str.replace(" ", "_")

In [189]:
df_clean

,Company,Job_Title,Location,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company_,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [190]:
df_clean.rename(columns={"Requirment_of_the_company_": "Requirment_of_the_company"}, inplace=True)
df_clean

,Company,Job_Title,Location,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

<h3> Get top 20 keywords Occurrences </h3>

In [191]:
# Count the occurrences of each word in the entire DataFrame for the column "Requirment_of_the_company"
total_word_counts = df_clean['Requirment_of_the_company'] \
                    .str.split(',') \
                    .explode() \
                    .str.strip() \
                    .replace('', float('nan')) \
                    .value_counts() \
                    .reset_index(name='count')

total_word_counts.head(20)

   Requirment_of_the_company  count
0           Computer Science   1087
1                Engineering   1013
2                        AWS    815
3               Architecture    728
4                      Agile    562
5                   Big Data    559
6              Data analysis    553
7                      Azure    505
8           Machine Learning    488
9      Business Intelligence    429
10            Data Analytics    385
11                      APIs    354
12                     Excel    323
13            Data pipelines    298
14                    Python    283
15                Consulting    283
16                   Airflow    281
17        Data visualization    280
18             Deep Learning    273
19           Data management    249

In [196]:
total_word_counts[total_word_counts['Requirment_of_the_company'].str.contains('AI')]

    Requirment_of_the_company  count
126         Conversational AI     11
169               AI strategy      6
171                    OpenAI      6
206             AI governance      3
218                   AIStats      2
226                    AI art      2
277                AI content      1

In [193]:
total_word_counts[total_word_counts['Requirment_of_the_company'].str.contains('Data')]

    Requirment_of_the_company  count
5                    Big Data    559
6               Data analysis    553
10             Data Analytics    385
13             Data pipelines    298
17         Data visualization    280
19            Data management    249
20               Data quality    249
26                Data Mining    182
27                 Databricks    178
30            Data governance    162
39             Data warehouse    117
45           Data Warehousing     86
60                    DataOps     56
69              Data strategy     49
77                Data Studio     37
94                   Dataflow     24
157                 DataRobot      7
193                  Dataproc      4

----------------------------------------------------------------------------------------------------------

In [194]:
df

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3194,Experian,Cloud Data Analyst,"Heredia, Costa Rica",Full Time,Senior-level,92K+ *,"AWS,Big Data,Computer Science,GCP,Snowflake,SQL","Equity,Medical leave,Salary bonus,,"
3195,Locus Robotics,"Robotics Engineer, Sensors","Wilmington, MA, United States",Full Time,Senior-level,62K+ *,"E-commerce,Engineering,Linux,Python,Robotics,S...",",,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"
3197,Shippeo,Senior Data Engineer,"Paris, France",Full Time,Senior-level,115K+ *,"Airflow,Architecture,BigQuery,CI/CD,Computer S...",",,,,"

In [195]:
df_clean[(df_clean['Salary'].isna()) & (df_clean['Job Type'] != 'Internship')]

KeyError: 'Job Type'

In [ ]:
df_clean[df_clean['Location'].str.startswith('Remote')]

,Company,Job_Title,Location,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
19,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Full Time,Senior-level,129K+ *,129000.0,True,"Agile,Data visualization,Economics,Machine Lea...","Career development,,,,"
24,EX2 Outcoding,Data Engineer Scientist,Remote Worldwide,Full Time,Mid-level,73K+ *,73000.0,True,"Computer Science,Data Mining,Engineering,Pytho...",",,,,"
45,Imagen Technologies,Healthcare Data Analyst,Remote,Full Time,Mid-level,60K+,60000.0,False,"Business Intelligence,Engineering,Genetics,Git...","Salary bonus,Startup environment,,,"
47,DeepL,Data Analyst | Marketing or Sales (f/m/d) - GE...,Remote job,Full Time,Senior-level,92K+ *,92000.0,True,"Agile,Data analysis,Data visualization,Economi...","Career development,Team events,,,"
50,OpenSea,Senior Data Analyst,Remote,Full Time,Senior-level,135K+,135000.0,False,"Blockchain,Computer Science,Data analysis,Data...","Equity,,,,"
...,...,...,...,...,...,...,...,...,...,...
3110,Thirty Madison,Data Analyst II,"Remote, US",Full Time,Senior-level,109K+,109000.0,False,"Data analysis,Data Analytics,Data visualizatio...","401(k) matching,Career development,Competitive..."
3129,Dropbox,Data Scientist,Remote - Ireland,Full Time,Senior-level,129K+ *,129000.0,True,"Business Intelligence,Computer Science,Consult...","Startup environment,,,,"
3157,Precision for Medicine,Data Engineer,"Remote, United States",Full Time,NaN,70K+,70000.0,False,"AWS,Biology,Data management,Git,Linux,MySQL","Health care,Insurance,Parental leave,Salary bo..."
3161,EquipmentShare,BI Data Analyst,Remote: Kansas City; Denver; Chicago; Phoenix;...,Full Time,Senior-level,36K+ *,36000.0,True,"Business Analytics,Business Intelligence,Finan...","401(k) matching,Career development,Competitive..."
3172,Precision Medicine Group,Data Engineer,"Remote, United States",Full Time,NaN,70K+,70000.0,False,"AWS,Biology,Data management,Git,Linux,MySQL","Health care,Insurance,Parental leave,Salary bo..."