In [153]:
import pandas as pd
import os

In [154]:
file_path = 'Data/jobs-info.csv'
if os.path.isfile(file_path):
    with open(file_path, 'r') as f:
        df = pd.read_csv(file_path,index_col=False,encoding='latin-1')
else:
    print(f"The file '{file_path}' does not exist.")

In [155]:
df

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3194,Experian,Cloud Data Analyst,"Heredia, Costa Rica",Full Time,Senior-level,92K+ *,"AWS,Big Data,Computer Science,GCP,Snowflake,SQL","Equity,Medical leave,Salary bonus,,"
3195,Locus Robotics,"Robotics Engineer, Sensors","Wilmington, MA, United States",Full Time,Senior-level,62K+ *,"E-commerce,Engineering,Linux,Python,Robotics,S...",",,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"
3197,Shippeo,Senior Data Engineer,"Paris, France",Full Time,Senior-level,115K+ *,"Airflow,Architecture,BigQuery,CI/CD,Computer S...",",,,,"

# Exploration et Nettoyage de donnnees

In [156]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     3197 non-null   object
 1   Job Title                   3197 non-null   object
 2   Location                    3197 non-null   object
 3   Job Type                    3197 non-null   object
 4   Experience level            2962 non-null   object
 5   Salary                      3009 non-null   object
 6   Requirment of the company   3198 non-null   object
 7   Facilities                  3198 non-null   object
dtypes: object(8)
memory usage: 200.0+ KB

In [157]:
df_clean = df.copy()

<h3>Check for duplicate values and missings values</h3>

In [158]:
df_clean[df_clean.duplicated()]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
100,Shopify,"Staff Engineer, Data Platform","Austin, TX, United States",Full Time,Senior-level,62K+ *,"AWS,Azure,BigQuery,Computer Science,Dataflow,D...",",,,,"
698,Netcentric,(Senior) Digital Analytics Engineer,"Barcelona, Spain",Full Time,Senior-level,110K+ *,"A/B testing,Angular,APIs,Computer Science,Engi...","Career development,Fitness / gym,Flex hours,Fl..."
804,NBCUniversal,Sr. Data Engineer,"New York, NEW YORK, United States",Full Time,Senior-level,115K+,"Agile,Airflow,Architecture,Big Data,Computer S...","Flex hours,Health care,Insurance,Medical leave,"
807,Metiora,Data Analyst Intern,"Madrid, Spain",Full Time,Entry-level,NaN,"Matplotlib,MongoDB,NumPy,Pandas,Power BI,Python",",,,,"
815,Civis Analytics,Lead Applied Data Scientist (Experience with M...,Remote,Full Time,Senior-level,NaN,"Causal inference,Computer Science,Consulting,D...","401(k) matching,Career development,Competitive..."
...,...,...,...,...,...,...,...,...
3184,Brightspeed,"Senior Data Engineer, Customer Data Platform","Charlotte, NC, United States",Full Time,Senior-level,115K+ *,"Agile,CX,Data warehouse,ELT,ETL,GCP","Competitive pay,Equity,Health care,Salary bonu..."
3189,6point6,Data Analyst,"London, United Kingdom",Full Time,NaN,75K+ *,"Agile,Architecture,Big Data,Data analysis,Engi...","Career development,Competitive pay,Equity,Flex..."
3194,Experian,Cloud Data Analyst,"Heredia, Costa Rica",Full Time,Senior-level,92K+ *,"AWS,Big Data,Computer Science,GCP,Snowflake,SQL","Equity,Medical leave,Salary bonus,,"
3195,Locus Robotics,"Robotics Engineer, Sensors","Wilmington, MA, United States",Full Time,Senior-level,62K+ *,"E-commerce,Engineering,Linux,Python,Robotics,S...",",,,,"
3197,Shippeo,Senior Data Engineer,"Paris, France",Full Time,Senior-level,115K+ *,"Airflow,Architecture,BigQuery,CI/CD,Computer S...",",,,,"

In [159]:
df_clean = df_clean.drop_duplicates()
df_clean

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

<h3>Looking for missing values</h3>

In [160]:
df_clean[(df_clean['Salary'].isna())]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,NaN,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,NaN,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
39,Angi,Senior Data Scientist,"Indianapolis, IN - Hybrid",Full Time,Senior-level,NaN,"Big Data,Data Mining,Machine Learning,Mathemat...","401(k) matching,Career development,Competitive..."
44,REWE International Dienstleistungsgesellschaft...,Junior Data Science Engineer (m/w/x),"Wien, Austria",Full Time,Entry-level,NaN,"CI/CD,Computer Science,Data pipelines,Deep Lea...",",,,,"
75,Metiora,Data Analyst Intern,"Madrid, Spain",Full Time,Entry-level,NaN,"Matplotlib,MongoDB,NumPy,Pandas,Power BI,Python",",,,,"
...,...,...,...,...,...,...,...,...
3109,METRO/MAKRO,STAGE 6 mois - Data Scientist Junior H/F,"Nanterre, France",Full Time,Entry-level,NaN,"Big Data,Power BI,Python,R,SQL,",",,,,"
3134,Junglee Games,ETL and Data Warehouse Testing Intern,"Bengaluru, Karnataka, India",Internship,Entry-level,NaN,"Computer Science,Data quality,Data warehouse,E...",",,,,"
3152,Lely,"Stage: Computer Science, Robotics, Computer Vi...","Maassluis, Netherlands",Full Time,Entry-level,NaN,"Computer Science,Computer Vision,Engineering,O...",",,,,"
3159,Deezer,Data Analyst Intern m/f/d - Business,"Paris, France",Internship,Entry-level,NaN,"Data analysis,Data pipelines,Data visualizatio...","Career development,Health care,Insurance,Start..."
3166,DNSFilter,Senior Data Scientist,"Washington, District of Columbia, United State...",Full Time,Mid-level,NaN,"AWS,Computer Science,Data analysis,Data visual...","Career development,Flex hours,Flex vacation,He..."

In [161]:
intern_len = len(df_clean[df_clean['Job Type'] == 'Internship'])
intern_na_len = len(df_clean[(df_clean['Salary'].isna()) & (df_clean['Job Type'] == 'Internship')])
print(f'le nombre des offres internship : {intern_len}, le nombre des offres internship sans salaire : {intern_na_len}')

le nombre des offres internship : 72, le nombre des offres internship sans salaire : 72

In [162]:
# fill na of internship by 0
condition = df_clean['Job Type'] == 'Internship'
df_clean.loc[condition, 'Salary'] = df_clean.loc[condition, 'Salary'].fillna(0)
df_clean[df_clean['Job Type'] == 'Internship']

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,0,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,0,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
170,Wallbox,Analytics Engineer Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,0,"Airflow,BigQuery,CI/CD,Databricks,Data quality...","Career development,Flex hours,Team events,,"
213,Bosch Group,Data Management Internship,"Beograd, Serbia",Internship,Entry-level,0,"Computer Science,Data management,Engineering,E...","Flex hours,,,,"
217,Wallbox,Data Analyst Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,0,"Economics,Engineering,Machine Learning,Mathema...","Career development,Flex hours,Team events,,"
...,...,...,...,...,...,...,...,...
2884,Plantix,Data Analyst Intern,"Indore, India",Internship,Entry-level,0,"Computer Science,Data analysis,Data Analytics,...",",,,,"
3073,Definitive Logic,Data Science Intern,"Arlington, VA",Internship,Entry-level,0,"Big Data,Consulting,Consulting firm,Data analy...","Career development,Competitive pay,Flex hours,..."
3107,Barbaricum,AI Intern (ChatGPT Specialist),Remote,Internship,Entry-level,0,"APIs,ChatGPT,Engineering,GPT,GPT-3,GPT-4","Career development,,,,"
3134,Junglee Games,ETL and Data Warehouse Testing Intern,"Bengaluru, Karnataka, India",Internship,Entry-level,0,"Computer Science,Data quality,Data warehouse,E...",",,,,"
3159,Deezer,Data Analyst Intern m/f/d - Business,"Paris, France",Internship,Entry-level,0,"Data analysis,Data pipelines,Data visualizatio...","Career development,Health care,Insurance,Start..."

In [163]:
df_clean[df_clean['Job Type'].isna()]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
797,NaN,NaN,NaN,NaN,NaN,NaN,",,,,,",",,,,"

In [164]:
# delete the last row 
df_clean.drop(df_clean[df_clean['Job Type'].isna()].index, inplace=True)
df_clean[df_clean['Job Type'].isna()]

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Requirment of the company , Facilities]
Index: []

In [165]:
df_clean[df_clean['Experience level'].isna()]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
11,NielsenIQ,Data Analyst - Revenue Optimizer,"Toronto, ON, Canada",Full Time,NaN,80K+ *,"Business Analytics,Business Intelligence,Data ...","Career development,Startup environment,,,"
18,Issuu,BI Analyst,Braga,Full Time,NaN,48K+ *,"Business Analytics,Business Intelligence,Data ...","Competitive pay,Equity,Health care,Insurance,"
36,Bosch Group,Data Science Lead (Hybrid),"Mount Prospect, IL, United States",Full Time,NaN,63K+ *,"A/B testing,Data visualization,Economics,Engin...","Career development,Competitive pay,Health care,,"
69,SSENSE,"Data Analyst, Customer Experience","Montreal, QC, Canada",Full Time,NaN,80K+ *,"Business Intelligence,Computer Science,CX,Data...","Career development,Startup environment,,,"
...,...,...,...,...,...,...,...,...
3149,Syngenta Group,Agronomy Data Scientist (M/W) - CDI,"Saint-Sauveur, France",Full Time,NaN,90K+ *,"Computer Science,D3,Data analysis,Data Mining,...","Career development,,,,"
3157,Precision for Medicine,Data Engineer,"Remote, United States",Full Time,NaN,70K+,"AWS,Biology,Data management,Git,Linux,MySQL","Health care,Insurance,Parental leave,Salary bo..."
3163,Informa Group Plc.,Data Operations Engineer,"Toronto, ON, Canada",Full Time,NaN,60K+ *,"Agile,AWS,DataOps,Engineering,ETL,Pipelines","Career development,Flex hours,Flex vacation,He..."
3172,Precision Medicine Group,Data Engineer,"Remote, United States",Full Time,NaN,70K+,"AWS,Biology,Data management,Git,Linux,MySQL","Health care,Insurance,Parental leave,Salary bo..."
3177,MUFG Investor Services,Data Engineer (Contractor),"Limassol, Cyprus",Full Time,NaN,95K+ *,"Agile,Computer Science,Engineering,ETL,Python,","Competitive pay,,,,"

In [166]:
# Replace missing experience levels with "Not-Specified"
df_clean['Experience level'].fillna('Not-Specified', inplace=True)
df_clean[df_clean['Experience level'].isna()]

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Requirment of the company , Facilities]
Index: []

<h3>Manage Salary column infos</h3>

In [167]:
df_clean['Salary'].unique().tolist()

[' 48K+ *',
 ' 90K+ *',
 ' 108K+',
 ' 184K+',
 ' 39K+ *',
 0,
 ' 140K+',
 ' 40K+ *',
 ' 80K+ *',
 ' 35K+ *',
 ' 62K+ *',
 ' 159K+',
 ' 97K+',
 ' 92K+ *',
 ' 129K+ *',
 ' 115K+ *',
 ' 44K+ *',
 ' 73K+ *',
 ' 59K+ *',
 ' 106K+',
 ' 105K+ *',
 ' 55K+ *',
 ' 110K+ *',
 ' 63K+ *',
 ' 49K+ *',
 ' 180K+',
 nan,
 ' 127K+',
 ' 60K+',
 ' 45K+ *',
 ' 135K+',
 ' 69K+ *',
 ' 176K+',
 ' 65K+ *',
 ' 51K+ *',
 ' 67K+',
 ' 104K+',
 ' 105K+',
 ' 166K+',
 ' 131K+ *',
 ' 115K+',
 ' 43K+',
 ' 81K+ *',
 ' 96K+ *',
 ' 56K+ *',
 ' 130K+',
 ' 131K+',
 ' 50K+ *',
 ' 100K+',
 ' 60K+ *',
 ' 52K+',
 ' 135K+ *',
 ' 76K+',
 ' 172K+',
 ' 119K+',
 ' 125K+',
 ' 116K+',
 ' 77K+ *',
 ' 74K+ *',
 ' 70K+ *',
 ' 120K+',
 ' 189K+',
 ' 149K+',
 ' 110K+',
 ' 90K+',
 ' 30K+ *',
 ' 167K+',
 ' 236K+',
 ' 179K+',
 ' 80K+',
 ' 200K+',
 ' 139K+',
 ' 129K+',
 ' 113K+',
 ' 150K+',
 ' 158K+',
 ' 40K+',
 ' 184K+ *',
 ' 133K+',
 ' 78K+',
 ' 36K+ *',
 ' 122K+ *',
 ' 81K+',
 ' 59K+',
 'EUR 81K',
 ' 190K+',
 ' 72K+',
 ' 136K+',
 ' 102K+ *',
 ' 31K+ *',
 ' 89K+ *',
 ' 156K+',
 ' 107K+',
 ' 199K+',
 ' 224K+',
 ' 142K+',
 'GBP 35K',
 ' 183K+',
 ' 164K+',
 'EUR 130K+',
 ' 174K+',
 ' 84K+',
 ' 79K+',
 ' 103K+ *',
 ' 143K+',
 ' 175K+',
 ' 170K+',
 ' 141K+ *',
 ' 283K+',
 ' 151K+',
 ' 111K+',
 ' 51K+',
 ' 96K+',
 ' 148K+',
 ' 204K+',
 ' 202K+',
 ' 295K+',
 ' 68K+',
 ' 195K+',
 ' 145K+',
 ' 50K+',
 ' 267K+',
 ' 200K+ *',
 ' 109K+ *',
 ' 310K+',
 ' 153K+',
 ' 154K+',
 ' 86K+',
 ' 70K+',
 ' 207K+',
 ' 85K+',
 ' 66K+',
 ' 315K+',
 ' 160K+',
 ' 66K+ *',
 ' 144K+',
 ' 245K+',
 ' 126K+',
 ' 63K+',
 ' 182K+',
 ' 157K+',
 ' 214K+',
 ' 173K+',
 'EUR 80K+',
 ' 120K+ *',
 'EUR 36K+',
 'EUR 60K+',
 'GBP 42K+',
 ' 112K+',
 ' 124K+',
 ' 185K+',
 ' 147K+',
 ' 122K+',
 'GBP 80K+',
 ' 144K+ *',
 ' 146K+',
 ' 165K+',
 ' 75K+',
 ' 163K+',
 ' 193K+',
 ' 109K+',
 'GBP 60K+',
 ' 218K+',
 ' 230K+',
 ' 168K+',
 ' 134K+',
 ' 225K+',
 ' 253K+',
 ' 83K+',
 ' 235K+',
 ' 187K+',
 ' 227K+',
 ' 73K+',
 ' 61K+ *',
 ' 171K+',
 ' 234K+',
 'GBP 45K+',
 ' 155K+',
 ' 71K+',
 ' 94K+',
 ' 57K+ *',
 ' 197K+',
 ' 102K+',
 ' 82K+',
 ' 177K+',
 'GBP 50K+',
 ' 93K+',
 ' 55K+',
 ' 121K+',
 ' 42K+ *',
 ' 45K+',
 ' 75K+ *',
 ' 152K+',
 ' 161K+',
 ' 155K+ *',
 ' 132K+',
 'GBP 55K+',
 ' 138K+',
 ' 196K+',
 ' 205K+',
 'GBP 65K+',
 ' 178K+',
 ' 95K+',
 ' 33K+ *',
 ' 54K+ *',
 ' 98K+',
 ' 141K+',
 ' 95K+ *',
 ' 65K+',
 'GBP 55K',
 ' 99K+',
 ' 220K+',
 ' 74K+',
 ' 103K+',
 ' 100K+ *',
 'GBP 51K+',
 ' 128K+',
 'GBP 54K+',
 ' 123K+',
 ' 117K+']

In [168]:
# # extract numerical values and multiply by 1000
# df_clean['Min_Salary_Year'] = df_clean['Salary'].str.extract('(\d+[\.,]?\d*)', expand=False).astype(float) * 1000
# # move Salary_num column to first position
# Min_Salary_Year = df_clean.pop('Min_Salary_Year')
# df_clean.insert(6, 'Min_Salary_Year', Min_Salary_Year)
# df_clean

In [169]:
from forex_python.converter import CurrencyRates

cr = CurrencyRates()

# Function to extract the numeric value from the salary string
def extract_salary(salary):
    salary = salary.replace('K', '').replace('+', '').replace('*', '').strip()
    if 'EUR' in salary:
        salary = salary.replace('EUR', '').strip()
    elif 'GBP' in salary:
        salary = salary.replace('GBP', '').strip()
    return float(salary) * 1000

# Function to convert currency to numeric value
def convert_to_numeric(salary):
    salary = str(salary)
    sal = 0
    if 'GBP' in salary:
        # convert salary to USD using forex_python.converter lib
        return round(cr.convert('GBP', 'USD', extract_salary(salary)))
    elif 'EUR' in salary:
        # convert salary to USD using forex_python.converter lib
        return round(cr.convert('EUR', 'USD', extract_salary(salary)))
    else:
        return extract_salary(salary)  # If currency is not specified, assume it's USD

# Apply the function to 'Salary' column and store the result in 'Min_Salary_Year'
df_clean['Min_Salary_Year'] = df_clean['Salary'].apply(convert_to_numeric)
# move Salary_num column to first position
Min_Salary_Year = df_clean.pop('Min_Salary_Year')
df_clean.insert(6, 'Min_Salary_Year', Min_Salary_Year)
df_clean

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [170]:
df_clean[(pd.notna(df_clean['Salary'])) & (df_clean['Salary'].str.startswith('EUR'))]

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Requirment of the company,Facilities
324,Bosch Group,Master Data Management Plants (f/m/div.) (sala...,"Karlsruhe, Germany",Full Time,Entry-level,EUR 81K,87318.0,"Agile,Computer Science,Data analysis,Data mana...","Career development,Competitive pay,Salary bonus,,"
456,Mozilla,Sr. Staff Machine Learning Engineer,Remote Germany,Full Time,Senior-level,EUR 130K+,140140.0,"Architecture,AWS,Azure,Big Data,Computer Scien...","Career development,Flex vacation,Health care,H..."
1057,Mozilla,"Staff Product Manager, Machine Learning and Re...",Remote Germany,Full Time,Senior-level,EUR 80K+,86240.0,"Agile,Computer Science,Data management,Enginee...","Career development,Flex vacation,Health care,H..."
1100,Metiora,Data Scientist Senior,"Madrid, Spain",Full Time,Senior-level,EUR 36K+,38808.0,"Deep Learning,Machine Learning,Matplotlib,Mong...",",,,,"
1117,CybelAngel,Senior Data Engineer,"Paris, Île-de-France, France - Remote",Full Time,Mid-level,EUR 60K+,64680.0,"Airflow,BigQuery,Bigtable,Data analysis,Data g...","Career development,Equity,Salary bonus,,"
1280,Evolution,Software Developer in Data Science Team,"Riga, Latvia",Full Time,Senior-level,EUR 36K+,38808.0,"Agile,AWS,Big Data,Classification,Clustering,C...","Career development,Competitive pay,Health care..."
1467,CITECH,Ingénieur Data / Power BI (H/F),"Dijon, France",Full Time,Senior-level,EUR 60K+,64680.0,"Azure,Data Analytics,KPIs,PostgreSQL,Power BI,...",",,,,"

In [171]:
df_clean.describe()

       Min_Salary_Year
count      2896.000000
mean      87871.062500
std       43482.694165
min           0.000000
25%       56000.000000
50%       74000.000000
75%      115000.000000
max      315000.000000

In [172]:
# check if salary has Asterisk (*) or not 
df_clean['Salary_conditions'] = df_clean['Salary'].str.endswith('*')
Salary_condition = df_clean.pop('Salary_conditions')
df_clean.insert(7, 'Salary_conditions', Salary_condition)
df_clean

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [173]:
# Save jobs without salary and delete it from the main df 
df_clean_sana = df_clean[df_clean['Salary'].isna()]
df_clean_sana

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
39,Angi,Senior Data Scientist,"Indianapolis, IN - Hybrid",Full Time,Senior-level,NaN,NaN,NaN,"Big Data,Data Mining,Machine Learning,Mathemat...","401(k) matching,Career development,Competitive..."
44,REWE International Dienstleistungsgesellschaft...,Junior Data Science Engineer (m/w/x),"Wien, Austria",Full Time,Entry-level,NaN,NaN,NaN,"CI/CD,Computer Science,Data pipelines,Deep Lea...",",,,,"
75,Metiora,Data Analyst Intern,"Madrid, Spain",Full Time,Entry-level,NaN,NaN,NaN,"Matplotlib,MongoDB,NumPy,Pandas,Power BI,Python",",,,,"
87,Civis Analytics,Lead Applied Data Scientist (Experience with M...,Remote,Full Time,Senior-level,NaN,NaN,NaN,"Causal inference,Computer Science,Consulting,D...","401(k) matching,Career development,Competitive..."
168,Faraday Future,Senior Big Data Engineer,"San Jose, California, United States",Full Time,Senior-level,NaN,NaN,NaN,"Airflow,AWS,Azure,Big Data,Computer Science,Da...","Equity,Relocation support,,,"
...,...,...,...,...,...,...,...,...,...,...
2969,The Allen Institute for AI,Research Engineer - AllenNLP,"Seattle, WA",Full Time,Entry-level,NaN,NaN,NaN,"Architecture,Computer Science,Data analysis,De...","401(k) matching,Career development,Flex hours,..."
3080,DuckDuckGo,"Senior Backend Engineer, AI",Remote job,Full Time,Senior-level,NaN,NaN,NaN,"Engineering,Genetics,Machine Learning,ML model...","Career development,Equity,Flex hours,Flex vaca..."
3109,METRO/MAKRO,STAGE 6 mois - Data Scientist Junior H/F,"Nanterre, France",Full Time,Entry-level,NaN,NaN,NaN,"Big Data,Power BI,Python,R,SQL,",",,,,"
3152,Lely,"Stage: Computer Science, Robotics, Computer Vi...","Maassluis, Netherlands",Full Time,Entry-level,NaN,NaN,NaN,"Computer Science,Computer Vision,Engineering,O...",",,,,"
3166,DNSFilter,Senior Data Scientist,"Washington, District of Columbia, United State...",Full Time,Mid-level,NaN,NaN,NaN,"AWS,Computer Science,Data analysis,Data visual...","Career development,Flex hours,Flex vacation,He..."

In [174]:
df_clean = df_clean.dropna(subset=['Salary'])
df_clean[df_clean['Salary'].isna()]

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Min_Salary_Year, Salary_conditions, Requirment of the company , Facilities]
Index: []

In [175]:
df_clean[df_clean['Salary_conditions'].isna()]
# the result is the rows of Internship so we could replace it by Flase

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,0,0.0,NaN,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,0,0.0,NaN,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
170,Wallbox,Analytics Engineer Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,0,0.0,NaN,"Airflow,BigQuery,CI/CD,Databricks,Data quality...","Career development,Flex hours,Team events,,"
213,Bosch Group,Data Management Internship,"Beograd, Serbia",Internship,Entry-level,0,0.0,NaN,"Computer Science,Data management,Engineering,E...","Flex hours,,,,"
217,Wallbox,Data Analyst Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,0,0.0,NaN,"Economics,Engineering,Machine Learning,Mathema...","Career development,Flex hours,Team events,,"
...,...,...,...,...,...,...,...,...,...,...
2884,Plantix,Data Analyst Intern,"Indore, India",Internship,Entry-level,0,0.0,NaN,"Computer Science,Data analysis,Data Analytics,...",",,,,"
3073,Definitive Logic,Data Science Intern,"Arlington, VA",Internship,Entry-level,0,0.0,NaN,"Big Data,Consulting,Consulting firm,Data analy...","Career development,Competitive pay,Flex hours,..."
3107,Barbaricum,AI Intern (ChatGPT Specialist),Remote,Internship,Entry-level,0,0.0,NaN,"APIs,ChatGPT,Engineering,GPT,GPT-3,GPT-4","Career development,,,,"
3134,Junglee Games,ETL and Data Warehouse Testing Intern,"Bengaluru, Karnataka, India",Internship,Entry-level,0,0.0,NaN,"Computer Science,Data quality,Data warehouse,E...",",,,,"
3159,Deezer,Data Analyst Intern m/f/d - Business,"Paris, France",Internship,Entry-level,0,0.0,NaN,"Data analysis,Data pipelines,Data visualizatio...","Career development,Health care,Insurance,Start..."

In [176]:
df_clean['Salary_conditions'] = df_clean['Salary_conditions'].fillna(False)
df_clean[df_clean['Salary_conditions']]

C:\Users\Youcode\AppData\Local\Temp\ipykernel_26352\4254370764.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
6,Natixis in Portugal,Vendor Management and Data Quality Lead,"Porto, Portugal",Full Time,Entry-level,39K+ *,39000.0,True,"Banking,Data quality,Excel,Security,,","Gear,,,,"
...,...,...,...,...,...,...,...,...,...,...
3179,C3.ai,Lead Data Scientist - Healthcare,"London, UK",Full Time,Senior-level,129K+ *,129000.0,True,"Architecture,Classification,Computer Science,D...","Career development,Competitive pay,,,"
3183,TripAdvisor,Senior Data Engineer - Martech (Viator),"London, United Kingdom",Full Time,Senior-level,115K+ *,115000.0,True,"Airflow,APIs,Architecture,AWS,Business Intelli...","Career development,Competitive pay,Fitness / g..."
3187,Marley Spoon,People Data Specialist,"Lisbon, Lisbon, Portugal",Full Time,Mid-level,70K+ *,70000.0,True,"Data analysis,Excel,Finance,,,","Career development,Equity,Flex hours,Flex vaca..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [177]:
df_clean[df_clean['Job Type'] == 'Internship']

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,0,0.0,False,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,0,0.0,False,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
170,Wallbox,Analytics Engineer Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,0,0.0,False,"Airflow,BigQuery,CI/CD,Databricks,Data quality...","Career development,Flex hours,Team events,,"
213,Bosch Group,Data Management Internship,"Beograd, Serbia",Internship,Entry-level,0,0.0,False,"Computer Science,Data management,Engineering,E...","Flex hours,,,,"
217,Wallbox,Data Analyst Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,0,0.0,False,"Economics,Engineering,Machine Learning,Mathema...","Career development,Flex hours,Team events,,"
...,...,...,...,...,...,...,...,...,...,...
2884,Plantix,Data Analyst Intern,"Indore, India",Internship,Entry-level,0,0.0,False,"Computer Science,Data analysis,Data Analytics,...",",,,,"
3073,Definitive Logic,Data Science Intern,"Arlington, VA",Internship,Entry-level,0,0.0,False,"Big Data,Consulting,Consulting firm,Data analy...","Career development,Competitive pay,Flex hours,..."
3107,Barbaricum,AI Intern (ChatGPT Specialist),Remote,Internship,Entry-level,0,0.0,False,"APIs,ChatGPT,Engineering,GPT,GPT-3,GPT-4","Career development,,,,"
3134,Junglee Games,ETL and Data Warehouse Testing Intern,"Bengaluru, Karnataka, India",Internship,Entry-level,0,0.0,False,"Computer Science,Data quality,Data warehouse,E...",",,,,"
3159,Deezer,Data Analyst Intern m/f/d - Business,"Paris, France",Internship,Entry-level,0,0.0,False,"Data analysis,Data pipelines,Data visualizatio...","Career development,Health care,Insurance,Start..."

In [178]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2896 entries, 0 to 3196
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     2896 non-null   object
 1   Job Title                   2896 non-null   object
 2   Location                    2896 non-null   object
 3   Job Type                    2896 non-null   object
 4   Experience level            2896 non-null   object
 5   Salary                      2896 non-null   object
 6   Min_Salary_Year             2896 non-null   float64
 7   Salary_conditions           2896 non-null   bool
 8   Requirment of the company   2896 non-null   object
 9   Facilities                  2896 non-null   object
dtypes: bool(1), float64(1), object(8)
memory usage: 229.1+ KB

<h3>Gerer les valeurs aberrantes</h3>

In [179]:
import plotly.express as px


# Make a copy of our dataframe
df_new = df_clean.copy()

# Create a box plot
fig = px.box(df_new, y=['Min_Salary_Year'])

# Show the plot
fig.show()

# Define the columns of interest for outlier detection
# columns = ['Salary']

# # Calculate the IQR for the columns
# Q1 = df_new[columns].quantile(0.25)
# Q3 = df_new[columns].quantile(0.75)
# IQR = Q3 - Q1

# # Define the threshold multiplier (k)
# k = 0.5

# # Define the lower and upper bounds
# lower_bound = Q1 - k * IQR
# upper_bound = Q3 + k * IQR

# # Detect outliers based on the defined thresholds
# outliers = ((df_new[columns] < lower_bound) | (df_new[columns] > upper_bound)).any(axis=1)
# print('lower bound :', lower_bound)
# print('upper bound :', upper_bound)

# df_new_clean = df_new.drop(df[outliers].index)

# # Create a box plot
# fig_clean = px.box(df_clean, y=['stars', 'forks', 'issues', 'watchers'])

# # Show the plot
# fig_clean.show()

In [180]:
df_clean[df_clean['Min_Salary_Year'] > 200000]

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
185,Peloton,"Staff Database Reliability Engineer, Datastores",New York City,Full Time,Senior-level,236K+,236000.0,False,"Architecture,AWS,Consulting,Distributed System...","401(k) matching,Competitive pay,Equity,Fertili..."
441,ServiceNow,Principal Machine Learning Engineer - ATG,"Santa Clara, California, United States",Full Time,Senior-level,224K+,224000.0,False,"LLMs,Machine Learning,PhD,Pipelines,Research,T...","401(k) matching,Competitive pay,Equity,Flex ho..."
596,Roblox,"Principal Engineer, Datacenter Software Systems","San Mateo, CA, United States",Full Time,Senior-level,283K+,283000.0,False,"APIs,Engineering,Genetics,Golang,Kubernetes,","Equity,Flex hours,Flex vacation,Health care,Un..."
665,Roblox,"Principal Software Engineer, Applied ML","San Mateo, CA, United States",Full Time,Senior-level,283K+,283000.0,False,"Architecture,Content creation,Deep Learning,Di...","Career development,Conferences,Equity,Flex hou..."
668,Palo Alto Networks,"AI Architect, IT","Santa Clara, CA, United States",Full Time,Senior-level,204K+,204000.0,False,"AI strategy,Architecture,Classification,Comput...","Career development,Medical leave,Salary bonus,..."
684,Asana,"Staff Data Scientist, Business - Sales & Custo...",San Francisco,Full Time,Senior-level,202K+,202000.0,False,"Causal inference,Classification,Clustering,Com...","Equity,Health care,,,"
688,Roblox,Senior Data Scientist- Creator Content,"San Mateo, CA, United States",Full Time,Senior-level,295K+,295000.0,False,"A/B testing,Airflow,Big Data,Causal inference,...","Career development,Equity,Flex hours,Flex vaca..."
720,Roblox,Principal Machine Learning Engineer - Personal...,"San Mateo, CA, United States",Full Time,Senior-level,283K+,283000.0,False,"Computer Science,Engineering,Genetics,Machine ...","Career development,Equity,Flex hours,Flex vaca..."
732,Roblox,"Principal Software Engineer, Data Engineering","San Mateo, CA, United States",Full Time,Senior-level,283K+,283000.0,False,"Airflow,Architecture,AWS,Azure,Dagster,Data pi...","Career development,Equity,Flex hours,Flex vaca..."
736,Roblox,Principal Machine Learning Engineer- Economy,"San Mateo, CA, United States",Full Time,Senior-level,267K+,267000.0,False,"Computer Science,Data analysis,Data pipelines,...","Career development,Equity,Flex hours,Flex vaca..."
744,Roblox,Principal Deep Learning Engineer - Computer Vi...,"San Mateo, CA, United States",Full Time,Senior-level,283K+,283000.0,False,"Computer Vision,Deep Learning,Genetics,Machine...","Career development,Equity,Flex hours,Flex vaca..."
785,Roblox,Senior Data Scientist - Discovery Experiences,"San Mateo, CA, United States",Full Time,Senior-level,295K+,295000.0,False,"Airflow,Big Data,Causal inference,Computer Sci...","Career development,Equity,Flex hours,Flex vaca..."
789,Roblox,Senior Data Scientist - Creator Success,"San Mateo, CA, United States",Full Time,Senior-level,310K+,310000.0,False,"A/B testing,Airflow,Big Data,Causal inference,...","Career development,Equity,Flex hours,Flex vaca..."
841,Rokt,Senior/Staff Machine Learning Engineer - Ecomm...,"Sydney, New South Wales, Australia",Full Time,Mid-level,207K+,207000.0,False,"Agile,Architecture,Bayesian,Computer Science,C...","Career development,Equity,Fitness / gym,Health..."
868,Roblox,"Senior/Principal ML Engineer, Content Understa...","San Mateo, CA, United States",Full Time,Senior-level,315K+,315000.0,False,"Architecture,Computer Vision,Deep Learning,Gen...","Career development,Equity,Flex hours,Flex vaca..."
904,Roblox,Senior Machine Learning Engineer - Search,"San Mateo, CA, United States",Full Time,Senior-level,267K+,267000.0,False,"Computer Science,Deep Learning,Engineering,Gen...","Career development,Equity,Flex hours,Flex vaca..."
934,Block,"Senior Data Science Manager, Marketing","San Francisco, CA, United States",Full Time,Senior-level,245K+,245000.0,False,"Airflow,Banking,BigQuery,Blockchain,Crypto,Eng...","Career development,Equity,Flex vacation,Health..."
944,Credera,Principal - Data Science,Los Angeles,Full Time,Senior-level,224K+,224000.0,False,"Architecture,AWS,Azure,Cluster analysis,Comput...","401(k) matching,Career development,Competitive..."
1022,Snowflake Inc.,Staff Software Engineer - Streaming Data Pipel...,"Bellevue, WA, USA",Full Time,Senior-level,214K+,214000.0,False,"Computer Science,Data pipelines,Distributed Sy...","Equity,Salary bonus,,,"
1389,Roblox,"Senior Machine Learning Engineer, Communicatio...","San Mateo, CA, United States",Full Time,Senior-level,218K+,218000.0,False,"ASR,Computer Vision,Data pipelines,Deep Learni...","401(k) matching,Career development,Conferences..."
1400,Nextdoor,Head of Data Science and Analytics,"San Francisco, CA",Full Time,Executive-level,230K+,230000.0,False,"Big Data,Computer Science,Data governance,Data...","Career development,Equity,Health care,Startup ..."
1460,CLEAR,Principal Data Engineer,"New York City, United States (Hybrid)",Full Time,Senior-level,225K+,225000.0,False,"Airflow,Business Intelligence,Dagster,Data gov...","401(k) matching,Career development,Fertility b..."
1486,Roblox,Senior Data Scientist - Social Communications,"San Mateo, CA, United States",Full Time,Senior-level,253K+,253000.0,False,"A/B testing,Big Data,Causal inference,Computer...","Career development,Equity,Flex hours,Flex vaca..."
1513,"Justworks, Inc.","Senior Manager, Data Science",New York City,Full Time,Senior-level,235K+,235000.0,False,"Engineering,Machine Learning,Predictive modeli...","Career development,Startup environment,Team ev..."
1554,Nextdoor,Principal Machine Learning Engineer - Core Inf...,"San Francisco, CA",Full Time,Senior-level,227K+,227000.0,False,"AWS,Computer Science,Core ML,Distributed Syste...","Career development,Equity,Health care,Salary b..."
1683,Cruise LLC,"Senior Staff Applied Research Scientist, Perce...","San Francisco, CA",Full Time,Senior-level,234K+,234000.0,False,"Computer Vision,Drivers license,Lidar,Machine...","Career development,Competitive pay,Conferences..."
1724,OpenAI,"Research Engineer, Privacy","San Francisco, California, United States",Full Time,Senior-level,245K+,245000.0,False,"AGI,Deep Learning,Distributed Systems,LLMs,Mac...","Career development,Equity,Flex vacation,Health..."
1807,Block,"Data Science Manager, Marketing","San Francisco, CA, United States",Full Time,Senior-level,245K+,245000.0,False,"Airflow,Banking,BigQuery,Blockchain,Crypto,Eng...","Career development,Equity,Flex vacation,Health..."
2196,Airbnb,"Senior Engineering Manager, Data Management",Remote,Full Time,Senior-level,235K+,235000.0,False,"Agile,AWS,Azure,Classification,Computer Scienc...","Career development,Salary bonus,,,"
2284,Anaplan,"Sr. Data Integrations Engineer, IT Enterprise ...","San Francisco, United States",Full Time,Senior-level,202K+,202000.0,False,"APIs,Architecture,Computer Science,CX,Data gov...",",,,,"
2518,Schonfeld,Senior Data Engineer,"New York City, United States",Full Time,Senior-level,205K+,205000.0,False,"Agile,AWS,Business Intelligence,Computer Scien...","Competitive pay,,,,"
2731,Zoox,Senior Stability Analytics Engineer,"Foster City, CA",Full Time,Senior-level,205K+,205000.0,False,"Airflow,Autonomous Driving,Data analysis,Data ...","Career development,Equity,Health care,Insuranc..."
2863,Airbnb,"Senior Staff Data Scientist - Inference, Marke...","San Francisco, CA",Full Time,Senior-level,220K+,220000.0,False,"Bayesian,Causal inference,Economics,LLMs,Machi...","Conferences,Salary bonus,,,"
3030,DataStax,Presales Data Architect - Streaming (Remote US),"Santa Clara, CA, United States",Full Time,Senior-level,204K+,204000.0,False,"AWS,Azure,Distributed Systems,Engineering,GCP,...","Career development,,,,"

<h3>Job Types list</h3>

In [181]:
df_clean['Job Type'].unique().tolist()

['Full Time', 'Internship', 'Part Time']

<h3>Job Experience level list</h3>

In [182]:
df_clean['Experience level'].unique().tolist()

['Entry-level',
 'Not-Specified',
 'Mid-level',
 'Senior-level',
 'Executive-level']

<h3>Job titles list</h3>

In [183]:
df_clean['Job Title'].unique().tolist()

['Clinical Data Analyst',
 'AML/CFT & Data Analyst',
 'Machine Learning Engineer',
 'Application Developer & Data Analyst',
 'Data Engineer Full time (Public Sector) USA',
 'Sr Staff Data Scientist - ATG',
 'Vendor Management and Data Quality Lead',
 'Intern (Business Intelligence Service Support)',
 'Summer 2023 Data Engineering Intern',
 'Principal Cloud Data Engineer (Prisma Access)',
 'Data Scientist (TE-CRG-GLO-2023-19-GRAP)',
 'Data Analyst - Revenue Optimizer',
 'Graduate Power BI Developer',
 'SAP Consultant - Product Data Management',
 'PreMaster Programm - Data Analytics and Visualization',
 'Staff Data Scientist - ATG',
 'Senior Data Analyst - Sales',
 'BI Analyst',
 'Data Scientist | Insights (f/m/d) - GER, UK, NL, PL',
 'Senior Data Analyst (Remote within EMEA)',
 'Senior Data Engineer (Evergreen)',
 'Data Management Scrum Master',
 'Rotational Development Program - Artificial Intelligence and Machine Learning Trainee',
 'Data Engineer Scientist',
 'Data Scientist (Elasticsearch)',
 'Data Engineer F/H',
 'BI Developer',
 'Data Scientist - Fraud Risk',
 'QuintoAndar - Senior Data Analyst',
 'ML Research Engineer',
 'Principal Engineer, Data Project Management',
 'Senior Data Engineer',
 '(Senior) Digital Analytics Engineer',
 'Senior Software Engineer (Data Pipeline)',
 'Senior Data Scientist',
 'Data Science Lead (Hybrid)',
 'Business Intelligence Analyst',
 'Lead Business Intelligence Analyst',
 'Sr Data Engineer',
 'Data Modeler',
 'Data Engineer',
 'VP, Actuarial Modeling and Data Management',
 'Healthcare Data Analyst',
 'Data Scientist',
 'Data Analyst | Marketing or Sales (f/m/d) - GER, UK, NL, PL',
 'Business Intelligence Expert',
 'Senior Data Analyst',
 'Principle MLOps Engineer',
 'Machine Learning Research Engineer, Generative AI',
 'Data Analyst - Product Innovation',
 'Lead Data Scientist',
 'Data Product Owner',
 'Bi Analyst Jr - 24170',
 'HTML Developer',
 'Business Intelligence Developer',
 'Data Scientist, Marketing Analytics',
 'Senior Manager - AML/CFT & Data Analyst',
 'Senior Data Visualization Analyst',
 'Senior Data Engineer (Remote)',
 'Customer Data Engineer',
 'Data Engineer- Data Platform',
 'Digital Marketing Lead (ZibraAI)',
 'Staff Data Scientist - Marketing',
 'Senior Sales Business Intelligence Manager',
 'Data Analyst, Customer Experience',
 'ETAS Test Lead - Autonomous Driving Solutions',
 'Sr. Data Engineer',
 'Specialist Solutions Architect - MLOps',
 'Data Scientist, Terminal',
 'React Native Engineer - Mobile (Dubai)',
 'Artificial Intelligence Lead | KPMG Futures',
 'Jr. CRM Data Quality Specialist',
 'Data Management Consultant Banking (f/d/m) Financial Services Data Platform FSDM',
 'Director, Artificial Intelligence (AI)',
 'Intermediate BI Developer',
 'Senior Business Intelligence Analyst',
 'Data Analyst',
 'Staff Machine Learning Engineer',
 'Data Analyst (Remote)',
 'Data Engineer I',
 'Cloud Database Analyst',
 'Senior Machine Learning Engineer',
 'Junior Data Analyst',
 'Financial Data Analyst',
 'Senior Consultant in Data science',
 'Staff Clinical Data Manager # 3073',
 'HR Data Analyst',
 'Consultant in Data Science',
 'Staff Engineer, Data Platform',
 'Senior Data Scientist, Marketing Analytics',
 'Director, IVA and AI Solutions - Professional Services Practice Lead',
 'Lead Data Analyst(Marketing/Growth Analytics)',
 'Data Analyst, Service Analytics',
 'Amazon Robotics - Hardware Engineer Co-op (July-December 2023), Amazon Robotics',
 'Senior/Staff Data Engineer',
 'Data Product Manager',
 'FSA (FinTech) - Quantitative Machine Learning Specialist & Software Developer',
 'Data Engineer Analyst',
 'Software Engineer (Data Pipeline)',
 'Associate Data Scientist',
 'Data Engineering Analyst',
 'Talan Consulting \x96 Consultant Senior/Manager \x96 Data Strategy (H/F)',
 'Enterprise Data Architect - 6 month Contract',
 'Data Engineer II',
 'Data Scientist/Machine Learning Engineer',
 'Senior Data Scientist, Product',
 'Senior Technical Support Engineer, DataSet',
 'Finance Business Intelligence , Operations Finance',
 'Staff Machine Learning Modeler, Financial Crimes',
 'Data Engineer - Music',
 'Data Manager',
 'Salesforce Administrator/Data Specialist',
 'Data Engineer (Starlink)',
 'Data Engineer confirmé BI - BIG DATA',
 'Director, Spark Technical Solutions',
 'Middle Data Engineer (Healthcare domain)',
 'Senior Data Analyst (Pricing)',
 'People Analytics Data Visualization Senior Associate (Open to Remote)',
 'Développeur Power BI - H/F',
 'Product Manager - Experts & Artificial Intelligence',
 'Group Manager Data Analytics India',
 'Vice President Director, Data Scientist',
 'Business Intelligence Analyst, AWS Cloud Logistics',
 'Scientist/Senior Scientist, Machine Learning',
 'Principal Site Reliability Engineer, Datastores (Hybrid)',
 'Machine Learning Manager (Systems)',
 'Consultant Data Engineer',
 'Machine Learning Engineer L3',
 'Data Analyst Coches.net',
 'Senior Product Marketing Manager, Conversational Intelligence & AI Products',
 'Graduate Data Analyst',
 'Analytics Engineer',
 'Specialist Solutions Architect - Data Engineering (Public Sector)',
 'Senior Data Quality Assurance Specialist',
 'Senior Site Reliability Engineer, Datastores (Hybrid)',
 'Customer Success Junior ML Engineer, Onboarding Specialist',
 'Senior Data Science Engineer',
 'Digital Analytics Engineer',
 'Senior Data Scientist, Marketing',
 'Analytics Engineer Intern',
 'Master Data Team Manager',
 'Senior Data Engineer, Enterprise Engineering',
 'Data Operations Associate',
 'Staff ML Engineer (8627)',
 'Specialist Architect : Big Data',
 'Research Engineer in Multi Agent Path Finding for Mobile Robots (f/m/div.)',
 'Product Marketing Manager, Data Engineering',
 'CV/ML Engineer for 3D Virtual Humans - Remote Europe',
 'Senior Data Engineer - Data Bricks',
 'Director AI Science',
 'Researcher- Business Intelligence',
 'Machine Learning Research Scientist',
 'Staff Database Reliability Engineer, Datastores',
 'Senior Data Scientist - Viator, London, Oxford, UK Remote',
 'Data Analyst (Bangkok Based, Relocation Provided)',
 'Associate AI/ML Engineer',
 'Azure Data Architect',
 'Senior Applied Data Scientist',
 'Senior Scientist, Decision Sciences',
 'Data Operations & Insights Manager',
 'Principal ML Engineer - AI Platform',
 'Principal Product Marketing Manager, AI & Machine Learning',
 'Technical Support Specialist (Robotics) - EU - Remote',
 'Data Architect',
 'Operations Data Analyst (Tableau)',
 'Head of Applied AI/ML',
 'Software Engineer - Autonomy Metrics',
 'Product Manager- Data Visualization & Analytics',
 'Data Science in Product Design Engineering',
 'Senior Director of Product - Machine Learning',
 'Senior Data Analyst (Bangkok Based, Relocation Provided)',
 'Operations Planner Data Management Technician',
 'Data Operations Client Onboarding',
 'Machine Learning Research Scientist - Reinforcement Learning',
 'Machine Learning Engineer, Generative AI',
 'Data Management Internship',
 'Sr Big Data Engineer',
 'Consulting - Robotics Process Automation (RPA) Developer',
 'Data Analyst Intern',
 'Data Engineer with Databricks - Empower (remote/Costa Rica-based)',
 'Databricks and Scala Engineer geospatial',
 'Software Engineer, Data Platform',
 'Senior Manager Data Engineering',
 'Senior Data Engineer (P3949).',
 'Junior Data Engineer Customer Analytics',
 'Chief Engineer, Autonomy (R2020)',
 'Senior Research Data Analyst',
 'Sport data operator',
 'Associate Director | Artificial Intelligence Lead | KPMG Futures',
 'Research Scientist',
 'Data Engineering Manager',
 'Principal Engineer - Data Integrations',
 'Python Engineer - Machine Learning Specialist (Remote)',
 'Senior Applied Scientist - Document Intelligence',
 'Data Analyst, Go Live',
 'Senior Data Scientist (M/F)',
 'Researcher/Senior Researcher \x96 Natural Language Processing and Text Analytics',
 'Data Analyst (Customer Service Industry, Mandarin Support)',
 'Manager Data Strategy',
 'Business Partner, Data Analysis',
 'Data Engineer - Remote',
 'Marketing Data Analyst',
 'Post-Doctoral Fellow or Associate - Agronomy Data Scientist',
 'Sr. Data Scientist',
 'Researcher- Computer Vision',
 'Data Science Lead',
 'Senior Data Scientist, Product Analytics',
 'Software Engineer - Machine Learning, Granica Screen',
 'Data Engineer - Türkiye',
 'SDE-III, Data Engineering',
 'Oracle Data Modeler / PL/SQL - Data warehouse',
 'Product Data Specialist (HW)',
 'SparkCognition Director of Accounting - Controller',
 'Senior Machine Learning Scientist (USA REMOTE)',
 'Senior Data Scientist (P171).',
 'Cloud Data Analyst Engineer (FinOps)',
 'DataOps Engineer',
 'Robotic Research Engineer - Mechatronics',
 'Manager - Applied Data Scientist',
 '??·????/Business Intelligence Engineer, Japan Operations Finance',
 'Senior Data Engineer - (Christchurch)',
 'Senior Software Engineer - Data Architecture skills',
 'BI Developer, Analytics',
 'Supervisão de Business Intelligence (foco em mídia/comunicação)',
 'SME Consultant for Data Analytics',
 'Senior Data Strategist',
 'Data Analyst (Oslo-based)',
 'Senior AI Engineer',
 'SQL Data Engineers',
 'Subsurface Data Manager',
 'Senior Data Analyst with Python SQL - MS- Bangalore',
 'Data Analyst Supply Chain Management (f/m/d)',
 'Senior Data Quality Developer',
 'Remote Intermediate Fullstack Engineer (AI Team)',
 'iOS Engineer (Dubai)',
 'Business Intelligence Data Strategist',
 'Data Engineer Customer Analytics',
 'Sr. BI Analyst',
 'Data Scientist Generalist',
 'Business Intelligence Analyst - Sales Operations',
 'Senior Developer - Data Engineer (AWS/Python/Node)',
 'Senior Data Scientist: NLP',
 'Data Analyst (Allegro Pay)',
 'Data Analyst (DEA)',
 'Manager, Business Operations - Diagnostic Imaging and Laboratory',
 'Data Science Consultant',
 'Customer Master Data Analyst',
 'Senior Data Quality Engineer',
 'Senior Data Analyst - Hybrid',
 'Computer Vision Researcher',
 'Research Scientist - Machine Learning and Algorithms',
 'Senior Applied Scientist',
 'Tableau/BI Developer',
 'Data Scientist (Real-time Ops)',
 'Master Data Management Plants (f/m/div.)',
 'Coordinator of Data Operations',
 'Data Science Team Lead',
 'AI Programmer VR (UE)',
 'Data Engineer (Python) - Payments',
 'Master Data Management Plants (f/m/div.) (salary: ~81.000 EUR p.a.*)',
 'Data Analyst Pleno',
 'Research Engineer PEM Electrolyzer (f/m/div.)',
 'Consulting - Data Engineer',
 'Data Analyst Intern - Product Analytics',
 'Enterprise Data Architect',
 'TTGP Fleet Data Manager/Senior JICO',
 'Senior Software Engineer - Data analytics',
 'Staff Technical Product Manager, AI Platform and Solutions',
 'Big Data Engineer - PySpark',
 'Consultant / Sr Consultant - QA Data Engineer',
 'Computational Biologist, Translational Science - Location Flexible',
 'Lead Software Engineer, ML Infrastructure',
 'Senior Insurance Data Scientist',
 'Principal Engineer, Data Systems',
 'Clinical Data Manager',
 'Data Analyst I - Fraud',
 'Senior Data Scientist, Operations',
 'Software Engineer - Data Platform (Python, Cloud, Big Data)',
 'Senior Cloud Data Analyst Engineer (FinOps)',
 'Data Engineer - Bulgaria',
 'Power BI Developer',
 'Consultant, Data Analytics',
 'Junior MLOps - Intern',
 'Business Intelligence Internship (Summer 23/24)',
 'Business Analyst (Tech/AI)',
 'Senior Applied Scientist, Amazon',
 'Specialist Solutions Architect - Data Engineering (Financial Services)',
 'Data Scientist eBike Systems (f/m/div.)',
 'Graduate Data Scientist',
 'Robotics Engineer, Sensors',
 'Contract: Data Infrastructure Engineer',
 'AI/ML Modeling, Simulation and Analysis Engineer (Senior)',
 'Cloud Data Engineer',
 'Head of Data Science, Analytics and BI',
 'Clinical Data Reporter',
 'Especialista em Auditoria Interna - Data Analytics',
 'Engineering Team Lead, Imaging Tech',
 'Senior ML Engineer - NLP',
 'Data Analyst (Aberdeen-based)',
 'Principal Engineer, Data and Control Systems',
 'Data Scientist (Pricing)',
 'Head of AML Operations (m/f/d)',
 'Data Engineer - 14072',
 'Data Analyst (Reporting and Insights)',
 'Sr. Manager (AI/ML)',
 'Data Scientist, Decisions - Rider',
 'Data Architect - SME',
 'Senior SW Engineer (Machine Learning)',
 '(Global) Senior Research Scientist',
 'Staff Data Scientist, Model Risk Management',
 'Graduate Imaging Geophysicist',
 'Architecte Plateforme Big Data / DevOps - F/H',
 'Data Analyst - Retention',
 'Lead Machine Learning Engineer',
 'Data Developer',
 'Data Analyst - Digital Marketing (all genders)',
 'Android Engineer (Dubai)',
 'Data Specialist - Governance',
 'Senior Robotics Process Automation Developer',
 'Technical Product Manager, Data Engineering',
 'Sr. Data Developer (Remote), Experian Consumer Services',
 'Senior Data Analyst with Python SQL - Bangalore',
 'Manager, Measurement Innovation & Data Science',
 'Data Analytics Engineer',
 'Cloud Data Architect',
 'Business Intelligence Engineering Manager',
 'DevOps Engineer (Dubai)',
 'Data Analytics Internship (Summer 23/24)',
 'Confirmed Data Analyst - Data Pro Supply',
 'Senior Machine Learning Engineer (Modeling)',
 'Data Scientist / Data Analyst',
 'Product Data Analyst sénior (h/f) en CDI à Paris',
 'Data Analyst - Stage',
 'Senior Analytics Engineer',
 'Sr. Software Engineer, Data Engineering',
 'Senior Machine Learning Engineer I',
 'Data Engineer Sr.Software Engineer DX',
 'Senior Staff Data Engineer',
 'Natural Language Processing Intern',
 'Senior Data Engineers',
 'Coordinateur projets Genotypage data analyse (H/F)',
 'Machine Learning & Software Engineer, Infrastructure - US Remote',
 'Customer-Facing Deep Learning Solutions Architect',
 'Data Engineering Manager - Allegro Pay',
 'Senior Business Intelligence Developer (Database Architect & ETL Developer)',
 'Technical Mentor (Independent Contractor) - Data Engineering Nanodegree (US Timezone)',
 'Data Analyst, Business Optimisation',
 'Machine Learning Force Fields Scientist (Materials Science)',
 'Principal Machine Learning Engineer - ATG',
 'Senior Associate Data Sciences',
 'Senior Data Engineer (all genders) AI',
 'Intermediate / Senior Fullstack Engineer (AI Team)',
 'Data Quality Analyst - Stage',
 'Senior Software Engineer - AI/ML team (.net + python)',
 'Software Engineer, Data Platform, Data Management',
 'Senior Machine Learning Engineer (Modeling), Financial Crimes Technology',
 'Research Analyst',
 'Backend / Data Engineers II, Cerebro',
 'Junior Data Manager',
 'Data Infrastructure Engineer',
 'Backend Engineer (Dubai)',
 'Senior Software Engineer I, Machine Learning, Retrieval Sciences',
 'Sr. Staff Machine Learning Engineer',
 'Staff Systems Engineer, Autonomy & Simulation',
 '[??-??&???] Senior, Data Analyst (Channel Analytics)',
 'Senior Machine Learning Expert (on-site, Brussels / Belgium)',
 "Spécialiste, intelligence d'affaires / Specialist, Business Intelligence",
 'Senior Product Manager | API & Data Products',
 'Senior Analyst, Data Science and Analytics',
 'Senior Product Manager - Data Management & Search',
 'Accounting Professor- Data Analytics/AIS- 90K+ Salary',
 'Senior Data Engineer - Healthgrades',
 'Sr Applied Data Scientist',
 'Business Intelligence Engineer',
 'Assistant Mgr - Data Sciences',
 "Data Analyst - Stage de fin d'études - Paris 2e",
 'Trading BI Developer',
 'Data Analytics Intern - Le Cubs 2023',
 'Product Data Analyst -  F/H',
 'Data Scientist (Crypto)',
 '[Job- 10639] Senior Data Engineer Developer, Brazil',
 'Business Intelligence Associate',
 'Analyst, Reporting and Business Intelligence',
 'Data Science Software Engineer',
 'Product Owner with Tableau/Power BI(6 to 10 years)',
 'Machine Learning & Software Engineer, Infrastructure - EMEA Remote',
 'Sr AI Solution Developer (ServiceNow Developer)',
 'Data Integrations Engineer',
 'Lead Software Engineer - AI/ML team (.net + python)',
 'Transportation Data Analyst Coordinator',
 'Senior Applied Data Scientist (all genders) AI',
 'Power BI Analyst',
 'Senior Cloud DevOps Engineer (Data & AI) bei eBike Systems (w/m/div.)',
 'Business Intelligence Analyst I',
 'Power BI Data Visualization Analyst',
 'Data Analyst (CEO Office)',
 'Senior Data Science Analyst- Model Validation',
 'Sr. Revenue Operations Specialist - Data Analytics',
 'PhD Position - Neuro-Symbolic AI for Scene Understanding in Autonomous Driving',
 'Senior Product Manager, Large Language Model',
 'QuintoAndar - Analytics Engineer',
 'VP, Data Products',
 'Data Platform Developer, Machine Learning',
 'Senior Vision Engineer (English version)',
 'Lead Data Scientist (P3436)',
 '(Canada) Business Intelligence Engineer',
 'Lead ML Platform Engineer',
 'Staff Data Engineer',
 'Transportation Data Analyst (Tableau)',
 'Robotics Software Developer Intern Fall 2023',
 'Senior Data Architect',
 'Software Engineer, Computer Vision Program',
 'Data Engineer - Tempcover',
 'ML PhD Intern - LLMs & Generative AI',
 'Alternance - « Data Analyst » ou « Equipe Business Intelligence » (H/F)',
 'Software Engineer - Structured Data Strategies',
 'Data Science Intern',
 'Institution Data Analyst',
 'Senior Solutions Engineer - Big Data',
 'Principal Machine Learning (ML) Engineer',
 'Product Data Engineer',
 "Data Engineer - Stage de fin d'études - Paris 2e",
 'Senior Data Engineer/Scientist',
 'Principal Data Scientist, Machine Learning',
 'Sr Director - Project Implementation - Medical Imaging / PACS',
 'Big Data BI Engineer',
 'Principal Data Scientist (Spain, full-remote)',
 'AI Programmer',
 'Machine Learning for Natural Language Processing Intern',
 'Data Scientist engineer',
 'ML Postdoc Researcher - LLMs & Generative AI',
 'Principal Engineer, Data Management Engineering',
 'Lead Data Scientist - Pricing',
 'Data Scientist, Product Analytics',
 'Senior Infrastructure Software Engineer, ML Platform',
 'Alumio Solution Engineer (Data Integration)',
 'Senior AI Research Scientist \x96 Perception and Machine Learning',
 'Field Sample Specialist (Air Samples) - Eurofins Environment Testing \x96 Pueblo, CO',
 'Senior Research Scientist \x96 AI-based Planning for Autonomous Systems',
 'Senior Data Engineer, PHP',
 'Head of Data Science & Predictive Modeling',
 'Business and Commercial Banking (BCB) Business Intelligence and Analytics Graduate Programme - Gauteng',
 'Data Scientist - Data Analytics and Infrastructure',
 '(Senior) Machine Learning Engineer - MLOps',
 'Team Lead Data Science (f/m/x)',
 'Senior Data Scientist - Monetization',
 'Lead Machine Learning Research Engineer, Generative AI',
 'Course Associate, Data Analysis and Visualization in Sustainability (Fall 2023)',
 'Robotics Engineer',
 'Ingénieur Data Modeler et/ou Tech Data - F/H',
 'Biomedical Data Scientist',
 'Product Analyst - Remote (Mumbai)',
 'Databricks Administrator',
 'Analyst, Data Engineering',
 'Lead Data Engineer- Bangalore',
 'Marketing Data Scientist',
 'Insight Analyst',
 'Senior Applied Scientist I',
 'Data Manager Consultant',
 'Senior Machine Learning Scientist (8304)',
 'Senior Product Manager (AI team)',
 'Principal Applied Scientist',
 'Director of Data Science',
 'Data Analyst Consultant',
 'Senior Market Research Analyst',
 'Senior Manager of Master Data Management (Hybrid)',
 'Mid Data Scientist (f/m/x), Remote (EU) / Berlin',
 'Sr. Product Manager (AI team)',
 'Data Analyst (Pricing)',
 'Principal Data Strategist Consultant',
 'Senior Vehicle Data Analyst',
 'Machine Learning Engineer (m/w/x)',
 'Principal Engineer, Datacenter Software Systems',
 'Business Intelligence (Qlik) Developer',
 'Staff Data Scientist, Credit Card',
 'Head of Product Data Science',
 "Data Engineer / Data Analyst - Stage de fin d'études - Paris 2e (H/F)",
 'Junior Data Engineer',
 'Machine Learning Research Engineer - Federal',
 'Lead Data Engineer (P3796)',
 'Senior ML Engineer',
 'BI Engineer & Data Visualisation',
 'Senior Machine Learning Engineer (8031)',
 'Python Machine Learning Engineer (AdLight)',
 'Research Engineer in Text Analytics (Direct Contract with Bosch)',
 'Consultant(e) Data Scientist / Recherche Opérationnelle',

<h3>Rename Columns and replace whitespaces by underscore</h3>

In [184]:
df_clean

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [185]:
# Rename the column to remove spaces
df_clean.columns = df_clean.columns.str.replace(" ", "_")

In [186]:
df_clean

,Company,Job_Title,Location,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company_,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [187]:
df_clean.rename(columns={"Requirment_of_the_company_": "Requirment_of_the_company"}, inplace=True)
df_clean

C:\Users\Youcode\AppData\Local\Temp\ipykernel_26352\6376463.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Company,Job_Title,Location,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [188]:
# Transform values of column "Requirment_of_the_company" to lists

# Step 1: Replace multiple consecutive commas with a single comma
df_clean.loc[:, 'Requirment_of_the_company'] = df_clean['Requirment_of_the_company'].str.replace(',+', ',')

# Step 2: Split values using the comma as delimiter and Step 3: Eliminate empty elements
df_clean.loc[:, 'Requirment_of_the_company'] = df_clean['Requirment_of_the_company'].str.split(',').apply(lambda x: [item for item in x if item])
df_clean

,Company,Job_Title,Location,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"[Computer Science, Data quality, Genetics, Mat...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"[Agile, Data management, Finance, Security]",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"[Agile, Architecture, AWS, Computer Science, C...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"[Engineering, Industrial, Oracle, Power BI, R,...",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"[AWS, Azure, Computer Science, Consulting, Dat...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"[Agile, Angular, APIs, Architecture, AWS, Azure]","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"[Bayesian, Classification, Clustering, Data an...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"[Computer Science, Data analysis, Engineering,...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"[APIs, Clustering, Computer Science, Data visu...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"[Computer Science, Data Analytics, Data Mining...","Career development,Startup environment,,,"

In [189]:
# Transform values of column "Facilities" to lists

# Step 1: Replace multiple consecutive commas with a single comma
df_clean.loc[:, 'Facilities'] = df_clean['Facilities'].str.replace(',+', ',')

# Step 2: Split values using the comma as delimiter and Step 3: Eliminate empty elements
df_clean.loc[:, 'Facilities'] = df_clean['Facilities'].str.split(',').apply(lambda x: [item for item in x if item])
df_clean

,Company,Job_Title,Location,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"[Computer Science, Data quality, Genetics, Mat...",[]
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"[Agile, Data management, Finance, Security]",[]
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"[Agile, Architecture, AWS, Computer Science, C...",[Career development]
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"[Engineering, Industrial, Oracle, Power BI, R,...",[]
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"[AWS, Azure, Computer Science, Consulting, Dat...","[Flex hours, Flex vacation, Parental leave, Un..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"[Agile, Angular, APIs, Architecture, AWS, Azure]","[401(k) matching, Career development, Flex hou..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"[Bayesian, Classification, Clustering, Data an...","[Career development, Health care]"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"[Computer Science, Data analysis, Engineering,...","[401(k) matching, Career development, Equity, ..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"[APIs, Clustering, Computer Science, Data visu...",[Career development]
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"[Computer Science, Data Analytics, Data Mining...","[Career development, Startup environment]"

<h3> Manage the location column </h3>

In [190]:
# import locationtagger

# # Function to extract city, state, and country
# def extract_location_info(location):
#     places = locationtagger.find_locations(text = location)
#     cities = places.cities
#     states = places.regions
#     countries = places.countries
#     city = cities[0] if cities else None
#     state = states[0] if states else None
#     country = countries[0] if countries else None
#     return city, state, country

# # Apply the function to extract location info into new columns
# df_clean[['City', 'State', 'Country']] = df_clean['Location'].apply(extract_location_info).apply(pd.Series)
# df_clean

In [249]:
from geotext import GeoText

# Function to extract city, state, and country
def extract_location_info(location):
    places = GeoText(location)
    cities = places.cities
    # states = places.states
    countries = places.countries
    city = cities[0] if cities else None
    # state = states[0] if states else None
    country = countries[0] if countries else None
    return city, country

# Apply the function to extract location info into new columns
# df_clean[['City', 'Country']] = df_clean['Location'].apply(extract_location_info).apply(pd.Series)
location_info = df_clean['Location'].apply(extract_location_info).apply(pd.Series)
df_clean.loc[:, 'City'] = location_info[0]
df_clean.loc[:, 'Country'] = location_info[1]
# Modify the position of City and Country position
Country = df_clean.pop('Country')
df_clean.insert(3, 'Country', Country)
City = df_clean.pop('City')
df_clean.insert(4, 'City', City)

df_clean

,Company,Job_Title,Location,Country,City,Work_Place,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",United States,Richardson,Local,Full Time,Entry-level,48K+ *,48000.0,True,"[Computer Science, Data quality, Genetics, Mat...",[]
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Mauritius,None,Local,Full Time,Entry-level,48K+ *,48000.0,True,"[Agile, Data management, Finance, Security]",[]
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",United States,South Jordan,Local,Full Time,Not-Specified,90K+ *,90000.0,True,"[Agile, Architecture, AWS, Computer Science, C...",[Career development]
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Italy,None,Local,Full Time,Entry-level,48K+ *,48000.0,True,"[Engineering, Industrial, Oracle, Power BI, R,...",[]
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",United States,Arlington,Local,Full Time,Mid-level,108K+,108000.0,False,"[AWS, Azure, Computer Science, Consulting, Dat...","[Flex hours, Flex vacation, Parental leave, Un..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",United States,Chantilly,Local,Full Time,Mid-level,113K+,113000.0,False,"[Agile, Angular, APIs, Architecture, AWS, Azure]","[401(k) matching, Career development, Flex hou..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",United States,New York,Local,Full Time,Mid-level,106K+,106000.0,False,"[Bayesian, Classification, Clustering, Data an...","[Career development, Health care]"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",None,Sunnyvale,Local,Full Time,Senior-level,176K+,176000.0,False,"[Computer Science, Data analysis, Engineering,...","[401(k) matching, Career development, Equity, ..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Philippines,None,Local,Full Time,Entry-level,39K+ *,39000.0,True,"[APIs, Clustering, Computer Science, Data visu...",[Career development]
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Canada,Edmonton,Local,Full Time,Entry-level,39K+ *,39000.0,True,"[Computer Science, Data Analytics, Data Mining...","[Career development, Startup environment]"

In [192]:
df_clean.isna().sum()

Company                        0
Job_Title                      0
Location                       0
Country                      851
City                         802
Job_Type                       0
Experience_level               0
Salary                         0
Min_Salary_Year                0
Salary_conditions              0
Requirment_of_the_company      0
Facilities                     0
dtype: int64

## Specify the job work place

In [241]:
# Function to check the work place
def check_work_place(job,location):
    job = job.lower()
    location = location.lower()
    if 'remote' in job or 'remote' in location :
        return 'Remote'
    elif 'hybrid' in job or 'hybrid' in location:
        return 'Hybrid'
    else:
        return 'Local'

# Apply the function to 'Location' column and store the result in 'Work_Place'
df_clean.loc[:,'Work_Place'] = df_clean.apply(lambda x: check_work_place(x.Job_Title, x.Location), axis=1)
# move Work_Place column to fourth position
Work_Place = df_clean.pop('Work_Place')
df_clean.insert(4, 'Work_Place', Work_Place)
df_clean

,Company,Job_Title,Location,Country,Work_Place,City,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",United States,Local,Richardson,Full Time,Entry-level,48K+ *,48000.0,True,"[Computer Science, Data quality, Genetics, Mat...",[]
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Mauritius,Local,None,Full Time,Entry-level,48K+ *,48000.0,True,"[Agile, Data management, Finance, Security]",[]
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",United States,Local,South Jordan,Full Time,Not-Specified,90K+ *,90000.0,True,"[Agile, Architecture, AWS, Computer Science, C...",[Career development]
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Italy,Local,None,Full Time,Entry-level,48K+ *,48000.0,True,"[Engineering, Industrial, Oracle, Power BI, R,...",[]
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",United States,Local,Arlington,Full Time,Mid-level,108K+,108000.0,False,"[AWS, Azure, Computer Science, Consulting, Dat...","[Flex hours, Flex vacation, Parental leave, Un..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",United States,Local,Chantilly,Full Time,Mid-level,113K+,113000.0,False,"[Agile, Angular, APIs, Architecture, AWS, Azure]","[401(k) matching, Career development, Flex hou..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",United States,Local,New York,Full Time,Mid-level,106K+,106000.0,False,"[Bayesian, Classification, Clustering, Data an...","[Career development, Health care]"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",None,Local,Sunnyvale,Full Time,Senior-level,176K+,176000.0,False,"[Computer Science, Data analysis, Engineering,...","[401(k) matching, Career development, Equity, ..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Philippines,Local,None,Full Time,Entry-level,39K+ *,39000.0,True,"[APIs, Clustering, Computer Science, Data visu...",[Career development]
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Canada,Local,Edmonton,Full Time,Entry-level,39K+ *,39000.0,True,"[Computer Science, Data Analytics, Data Mining...","[Career development, Startup environment]"

In [243]:
df_clean[(df_clean['Job_Title'].str.contains('Remote',case=False)) | (df_clean['Location'].str.contains('Remote',case=False))].shape

(541, 13)

In [244]:
df_clean[df_clean['Work_Place'].str.contains('Remote',case=False)].shape

(541, 13)

# Analyse et Visualisation

<h3>Count the number of occurrences for each job title</h3>

In [193]:
job_title_counts = df_clean.groupby(by='Job_Title').size().reset_index(name='Count')
job_titles_counts = job_title_counts.sort_values(by='Count',ascending=False)
job_titles_counts.head(10)

                             Job_Title  Count
460                      Data Engineer    102
664                     Data Scientist     80
329                       Data Analyst     77
1496              Senior Data Engineer     63
1057         Machine Learning Engineer     47
1462               Senior Data Analyst     36
1551             Senior Data Scientist     32
1645  Senior Machine Learning Engineer     21
75                  Analytics Engineer     16
449                     Data Architect     11

In [202]:
df_ds = job_titles_counts[job_titles_counts['Job_Title'].str.contains(r'Data Science|Scientist|Science|Data Visualization|Data Analys|Data Engineer', case=False)]
df_ds

                                          Job_Title  Count
460                                   Data Engineer    102
664                                  Data Scientist     80
329                                    Data Analyst     77
1496                           Senior Data Engineer     63
1462                            Senior Data Analyst     36
...                                             ...    ...
734     Data Scientist, IPC - Specialized Selection      1
733                   Data Scientist, Generative AI      1
732               Data Scientist, Forest Ecosystems      1
730   Data Scientist, Commerce Platform - Inventory      1
729                       Data Scientist, Analytics      1

[996 rows x 2 columns]

In [203]:
count_ds = df_ds['Count'].sum()
print(count_ds)

1570

In [204]:
# count = job_titles_counts['Job_Title'].str.contains(r'Machine Learning|ML', case=True).sum()
df_ml = job_titles_counts[job_titles_counts['Job_Title'].str.contains(r'Machine Learning|ML|AI|Artificial Intelligence', case=True)]
df_ml

                                              Job_Title  Count
1057                          Machine Learning Engineer     47
1645                   Senior Machine Learning Engineer     21
1676                  Senior Machine Learning Scientist      5
1388                                 Senior AI Engineer      4
1048                                     MLOps Engineer      4
...                                                 ...    ...
767                             Deep Learning (AI) Lead      1
747            Data Scientist/Machine Learning Engineer      1
745   Data Scientist, Sr. Consultant - Cybersecurity...      1
738             Data Scientist, Payments ML Accelerator      1
733                       Data Scientist, Generative AI      1

[415 rows x 2 columns]

In [205]:
count_ml = df_ml['Count'].sum()
print(count_ml)

516

In [207]:
df_bd = job_titles_counts[job_titles_counts['Job_Title'].str.contains(r'Big Data|Data Warehousing|Data Warehouse|Hadoop|nosql', case=False)]
df_bd.head(5)

                                              Job_Title  Count
167                                   Big Data Engineer      4
1434                           Senior Big Data Engineer      3
1371  SW Engineer: Big Data/Risk Systems, Sr. Consul...      1
1435                     Senior Big Data Engineer  CIB      1
1432  Senior Backend Software Engineer- Big Data Ana...      1

In [208]:
count_bd = df_bd['Count'].sum()
print(count_bd)

44

## Visualize the results

In [209]:
import plotly.express as px

data = [('Data Science',count_ds),('Machine Learning (AI)',count_ml),('Big Data',count_bd)]
countdf = pd.DataFrame(data,columns=['Domaine','Count'])

fig = px.bar(countdf, x='Domaine', y='Count',title="Le nombre totale des offres d'emplois dans DS,AI et Big Data")
fig.show()

<h3> Get top 20 keywords Occurrences in Requirment_of_the_company column</h3>

In [248]:
import plotly.express as px
from collections import Counter

# Use Counter to get the count of each element in the lists
element_counter = Counter([element for sublist in df_clean['Requirment_of_the_company'] for element in sublist])
# Convert the result to a DataFrame for better display
element_counter = pd.DataFrame(list(element_counter.items()), columns=['Requirment of the company', 'Count'])

df_requir = element_counter.sort_values(by='Count',ascending=False)

fig = px.bar(df_requir.head(30), x='Requirment of the company', y='Count',title="La frequence des mots techniques dans les offres d'emplois")
fig.show()

In [260]:
import plotly.express as px

countries = df_clean.groupby(by='Country')['Min_Salary_Year'].sum()

country_salary = countries.sort_values(ascending=False).reset_index(name='Sum of salaries')

fig = px.line(country_salary, x='Country', y='Sum of salaries',title="La somme des salaires par pays",markers=True)
fig.show()

In [263]:
import plotly.express as px

countries = df_clean.groupby(by='Country')['Min_Salary_Year'].mean()

country_salary = countries.sort_values(ascending=False).reset_index(name='Mean of salaries')

fig = px.line(country_salary, x='Country', y='Mean of salaries',title="La moyenne des salaires par pays",markers=True)
fig.show()

In [261]:
df_clean

,Company,Job_Title,Location,Country,City,Work_Place,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",United States,Richardson,Local,Full Time,Entry-level,48K+ *,48000.0,True,"[Computer Science, Data quality, Genetics, Mat...",[]
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Mauritius,None,Local,Full Time,Entry-level,48K+ *,48000.0,True,"[Agile, Data management, Finance, Security]",[]
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",United States,South Jordan,Local,Full Time,Not-Specified,90K+ *,90000.0,True,"[Agile, Architecture, AWS, Computer Science, C...",[Career development]
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Italy,None,Local,Full Time,Entry-level,48K+ *,48000.0,True,"[Engineering, Industrial, Oracle, Power BI, R,...",[]
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",United States,Arlington,Local,Full Time,Mid-level,108K+,108000.0,False,"[AWS, Azure, Computer Science, Consulting, Dat...","[Flex hours, Flex vacation, Parental leave, Un..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",United States,Chantilly,Local,Full Time,Mid-level,113K+,113000.0,False,"[Agile, Angular, APIs, Architecture, AWS, Azure]","[401(k) matching, Career development, Flex hou..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",United States,New York,Local,Full Time,Mid-level,106K+,106000.0,False,"[Bayesian, Classification, Clustering, Data an...","[Career development, Health care]"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",None,Sunnyvale,Local,Full Time,Senior-level,176K+,176000.0,False,"[Computer Science, Data analysis, Engineering,...","[401(k) matching, Career development, Equity, ..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Philippines,None,Local,Full Time,Entry-level,39K+ *,39000.0,True,"[APIs, Clustering, Computer Science, Data visu...",[Career development]
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Canada,Edmonton,Local,Full Time,Entry-level,39K+ *,39000.0,True,"[Computer Science, Data Analytics, Data Mining...","[Career development, Startup environment]"

In [215]:
# Count the occurrences of each word in the entire DataFrame for the column "Requirment_of_the_company"
# total_word_counts = df_clean['Requirment_of_the_company'] \
#                     .str.split(',') \
#                     .explode() \
#                     .str.strip() \
#                     .value_counts() \
#                     .reset_index(name='count')

# total_word_counts.head(20)

In [217]:
# total_word_counts[total_word_counts['Requirment_of_the_company'].str.contains('AI')]

In [ ]:
# total_word_counts[total_word_counts['Requirment_of_the_company'].str.contains('Data')]

----------------------------------------------------------------------------------------------------------

In [218]:
df

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3194,Experian,Cloud Data Analyst,"Heredia, Costa Rica",Full Time,Senior-level,92K+ *,"AWS,Big Data,Computer Science,GCP,Snowflake,SQL","Equity,Medical leave,Salary bonus,,"
3195,Locus Robotics,"Robotics Engineer, Sensors","Wilmington, MA, United States",Full Time,Senior-level,62K+ *,"E-commerce,Engineering,Linux,Python,Robotics,S...",",,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"
3197,Shippeo,Senior Data Engineer,"Paris, France",Full Time,Senior-level,115K+ *,"Airflow,Architecture,BigQuery,CI/CD,Computer S...",",,,,"