In [229]:
import pandas as pd
import os

In [230]:
file_path = 'Data/jobs-info.csv'
if os.path.isfile(file_path):
    with open(file_path, 'r') as f:
        df = pd.read_csv(file_path,index_col=False,encoding='latin-1')
else:
    print(f"The file '{file_path}' does not exist.")

In [231]:
df

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,NaN,90K+ *,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3194,Experian,Cloud Data Analyst,"Heredia, Costa Rica",Full Time,Senior-level,92K+ *,"AWS,Big Data,Computer Science,GCP,Snowflake,SQL","Equity,Medical leave,Salary bonus,,"
3195,Locus Robotics,"Robotics Engineer, Sensors","Wilmington, MA, United States",Full Time,Senior-level,62K+ *,"E-commerce,Engineering,Linux,Python,Robotics,S...",",,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"
3197,Shippeo,Senior Data Engineer,"Paris, France",Full Time,Senior-level,115K+ *,"Airflow,Architecture,BigQuery,CI/CD,Computer S...",",,,,"

# Exploration et Nettoyage de donnnees

In [232]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3198 entries, 0 to 3197
Data columns (total 8 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     3197 non-null   object
 1   Job Title                   3197 non-null   object
 2   Location                    3197 non-null   object
 3   Job Type                    3197 non-null   object
 4   Experience level            2962 non-null   object
 5   Salary                      3009 non-null   object
 6   Requirment of the company   3198 non-null   object
 7   Facilities                  3198 non-null   object
dtypes: object(8)
memory usage: 200.0+ KB

In [233]:
df_clean = df.copy()

<h3>Check for duplicate values and missings values</h3>

In [234]:
df_clean[df_clean.duplicated()].shape

(202, 8)

In [235]:
df_clean = df_clean.drop_duplicates()
df_clean.shape

(2996, 8)

<h3>Looking for missing values</h3>

In [236]:
df_clean[(df_clean['Salary'].isna())].shape

(172, 8)

In [237]:
intern_len = len(df_clean[df_clean['Job Type'] == 'Internship'])
intern_na_len = len(df_clean[(df_clean['Salary'].isna()) & (df_clean['Job Type'] == 'Internship')])
print(f'le nombre des offres internship : {intern_len}, le nombre des offres internship sans salaire : {intern_na_len}')

le nombre des offres internship : 72, le nombre des offres internship sans salaire : 72

In [238]:
# fill na of internship by 0
condition = df_clean['Job Type'] == 'Internship'
df_clean.loc[condition, 'Salary'] = df_clean.loc[condition, 'Salary'].fillna(0)
df_clean[df_clean['Job Type'] == 'Internship']

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,0,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,0,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
170,Wallbox,Analytics Engineer Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,0,"Airflow,BigQuery,CI/CD,Databricks,Data quality...","Career development,Flex hours,Team events,,"
213,Bosch Group,Data Management Internship,"Beograd, Serbia",Internship,Entry-level,0,"Computer Science,Data management,Engineering,E...","Flex hours,,,,"
217,Wallbox,Data Analyst Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,0,"Economics,Engineering,Machine Learning,Mathema...","Career development,Flex hours,Team events,,"
...,...,...,...,...,...,...,...,...
2884,Plantix,Data Analyst Intern,"Indore, India",Internship,Entry-level,0,"Computer Science,Data analysis,Data Analytics,...",",,,,"
3073,Definitive Logic,Data Science Intern,"Arlington, VA",Internship,Entry-level,0,"Big Data,Consulting,Consulting firm,Data analy...","Career development,Competitive pay,Flex hours,..."
3107,Barbaricum,AI Intern (ChatGPT Specialist),Remote,Internship,Entry-level,0,"APIs,ChatGPT,Engineering,GPT,GPT-3,GPT-4","Career development,,,,"
3134,Junglee Games,ETL and Data Warehouse Testing Intern,"Bengaluru, Karnataka, India",Internship,Entry-level,0,"Computer Science,Data quality,Data warehouse,E...",",,,,"
3159,Deezer,Data Analyst Intern m/f/d - Business,"Paris, France",Internship,Entry-level,0,"Data analysis,Data pipelines,Data visualizatio...","Career development,Health care,Insurance,Start..."

In [239]:
df_clean[df_clean['Job Type'].isna()]

,Company,Job Title,Location,Job Type,Experience level,Salary,Requirment of the company,Facilities
797,NaN,NaN,NaN,NaN,NaN,NaN,",,,,,",",,,,"

In [240]:
# delete the last row 
df_clean.drop(df_clean[df_clean['Job Type'].isna()].index, inplace=True)
df_clean[df_clean['Job Type'].isna()]

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Requirment of the company , Facilities]
Index: []

In [241]:
df_clean[df_clean['Experience level'].isna()].shape

(227, 8)

In [242]:
# Replace missing experience levels with "Not-Specified"
df_clean['Experience level'].fillna('Not-Specified', inplace=True)
df_clean[df_clean['Experience level'].isna()].shape

(0, 8)

<h3>Manage Salary column infos</h3>

In [243]:
df_clean['Salary'].unique().tolist()

[' 48K+ *',
 ' 90K+ *',
 ' 108K+',
 ' 184K+',
 ' 39K+ *',
 0,
 ' 140K+',
 ' 40K+ *',
 ' 80K+ *',
 ' 35K+ *',
 ' 62K+ *',
 ' 159K+',
 ' 97K+',
 ' 92K+ *',
 ' 129K+ *',
 ' 115K+ *',
 ' 44K+ *',
 ' 73K+ *',
 ' 59K+ *',
 ' 106K+',
 ' 105K+ *',
 ' 55K+ *',
 ' 110K+ *',
 ' 63K+ *',
 ' 49K+ *',
 ' 180K+',
 nan,
 ' 127K+',
 ' 60K+',
 ' 45K+ *',
 ' 135K+',
 ' 69K+ *',
 ' 176K+',
 ' 65K+ *',
 ' 51K+ *',
 ' 67K+',
 ' 104K+',
 ' 105K+',
 ' 166K+',
 ' 131K+ *',
 ' 115K+',
 ' 43K+',
 ' 81K+ *',
 ' 96K+ *',
 ' 56K+ *',
 ' 130K+',
 ' 131K+',
 ' 50K+ *',
 ' 100K+',
 ' 60K+ *',
 ' 52K+',
 ' 135K+ *',
 ' 76K+',
 ' 172K+',
 ' 119K+',
 ' 125K+',
 ' 116K+',
 ' 77K+ *',
 ' 74K+ *',
 ' 70K+ *',
 ' 120K+',
 ' 189K+',
 ' 149K+',
 ' 110K+',
 ' 90K+',
 ' 30K+ *',
 ' 167K+',
 ' 236K+',
 ' 179K+',
 ' 80K+',
 ' 200K+',
 ' 139K+',
 ' 129K+',
 ' 113K+',
 ' 150K+',
 ' 158K+',
 ' 40K+',
 ' 184K+ *',
 ' 133K+',
 ' 78K+',
 ' 36K+ *',
 ' 122K+ *',
 ' 81K+',
 ' 59K+',
 'EUR 81K',
 ' 190K+',
 ' 72K+',
 ' 136K+',
 ' 102K+ *',
 ' 31K+ *',
 ' 89K+ *',
 ' 156K+',
 ' 107K+',
 ' 199K+',
 ' 224K+',
 ' 142K+',
 'GBP 35K',
 ' 183K+',
 ' 164K+',
 'EUR 130K+',
 ' 174K+',
 ' 84K+',
 ' 79K+',
 ' 103K+ *',
 ' 143K+',
 ' 175K+',
 ' 170K+',
 ' 141K+ *',
 ' 283K+',
 ' 151K+',
 ' 111K+',
 ' 51K+',
 ' 96K+',
 ' 148K+',
 ' 204K+',
 ' 202K+',
 ' 295K+',
 ' 68K+',
 ' 195K+',
 ' 145K+',
 ' 50K+',
 ' 267K+',
 ' 200K+ *',
 ' 109K+ *',
 ' 310K+',
 ' 153K+',
 ' 154K+',
 ' 86K+',
 ' 70K+',
 ' 207K+',
 ' 85K+',
 ' 66K+',
 ' 315K+',
 ' 160K+',
 ' 66K+ *',
 ' 144K+',
 ' 245K+',
 ' 126K+',
 ' 63K+',
 ' 182K+',
 ' 157K+',
 ' 214K+',
 ' 173K+',
 'EUR 80K+',
 ' 120K+ *',
 'EUR 36K+',
 'EUR 60K+',
 'GBP 42K+',
 ' 112K+',
 ' 124K+',
 ' 185K+',
 ' 147K+',
 ' 122K+',
 'GBP 80K+',
 ' 144K+ *',
 ' 146K+',
 ' 165K+',
 ' 75K+',
 ' 163K+',
 ' 193K+',
 ' 109K+',
 'GBP 60K+',
 ' 218K+',
 ' 230K+',
 ' 168K+',
 ' 134K+',
 ' 225K+',
 ' 253K+',
 ' 83K+',
 ' 235K+',
 ' 187K+',
 ' 227K+',
 ' 73K+',
 ' 61K+ *',
 ' 171K+',
 ' 234K+',
 'GBP 45K+',
 ' 155K+',
 ' 71K+',
 ' 94K+',
 ' 57K+ *',
 ' 197K+',
 ' 102K+',
 ' 82K+',
 ' 177K+',
 'GBP 50K+',
 ' 93K+',
 ' 55K+',
 ' 121K+',
 ' 42K+ *',
 ' 45K+',
 ' 75K+ *',
 ' 152K+',
 ' 161K+',
 ' 155K+ *',
 ' 132K+',
 'GBP 55K+',
 ' 138K+',
 ' 196K+',
 ' 205K+',
 'GBP 65K+',
 ' 178K+',
 ' 95K+',
 ' 33K+ *',
 ' 54K+ *',
 ' 98K+',
 ' 141K+',
 ' 95K+ *',
 ' 65K+',
 'GBP 55K',
 ' 99K+',
 ' 220K+',
 ' 74K+',
 ' 103K+',
 ' 100K+ *',
 'GBP 51K+',
 ' 128K+',
 'GBP 54K+',
 ' 123K+',
 ' 117K+']

In [244]:
# # extract numerical values and multiply by 1000
# df_clean['Min_Salary_Year'] = df_clean['Salary'].str.extract('(\d+[\.,]?\d*)', expand=False).astype(float) * 1000
# # move Salary_num column to first position
# Min_Salary_Year = df_clean.pop('Min_Salary_Year')
# df_clean.insert(6, 'Min_Salary_Year', Min_Salary_Year)
# df_clean

In [245]:
from forex_python.converter import CurrencyRates

cr = CurrencyRates()

# Function to extract the numeric value from the salary string
def extract_salary(salary):
    salary = salary.replace('K', '').replace('+', '').replace('*', '').strip()
    if 'EUR' in salary:
        salary = salary.replace('EUR', '').strip()
    elif 'GBP' in salary:
        salary = salary.replace('GBP', '').strip()
    return float(salary) * 1000

# Function to convert currency to numeric value
def convert_to_numeric(salary):
    salary = str(salary)
    sal = 0
    if 'GBP' in salary:
        # convert salary to USD using forex_python.converter lib
        return round(cr.convert('GBP', 'USD', extract_salary(salary)))
    elif 'EUR' in salary:
        # convert salary to USD using forex_python.converter lib
        return round(cr.convert('EUR', 'USD', extract_salary(salary)))
    else:
        return extract_salary(salary)  # If currency is not specified, assume it's USD

# Apply the function to 'Salary' column and store the result in 'Min_Salary_Year'
df_clean['Min_Salary_Year'] = df_clean['Salary'].apply(convert_to_numeric)
# move Salary_num column to first position
Min_Salary_Year = df_clean.pop('Min_Salary_Year')
df_clean.insert(6, 'Min_Salary_Year', Min_Salary_Year)
df_clean

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [246]:
df_clean[(pd.notna(df_clean['Salary'])) & (df_clean['Salary'].str.startswith('EUR'))]

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Requirment of the company,Facilities
324,Bosch Group,Master Data Management Plants (f/m/div.) (sala...,"Karlsruhe, Germany",Full Time,Entry-level,EUR 81K,87318.0,"Agile,Computer Science,Data analysis,Data mana...","Career development,Competitive pay,Salary bonus,,"
456,Mozilla,Sr. Staff Machine Learning Engineer,Remote Germany,Full Time,Senior-level,EUR 130K+,140140.0,"Architecture,AWS,Azure,Big Data,Computer Scien...","Career development,Flex vacation,Health care,H..."
1057,Mozilla,"Staff Product Manager, Machine Learning and Re...",Remote Germany,Full Time,Senior-level,EUR 80K+,86240.0,"Agile,Computer Science,Data management,Enginee...","Career development,Flex vacation,Health care,H..."
1100,Metiora,Data Scientist Senior,"Madrid, Spain",Full Time,Senior-level,EUR 36K+,38808.0,"Deep Learning,Machine Learning,Matplotlib,Mong...",",,,,"
1117,CybelAngel,Senior Data Engineer,"Paris, Île-de-France, France - Remote",Full Time,Mid-level,EUR 60K+,64680.0,"Airflow,BigQuery,Bigtable,Data analysis,Data g...","Career development,Equity,Salary bonus,,"
1280,Evolution,Software Developer in Data Science Team,"Riga, Latvia",Full Time,Senior-level,EUR 36K+,38808.0,"Agile,AWS,Big Data,Classification,Clustering,C...","Career development,Competitive pay,Health care..."
1467,CITECH,Ingénieur Data / Power BI (H/F),"Dijon, France",Full Time,Senior-level,EUR 60K+,64680.0,"Azure,Data Analytics,KPIs,PostgreSQL,Power BI,...",",,,,"

In [247]:
df_clean.describe()

       Min_Salary_Year
count      2896.000000
mean      87871.062500
std       43482.694165
min           0.000000
25%       56000.000000
50%       74000.000000
75%      115000.000000
max      315000.000000

In [248]:
# check if salary has Asterisk (*) or not 
df_clean['Salary_conditions'] = df_clean['Salary'].str.endswith('*')
Salary_condition = df_clean.pop('Salary_conditions')
df_clean.insert(7, 'Salary_conditions', Salary_condition)
df_clean

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [249]:
# Save jobs without salary and delete it from the main df 
df_clean_sana = df_clean[df_clean['Salary'].isna()]
df_clean_sana

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
39,Angi,Senior Data Scientist,"Indianapolis, IN - Hybrid",Full Time,Senior-level,NaN,NaN,NaN,"Big Data,Data Mining,Machine Learning,Mathemat...","401(k) matching,Career development,Competitive..."
44,REWE International Dienstleistungsgesellschaft...,Junior Data Science Engineer (m/w/x),"Wien, Austria",Full Time,Entry-level,NaN,NaN,NaN,"CI/CD,Computer Science,Data pipelines,Deep Lea...",",,,,"
75,Metiora,Data Analyst Intern,"Madrid, Spain",Full Time,Entry-level,NaN,NaN,NaN,"Matplotlib,MongoDB,NumPy,Pandas,Power BI,Python",",,,,"
87,Civis Analytics,Lead Applied Data Scientist (Experience with M...,Remote,Full Time,Senior-level,NaN,NaN,NaN,"Causal inference,Computer Science,Consulting,D...","401(k) matching,Career development,Competitive..."
168,Faraday Future,Senior Big Data Engineer,"San Jose, California, United States",Full Time,Senior-level,NaN,NaN,NaN,"Airflow,AWS,Azure,Big Data,Computer Science,Da...","Equity,Relocation support,,,"
...,...,...,...,...,...,...,...,...,...,...
2969,The Allen Institute for AI,Research Engineer - AllenNLP,"Seattle, WA",Full Time,Entry-level,NaN,NaN,NaN,"Architecture,Computer Science,Data analysis,De...","401(k) matching,Career development,Flex hours,..."
3080,DuckDuckGo,"Senior Backend Engineer, AI",Remote job,Full Time,Senior-level,NaN,NaN,NaN,"Engineering,Genetics,Machine Learning,ML model...","Career development,Equity,Flex hours,Flex vaca..."
3109,METRO/MAKRO,STAGE 6 mois - Data Scientist Junior H/F,"Nanterre, France",Full Time,Entry-level,NaN,NaN,NaN,"Big Data,Power BI,Python,R,SQL,",",,,,"
3152,Lely,"Stage: Computer Science, Robotics, Computer Vi...","Maassluis, Netherlands",Full Time,Entry-level,NaN,NaN,NaN,"Computer Science,Computer Vision,Engineering,O...",",,,,"
3166,DNSFilter,Senior Data Scientist,"Washington, District of Columbia, United State...",Full Time,Mid-level,NaN,NaN,NaN,"AWS,Computer Science,Data analysis,Data visual...","Career development,Flex hours,Flex vacation,He..."

In [250]:
df_clean = df_clean.dropna(subset=['Salary'])
df_clean[df_clean['Salary'].isna()]

Empty DataFrame
Columns: [Company, Job Title, Location, Job Type, Experience level, Salary, Min_Salary_Year, Salary_conditions, Requirment of the company , Facilities]
Index: []

In [251]:
df_clean[df_clean['Salary_conditions'].isna()]
# the result is the rows of Internship so we could replace it by Flase

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,0,0.0,NaN,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,0,0.0,NaN,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
170,Wallbox,Analytics Engineer Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,0,0.0,NaN,"Airflow,BigQuery,CI/CD,Databricks,Data quality...","Career development,Flex hours,Team events,,"
213,Bosch Group,Data Management Internship,"Beograd, Serbia",Internship,Entry-level,0,0.0,NaN,"Computer Science,Data management,Engineering,E...","Flex hours,,,,"
217,Wallbox,Data Analyst Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,0,0.0,NaN,"Economics,Engineering,Machine Learning,Mathema...","Career development,Flex hours,Team events,,"
...,...,...,...,...,...,...,...,...,...,...
2884,Plantix,Data Analyst Intern,"Indore, India",Internship,Entry-level,0,0.0,NaN,"Computer Science,Data analysis,Data Analytics,...",",,,,"
3073,Definitive Logic,Data Science Intern,"Arlington, VA",Internship,Entry-level,0,0.0,NaN,"Big Data,Consulting,Consulting firm,Data analy...","Career development,Competitive pay,Flex hours,..."
3107,Barbaricum,AI Intern (ChatGPT Specialist),Remote,Internship,Entry-level,0,0.0,NaN,"APIs,ChatGPT,Engineering,GPT,GPT-3,GPT-4","Career development,,,,"
3134,Junglee Games,ETL and Data Warehouse Testing Intern,"Bengaluru, Karnataka, India",Internship,Entry-level,0,0.0,NaN,"Computer Science,Data quality,Data warehouse,E...",",,,,"
3159,Deezer,Data Analyst Intern m/f/d - Business,"Paris, France",Internship,Entry-level,0,0.0,NaN,"Data analysis,Data pipelines,Data visualizatio...","Career development,Health care,Insurance,Start..."

In [252]:
df_clean['Salary_conditions'] = df_clean['Salary_conditions'].fillna(False)
df_clean[df_clean['Salary_conditions']]

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\4254370764.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
6,Natixis in Portugal,Vendor Management and Data Quality Lead,"Porto, Portugal",Full Time,Entry-level,39K+ *,39000.0,True,"Banking,Data quality,Excel,Security,,","Gear,,,,"
...,...,...,...,...,...,...,...,...,...,...
3179,C3.ai,Lead Data Scientist - Healthcare,"London, UK",Full Time,Senior-level,129K+ *,129000.0,True,"Architecture,Classification,Computer Science,D...","Career development,Competitive pay,,,"
3183,TripAdvisor,Senior Data Engineer - Martech (Viator),"London, United Kingdom",Full Time,Senior-level,115K+ *,115000.0,True,"Airflow,APIs,Architecture,AWS,Business Intelli...","Career development,Competitive pay,Fitness / g..."
3187,Marley Spoon,People Data Specialist,"Lisbon, Lisbon, Portugal",Full Time,Mid-level,70K+ *,70000.0,True,"Data analysis,Excel,Finance,,,","Career development,Equity,Flex hours,Flex vaca..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [253]:
df_clean[df_clean['Job Type'] == 'Internship']

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
7,NielsenIQ,Intern (Business Intelligence Service Support),"Bangkok, Thailand",Internship,Entry-level,0,0.0,False,"Business Intelligence,Excel,Genetics,,,",",,,,"
8,Western Digital,Summer 2023 Data Engineering Intern,"San Jose, CA, United States",Internship,Entry-level,0,0.0,False,"Big Data,Computer Science,Engineering,Machine ...","Career development,Competitive pay,Equity,Flex..."
170,Wallbox,Analytics Engineer Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,0,0.0,False,"Airflow,BigQuery,CI/CD,Databricks,Data quality...","Career development,Flex hours,Team events,,"
213,Bosch Group,Data Management Internship,"Beograd, Serbia",Internship,Entry-level,0,0.0,False,"Computer Science,Data management,Engineering,E...","Flex hours,,,,"
217,Wallbox,Data Analyst Intern,"Barcelona, Catalonia, Spain",Internship,Entry-level,0,0.0,False,"Economics,Engineering,Machine Learning,Mathema...","Career development,Flex hours,Team events,,"
...,...,...,...,...,...,...,...,...,...,...
2884,Plantix,Data Analyst Intern,"Indore, India",Internship,Entry-level,0,0.0,False,"Computer Science,Data analysis,Data Analytics,...",",,,,"
3073,Definitive Logic,Data Science Intern,"Arlington, VA",Internship,Entry-level,0,0.0,False,"Big Data,Consulting,Consulting firm,Data analy...","Career development,Competitive pay,Flex hours,..."
3107,Barbaricum,AI Intern (ChatGPT Specialist),Remote,Internship,Entry-level,0,0.0,False,"APIs,ChatGPT,Engineering,GPT,GPT-3,GPT-4","Career development,,,,"
3134,Junglee Games,ETL and Data Warehouse Testing Intern,"Bengaluru, Karnataka, India",Internship,Entry-level,0,0.0,False,"Computer Science,Data quality,Data warehouse,E...",",,,,"
3159,Deezer,Data Analyst Intern m/f/d - Business,"Paris, France",Internship,Entry-level,0,0.0,False,"Data analysis,Data pipelines,Data visualizatio...","Career development,Health care,Insurance,Start..."

In [254]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2896 entries, 0 to 3196
Data columns (total 10 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Company                     2896 non-null   object
 1   Job Title                   2896 non-null   object
 2   Location                    2896 non-null   object
 3   Job Type                    2896 non-null   object
 4   Experience level            2896 non-null   object
 5   Salary                      2896 non-null   object
 6   Min_Salary_Year             2896 non-null   float64
 7   Salary_conditions           2896 non-null   bool
 8   Requirment of the company   2896 non-null   object
 9   Facilities                  2896 non-null   object
dtypes: bool(1), float64(1), object(8)
memory usage: 229.1+ KB

<h3>Gerer les valeurs aberrantes</h3>

In [255]:
import plotly.express as px


# Make a copy of our dataframe
df_new = df_clean.copy()

# Create a box plot
fig = px.box(df_new, y=['Min_Salary_Year'])

# Show the plot
fig.show()

# Define the columns of interest for outlier detection
# columns = ['Salary']

# # Calculate the IQR for the columns
# Q1 = df_new[columns].quantile(0.25)
# Q3 = df_new[columns].quantile(0.75)
# IQR = Q3 - Q1

# # Define the threshold multiplier (k)
# k = 0.5

# # Define the lower and upper bounds
# lower_bound = Q1 - k * IQR
# upper_bound = Q3 + k * IQR

# # Detect outliers based on the defined thresholds
# outliers = ((df_new[columns] < lower_bound) | (df_new[columns] > upper_bound)).any(axis=1)
# print('lower bound :', lower_bound)
# print('upper bound :', upper_bound)

# df_new_clean = df_new.drop(df[outliers].index)

# # Create a box plot
# fig_clean = px.box(df_clean, y=['stars', 'forks', 'issues', 'watchers'])

# # Show the plot
# fig_clean.show()

In [256]:
df_clean[df_clean['Min_Salary_Year'] > 200000].head

<bound method NDFrame.head of                  Company                                          Job Title
185              Peloton    Staff Database Reliability Engineer, Datastores  \
441           ServiceNow          Principal Machine Learning Engineer - ATG
596               Roblox    Principal Engineer, Datacenter Software Systems
665               Roblox            Principal Software Engineer, Applied ML
668   Palo Alto Networks                                   AI Architect, IT
684                Asana  Staff Data Scientist, Business - Sales & Custo...
688               Roblox             Senior Data Scientist- Creator Content
720               Roblox  Principal Machine Learning Engineer - Personal...
732               Roblox      Principal Software Engineer, Data Engineering
736               Roblox       Principal Machine Learning Engineer- Economy
744               Roblox  Principal Deep Learning Engineer - Computer Vi...
785               Roblox      Senior Data Scientist - Discovery Experiences
789               Roblox            Senior Data Scientist - Creator Success
841                 Rokt  Senior/Staff Machine Learning Engineer - Ecomm...
868               Roblox  Senior/Principal ML Engineer, Content Understa...
904               Roblox          Senior Machine Learning Engineer - Search
934                Block             Senior Data Science Manager, Marketing
944              Credera                          Principal  - Data Science
1022      Snowflake Inc.  Staff Software Engineer - Streaming Data Pipel...
1389              Roblox  Senior Machine Learning Engineer, Communicatio...
1400            Nextdoor                 Head of Data Science and Analytics
1460               CLEAR                            Principal Data Engineer
1486              Roblox      Senior Data Scientist - Social Communications
1513     Justworks, Inc.                       Senior Manager, Data Science
1554            Nextdoor  Principal Machine Learning Engineer - Core Inf...
1683          Cruise LLC  Senior Staff Applied Research Scientist, Perce...
1724              OpenAI                         Research Engineer, Privacy
1807               Block                    Data Science Manager, Marketing
2196              Airbnb        Senior Engineering Manager, Data Management
2284             Anaplan  Sr. Data Integrations Engineer, IT Enterprise ...
2518           Schonfeld                               Senior Data Engineer
2731                Zoox                Senior Stability Analytics Engineer
2863              Airbnb  Senior Staff Data Scientist - Inference, Marke...
3030            DataStax    Presales Data Architect - Streaming (Remote US)

                                      Location   Job Type Experience level
185                              New York City  Full Time     Senior-level  \
441     Santa Clara, California, United States  Full Time     Senior-level
596               San Mateo, CA, United States  Full Time     Senior-level
665               San Mateo, CA, United States  Full Time     Senior-level
668             Santa Clara, CA, United States  Full Time     Senior-level
684                              San Francisco  Full Time     Senior-level
688               San Mateo, CA, United States  Full Time     Senior-level
720               San Mateo, CA, United States  Full Time     Senior-level
732               San Mateo, CA, United States  Full Time     Senior-level
736               San Mateo, CA, United States  Full Time     Senior-level
744               San Mateo, CA, United States  Full Time     Senior-level
785               San Mateo, CA, United States  Full Time     Senior-level
789               San Mateo, CA, United States  Full Time     Senior-level
841         Sydney, New South Wales, Australia  Full Time        Mid-level
868               San Mateo, CA, United States  Full Time     Senior-level
904               San Mateo, CA, United States  Full Time     Senior-level
934           San Francisco, CA, United States  Full Time     Senior-level
944                                Los Angeles  Full Time     Senior-level
1022                         Bellevue, WA, USA  Full Time     Senior-level
1389              San Mateo, CA, United States  Full Time     Senior-level
1400                         San Francisco, CA  Full Time  Executive-level
1460     New York City, United States (Hybrid)  Full Time     Senior-level
1486              San Mateo, CA, United States  Full Time     Senior-level
1513                             New York City  Full Time     Senior-level
1554                         San Francisco, CA  Full Time     Senior-level
1683                         San Francisco, CA  Full Time     Senior-level
1724  San Francisco, California, United States  Full Time     Senior-level
1807          San Francisco, CA, United States  Full Time     Senior-level
2196                                    Remote  Full Time     Senior-level
2284              San Francisco, United States  Full Time     Senior-level
2518              New York City, United States  Full Time     Senior-level
2731                           Foster City, CA  Full Time     Senior-level
2863                         San Francisco, CA  Full Time     Senior-level
3030            Santa Clara, CA, United States  Full Time     Senior-level

      Salary  Min_Salary_Year  Salary_conditions
185    236K+         236000.0              False  \
441    224K+         224000.0              False
596    283K+         283000.0              False
665    283K+         283000.0              False
668    204K+         204000.0              False
684    202K+         202000.0              False
688    295K+         295000.0              False
720    283K+         283000.0              False
732    283K+         283000.0              False
736    267K+         267000.0              False
744    283K+         283000.0              False
785    295K+         295000.0              False
789    310K+         310000.0              False
841    207K+         207000.0              False
868    315K+         315000.0              False
904    267K+         267000.0              False
934    245K+         245000.0              False
944    224K+         224000.0              False
1022   214K+         214000.0              False
1389   218K+         218000.0              False
1400   230K+         230000.0              False
1460   225K+         225000.0              False
1486   253K+         253000.0              False
1513   235K+         235000.0              False
1554   227K+         227000.0              False
1683   234K+         234000.0              False
1724   245K+         245000.0              False
1807   245K+         245000.0              False
2196   235K+         235000.0              False
2284   202K+         202000.0              False
2518   205K+         205000.0              False
2731   205K+         205000.0              False
2863   220K+         220000.0              False
3030   204K+         204000.0              False

                             Requirment of the company
185   Architecture,AWS,Consulting,Distributed System...  \
441   LLMs,Machine Learning,PhD,Pipelines,Research,T...
596        APIs,Engineering,Genetics,Golang,Kubernetes,
665   Architecture,Content creation,Deep Learning,Di...
668   AI strategy,Architecture,Classification,Comput...
684   Causal inference,Classification,Clustering,Com...
688   A/B testing,Airflow,Big Data,Causal inference,...
720   Computer Science,Engineering,Genetics,Machine ...
732   Airflow,Architecture,AWS,Azure,Dagster,Data pi...
736   Computer Science,Data analysis,Data pipelines,...
744   Computer Vision,Deep Learning,Genetics,Machine...
785   Airflow,Big Data,Causal inference,Computer Sci...
789   A/B testing,Airflow,Big Data,Causal inference,...
841   Agile,Architecture,Bayesian,Computer Science,C...
868   Architecture,Computer Vision,Deep Learning,Gen...
904   Computer Science,Deep Learning,Engineering,Gen...
934   Airflow,Banking,BigQuery,Blockchain,Crypto,Eng...
944   Architecture,AWS,Azure,Cluster analysis,Comput...
1022  Computer Science,Data pipelines,Distributed Sy...
1389  ASR,Computer Vision,Data pipelines,Deep Learni...
1400  Big Data,Computer Science,Data governance,Data...
1460  Airflow,Business Intelligence,Dagster,Data gov...
1486  A/B testing,Big Data,Causal inference,Computer...
1513  Engineering,Machine Learning,Predictive modeli...
1554  AWS,Computer Science,Core ML,Distributed Syste...
1683  Computer Vision,Drivers license,Lidar,Machine...
1724  AGI,Deep Learning,Distributed Systems,LLMs,Mac...
1807  Airflow,Banking,BigQuery,Blockchain,Crypto,Eng...
2196  Agile,AWS,Azure,Classification,Computer Scienc...
2284  APIs,Architecture,Computer Science,CX,Data gov...
2518  Agile,AWS,Business Intelligence,Computer Scien...
2731  Airflow,Autonomous Driving,Data analysis,Data ...
2863  Bayesian,Causal inference,Economics,LLMs,Machi...
3030  AWS,Azure,Distributed Systems,Engineering,GCP,...

                                             Facilities
185   401(k) matching,Competitive pay,Equity,Fertili...
441   401(k) matching,Competitive pay,Equity,Flex ho...
596   Equity,Flex hours,Flex vacation,Health care,Un...
665   Career development,Conferences,Equity,Flex hou...
668   Career development,Medical leave,Salary bonus,...
684                               Equity,Health care,,,
688   Career development,Equity,Flex hours,Flex vaca...
720   Career development,Equity,Flex hours,Flex vaca...
732   Career development,Equity,Flex hours,Flex vaca...
736   Career development,Equity,Flex hours,Flex vaca...
744   Career development,Equity,Flex hours,Flex vaca...
785   Career development,Equity,Flex hours,Flex vaca...
789   Career development,Equity,Flex hours,Flex vaca...
841   Career development,Equity,Fitness / gym,Health...
868   Career development,Equity,Flex hours,Flex vaca...
904   Career development,Equity,Flex hours,Flex vaca...
934   Career development,Equity,Flex vacation,Health...
944   401(k) matching,Career development,Competitive...
1022                             Equity,Salary bonus,,,
1389  401(k) matching,Career development,Conferences...
1400  Career development,Equity,Health care,Startup ...
1460  401(k) matching,Career development,Fertility b...
1486  Career development,Equity,Flex hours,Flex vaca...
1513  Career development,Startup environment,Team ev...
1554  Career development,Equity,Health care,Salary b...
1683  Career development,Competitive pay,Conferences...
1724  Career development,Equity,Flex vacation,Health...
1807  Career development,Equity,Flex vacation,Health...
2196                 Career development,Salary bonus,,,
2284                                               ,,,,
2518                                Competitive pay,,,,
2731  Career development,Equity,Health care,Insuranc...
2863                        Conferences,Salary bonus,,,
3030                             Career development,,,,  >

<h3>Job Types list</h3>

In [257]:
df_clean['Job Type'].unique().tolist()

['Full Time', 'Internship', 'Part Time']

<h3>Job Experience level list</h3>

In [258]:
df_clean['Experience level'].unique().tolist()

['Entry-level',
 'Not-Specified',
 'Mid-level',
 'Senior-level',
 'Executive-level']

<h3>Job titles list</h3>

In [259]:
df_clean['Job Title'].unique().tolist()

['Clinical Data Analyst',
 'AML/CFT & Data Analyst',
 'Machine Learning Engineer',
 'Application Developer & Data Analyst',
 'Data Engineer Full time (Public Sector) USA',
 'Sr Staff Data Scientist - ATG',
 'Vendor Management and Data Quality Lead',
 'Intern (Business Intelligence Service Support)',
 'Summer 2023 Data Engineering Intern',
 'Principal Cloud Data Engineer (Prisma Access)',
 'Data Scientist (TE-CRG-GLO-2023-19-GRAP)',
 'Data Analyst - Revenue Optimizer',
 'Graduate Power BI Developer',
 'SAP Consultant - Product Data Management',
 'PreMaster Programm - Data Analytics and Visualization',
 'Staff Data Scientist - ATG',
 'Senior Data Analyst - Sales',
 'BI Analyst',
 'Data Scientist | Insights (f/m/d) - GER, UK, NL, PL',
 'Senior Data Analyst (Remote within EMEA)',
 'Senior Data Engineer (Evergreen)',
 'Data Management Scrum Master',
 'Rotational Development Program - Artificial Intelligence and Machine Learning Trainee',
 'Data Engineer Scientist',
 'Data Scientist (Elasticsearch)',
 'Data Engineer F/H',
 'BI Developer',
 'Data Scientist - Fraud Risk',
 'QuintoAndar - Senior Data Analyst',
 'ML Research Engineer',
 'Principal Engineer, Data Project Management',
 'Senior Data Engineer',
 '(Senior) Digital Analytics Engineer',
 'Senior Software Engineer (Data Pipeline)',
 'Senior Data Scientist',
 'Data Science Lead (Hybrid)',
 'Business Intelligence Analyst',
 'Lead Business Intelligence Analyst',
 'Sr Data Engineer',
 'Data Modeler',
 'Data Engineer',
 'VP, Actuarial Modeling and Data Management',
 'Healthcare Data Analyst',
 'Data Scientist',
 'Data Analyst | Marketing or Sales (f/m/d) - GER, UK, NL, PL',
 'Business Intelligence Expert',
 'Senior Data Analyst',
 'Principle MLOps Engineer',
 'Machine Learning Research Engineer, Generative AI',
 'Data Analyst - Product Innovation',
 'Lead Data Scientist',
 'Data Product Owner',
 'Bi Analyst Jr - 24170',
 'HTML Developer',
 'Business Intelligence Developer',
 'Data Scientist, Marketing Analytics',
 'Senior Manager - AML/CFT & Data Analyst',
 'Senior Data Visualization Analyst',
 'Senior Data Engineer (Remote)',
 'Customer Data Engineer',
 'Data Engineer- Data Platform',
 'Digital Marketing Lead (ZibraAI)',
 'Staff Data Scientist - Marketing',
 'Senior Sales Business Intelligence Manager',
 'Data Analyst, Customer Experience',
 'ETAS Test Lead - Autonomous Driving Solutions',
 'Sr. Data Engineer',
 'Specialist Solutions Architect - MLOps',
 'Data Scientist, Terminal',
 'React Native Engineer - Mobile (Dubai)',
 'Artificial Intelligence Lead | KPMG Futures',
 'Jr. CRM Data Quality Specialist',
 'Data Management Consultant Banking (f/d/m) Financial Services Data Platform FSDM',
 'Director, Artificial Intelligence (AI)',
 'Intermediate BI Developer',
 'Senior Business Intelligence Analyst',
 'Data Analyst',
 'Staff Machine Learning Engineer',
 'Data Analyst (Remote)',
 'Data Engineer I',
 'Cloud Database Analyst',
 'Senior Machine Learning Engineer',
 'Junior Data Analyst',
 'Financial Data Analyst',
 'Senior Consultant in Data science',
 'Staff Clinical Data Manager # 3073',
 'HR Data Analyst',
 'Consultant in Data Science',
 'Staff Engineer, Data Platform',
 'Senior Data Scientist, Marketing Analytics',
 'Director, IVA and AI Solutions - Professional Services Practice Lead',
 'Lead Data Analyst(Marketing/Growth Analytics)',
 'Data Analyst, Service Analytics',
 'Amazon Robotics - Hardware Engineer Co-op (July-December 2023), Amazon Robotics',
 'Senior/Staff Data Engineer',
 'Data Product Manager',
 'FSA (FinTech) - Quantitative Machine Learning Specialist & Software Developer',
 'Data Engineer Analyst',
 'Software Engineer (Data Pipeline)',
 'Associate Data Scientist',
 'Data Engineering Analyst',
 'Talan Consulting \x96 Consultant Senior/Manager \x96 Data Strategy (H/F)',
 'Enterprise Data Architect - 6 month Contract',
 'Data Engineer II',
 'Data Scientist/Machine Learning Engineer',
 'Senior Data Scientist, Product',
 'Senior Technical Support Engineer, DataSet',
 'Finance Business Intelligence , Operations Finance',
 'Staff Machine Learning Modeler, Financial Crimes',
 'Data Engineer - Music',
 'Data Manager',
 'Salesforce Administrator/Data Specialist',
 'Data Engineer (Starlink)',
 'Data Engineer confirmé BI - BIG DATA',
 'Director, Spark Technical Solutions',
 'Middle Data Engineer (Healthcare domain)',
 'Senior Data Analyst (Pricing)',
 'People Analytics Data Visualization Senior Associate (Open to Remote)',
 'Développeur Power BI - H/F',
 'Product Manager - Experts & Artificial Intelligence',
 'Group Manager Data Analytics India',
 'Vice President Director, Data Scientist',
 'Business Intelligence Analyst, AWS Cloud Logistics',
 'Scientist/Senior Scientist, Machine Learning',
 'Principal Site Reliability Engineer, Datastores (Hybrid)',
 'Machine Learning Manager (Systems)',
 'Consultant Data Engineer',
 'Machine Learning Engineer L3',
 'Data Analyst Coches.net',
 'Senior Product Marketing Manager, Conversational Intelligence & AI Products',
 'Graduate Data Analyst',
 'Analytics Engineer',
 'Specialist Solutions Architect - Data Engineering (Public Sector)',
 'Senior Data Quality Assurance Specialist',
 'Senior Site Reliability Engineer, Datastores (Hybrid)',
 'Customer Success Junior ML Engineer, Onboarding Specialist',
 'Senior Data Science Engineer',
 'Digital Analytics Engineer',
 'Senior Data Scientist, Marketing',
 'Analytics Engineer Intern',
 'Master Data Team Manager',
 'Senior Data Engineer, Enterprise Engineering',
 'Data Operations Associate',
 'Staff ML Engineer (8627)',
 'Specialist Architect : Big Data',
 'Research Engineer in Multi Agent Path Finding for Mobile Robots (f/m/div.)',
 'Product Marketing Manager, Data Engineering',
 'CV/ML Engineer for 3D Virtual Humans - Remote Europe',
 'Senior Data Engineer - Data Bricks',
 'Director AI Science',
 'Researcher- Business Intelligence',
 'Machine Learning Research Scientist',
 'Staff Database Reliability Engineer, Datastores',
 'Senior Data Scientist - Viator, London, Oxford, UK Remote',
 'Data Analyst (Bangkok Based, Relocation Provided)',
 'Associate AI/ML Engineer',
 'Azure Data Architect',
 'Senior Applied Data Scientist',
 'Senior Scientist, Decision Sciences',
 'Data Operations & Insights Manager',
 'Principal ML Engineer - AI Platform',
 'Principal Product Marketing Manager, AI & Machine Learning',
 'Technical Support Specialist (Robotics) - EU - Remote',
 'Data Architect',
 'Operations Data Analyst (Tableau)',
 'Head of Applied AI/ML',
 'Software Engineer - Autonomy Metrics',
 'Product Manager- Data Visualization & Analytics',
 'Data Science in Product Design Engineering',
 'Senior Director of Product - Machine Learning',
 'Senior Data Analyst (Bangkok Based, Relocation Provided)',
 'Operations Planner Data Management Technician',
 'Data Operations Client Onboarding',
 'Machine Learning Research Scientist - Reinforcement Learning',
 'Machine Learning Engineer, Generative AI',
 'Data Management Internship',
 'Sr Big Data Engineer',
 'Consulting - Robotics Process Automation (RPA) Developer',
 'Data Analyst Intern',
 'Data Engineer with Databricks - Empower (remote/Costa Rica-based)',
 'Databricks and Scala Engineer geospatial',
 'Software Engineer, Data Platform',
 'Senior Manager Data Engineering',
 'Senior Data Engineer (P3949).',
 'Junior Data Engineer Customer Analytics',
 'Chief Engineer, Autonomy (R2020)',
 'Senior Research Data Analyst',
 'Sport data operator',
 'Associate Director | Artificial Intelligence Lead | KPMG Futures',
 'Research Scientist',
 'Data Engineering Manager',
 'Principal Engineer - Data Integrations',
 'Python Engineer - Machine Learning Specialist (Remote)',
 'Senior Applied Scientist - Document Intelligence',
 'Data Analyst, Go Live',
 'Senior Data Scientist (M/F)',
 'Researcher/Senior Researcher \x96 Natural Language Processing and Text Analytics',
 'Data Analyst (Customer Service Industry, Mandarin Support)',
 'Manager Data Strategy',
 'Business Partner, Data Analysis',
 'Data Engineer - Remote',
 'Marketing Data Analyst',
 'Post-Doctoral Fellow or Associate - Agronomy Data Scientist',
 'Sr. Data Scientist',
 'Researcher- Computer Vision',
 'Data Science Lead',
 'Senior Data Scientist, Product Analytics',
 'Software Engineer - Machine Learning, Granica Screen',
 'Data Engineer - Türkiye',
 'SDE-III, Data Engineering',
 'Oracle Data Modeler / PL/SQL - Data warehouse',
 'Product Data Specialist (HW)',
 'SparkCognition Director of Accounting - Controller',
 'Senior Machine Learning Scientist (USA REMOTE)',
 'Senior Data Scientist (P171).',
 'Cloud Data Analyst Engineer (FinOps)',
 'DataOps Engineer',
 'Robotic Research Engineer - Mechatronics',
 'Manager - Applied Data Scientist',
 '??·????/Business Intelligence Engineer, Japan Operations Finance',
 'Senior Data Engineer - (Christchurch)',
 'Senior Software Engineer - Data Architecture skills',
 'BI Developer, Analytics',
 'Supervisão de Business Intelligence (foco em mídia/comunicação)',
 'SME Consultant for Data Analytics',
 'Senior Data Strategist',
 'Data Analyst (Oslo-based)',
 'Senior AI Engineer',
 'SQL Data Engineers',
 'Subsurface Data Manager',
 'Senior Data Analyst with Python SQL - MS- Bangalore',
 'Data Analyst Supply Chain Management (f/m/d)',
 'Senior Data Quality Developer',
 'Remote Intermediate Fullstack Engineer (AI Team)',
 'iOS Engineer (Dubai)',
 'Business Intelligence Data Strategist',
 'Data Engineer Customer Analytics',
 'Sr. BI Analyst',
 'Data Scientist Generalist',
 'Business Intelligence Analyst - Sales Operations',
 'Senior Developer - Data Engineer (AWS/Python/Node)',
 'Senior Data Scientist: NLP',
 'Data Analyst (Allegro Pay)',
 'Data Analyst (DEA)',
 'Manager, Business Operations - Diagnostic Imaging and Laboratory',
 'Data Science Consultant',
 'Customer Master Data Analyst',
 'Senior Data Quality Engineer',
 'Senior Data Analyst - Hybrid',
 'Computer Vision Researcher',
 'Research Scientist - Machine Learning and Algorithms',
 'Senior Applied Scientist',
 'Tableau/BI Developer',
 'Data Scientist (Real-time Ops)',
 'Master Data Management Plants (f/m/div.)',
 'Coordinator of Data Operations',
 'Data Science Team Lead',
 'AI Programmer VR (UE)',
 'Data Engineer (Python) - Payments',
 'Master Data Management Plants (f/m/div.) (salary: ~81.000 EUR p.a.*)',
 'Data Analyst Pleno',
 'Research Engineer PEM Electrolyzer (f/m/div.)',
 'Consulting - Data Engineer',
 'Data Analyst Intern - Product Analytics',
 'Enterprise Data Architect',
 'TTGP Fleet Data Manager/Senior JICO',
 'Senior Software Engineer - Data analytics',
 'Staff Technical Product Manager, AI Platform and Solutions',
 'Big Data Engineer - PySpark',
 'Consultant / Sr Consultant - QA Data Engineer',
 'Computational Biologist, Translational Science - Location Flexible',
 'Lead Software Engineer, ML Infrastructure',
 'Senior Insurance Data Scientist',
 'Principal Engineer, Data Systems',
 'Clinical Data Manager',
 'Data Analyst I - Fraud',
 'Senior Data Scientist, Operations',
 'Software Engineer - Data Platform (Python, Cloud, Big Data)',
 'Senior Cloud Data Analyst Engineer (FinOps)',
 'Data Engineer - Bulgaria',
 'Power BI Developer',
 'Consultant, Data Analytics',
 'Junior MLOps - Intern',
 'Business Intelligence Internship (Summer 23/24)',
 'Business Analyst (Tech/AI)',
 'Senior Applied Scientist, Amazon',
 'Specialist Solutions Architect - Data Engineering (Financial Services)',
 'Data Scientist eBike Systems (f/m/div.)',
 'Graduate Data Scientist',
 'Robotics Engineer, Sensors',
 'Contract: Data Infrastructure Engineer',
 'AI/ML Modeling, Simulation and Analysis Engineer (Senior)',
 'Cloud Data Engineer',
 'Head of Data Science, Analytics and BI',
 'Clinical Data Reporter',
 'Especialista em Auditoria Interna - Data Analytics',
 'Engineering Team Lead, Imaging Tech',
 'Senior ML Engineer - NLP',
 'Data Analyst (Aberdeen-based)',
 'Principal Engineer, Data and Control Systems',
 'Data Scientist (Pricing)',
 'Head of AML Operations (m/f/d)',
 'Data Engineer - 14072',
 'Data Analyst (Reporting and Insights)',
 'Sr. Manager (AI/ML)',
 'Data Scientist, Decisions - Rider',
 'Data Architect - SME',
 'Senior SW Engineer (Machine Learning)',
 '(Global) Senior Research Scientist',
 'Staff Data Scientist, Model Risk Management',
 'Graduate Imaging Geophysicist',
 'Architecte Plateforme Big Data / DevOps - F/H',
 'Data Analyst - Retention',
 'Lead Machine Learning Engineer',
 'Data Developer',
 'Data Analyst - Digital Marketing (all genders)',
 'Android Engineer (Dubai)',
 'Data Specialist - Governance',
 'Senior Robotics Process Automation Developer',
 'Technical Product Manager, Data Engineering',
 'Sr. Data Developer (Remote), Experian Consumer Services',
 'Senior Data Analyst with Python SQL - Bangalore',
 'Manager, Measurement Innovation & Data Science',
 'Data Analytics Engineer',
 'Cloud Data Architect',
 'Business Intelligence Engineering Manager',
 'DevOps Engineer (Dubai)',
 'Data Analytics Internship (Summer 23/24)',
 'Confirmed Data Analyst - Data Pro Supply',
 'Senior Machine Learning Engineer (Modeling)',
 'Data Scientist / Data Analyst',
 'Product Data Analyst sénior (h/f) en CDI à Paris',
 'Data Analyst - Stage',
 'Senior Analytics Engineer',
 'Sr. Software Engineer, Data Engineering',
 'Senior Machine Learning Engineer I',
 'Data Engineer Sr.Software Engineer DX',
 'Senior Staff Data Engineer',
 'Natural Language Processing Intern',
 'Senior Data Engineers',
 'Coordinateur projets Genotypage data analyse (H/F)',
 'Machine Learning & Software Engineer, Infrastructure - US Remote',
 'Customer-Facing Deep Learning Solutions Architect',
 'Data Engineering Manager - Allegro Pay',
 'Senior Business Intelligence Developer (Database Architect & ETL Developer)',
 'Technical Mentor (Independent Contractor) - Data Engineering Nanodegree (US Timezone)',
 'Data Analyst, Business Optimisation',
 'Machine Learning Force Fields Scientist (Materials Science)',
 'Principal Machine Learning Engineer - ATG',
 'Senior Associate Data Sciences',
 'Senior Data Engineer (all genders) AI',
 'Intermediate / Senior Fullstack Engineer (AI Team)',
 'Data Quality Analyst - Stage',
 'Senior Software Engineer - AI/ML team (.net + python)',
 'Software Engineer, Data Platform, Data Management',
 'Senior Machine Learning Engineer (Modeling), Financial Crimes Technology',
 'Research Analyst',
 'Backend / Data Engineers II, Cerebro',
 'Junior Data Manager',
 'Data Infrastructure Engineer',
 'Backend Engineer (Dubai)',
 'Senior Software Engineer I, Machine Learning, Retrieval Sciences',
 'Sr. Staff Machine Learning Engineer',
 'Staff Systems Engineer, Autonomy & Simulation',
 '[??-??&???] Senior, Data Analyst (Channel Analytics)',
 'Senior Machine Learning Expert (on-site, Brussels / Belgium)',
 "Spécialiste, intelligence d'affaires / Specialist, Business Intelligence",
 'Senior Product Manager | API & Data Products',
 'Senior Analyst, Data Science and Analytics',
 'Senior Product Manager - Data Management & Search',
 'Accounting Professor- Data Analytics/AIS- 90K+ Salary',
 'Senior Data Engineer - Healthgrades',
 'Sr Applied Data Scientist',
 'Business Intelligence Engineer',
 'Assistant Mgr - Data Sciences',
 "Data Analyst - Stage de fin d'études - Paris 2e",
 'Trading BI Developer',
 'Data Analytics Intern - Le Cubs 2023',
 'Product Data Analyst -  F/H',
 'Data Scientist (Crypto)',
 '[Job- 10639] Senior Data Engineer Developer, Brazil',
 'Business Intelligence Associate',
 'Analyst, Reporting and Business Intelligence',
 'Data Science Software Engineer',
 'Product Owner with Tableau/Power BI(6 to 10 years)',
 'Machine Learning & Software Engineer, Infrastructure - EMEA Remote',
 'Sr AI Solution Developer (ServiceNow Developer)',
 'Data Integrations Engineer',
 'Lead Software Engineer - AI/ML team (.net + python)',
 'Transportation Data Analyst Coordinator',
 'Senior Applied Data Scientist (all genders) AI',
 'Power BI Analyst',
 'Senior Cloud DevOps Engineer (Data & AI) bei eBike Systems (w/m/div.)',
 'Business Intelligence Analyst I',
 'Power BI Data Visualization Analyst',
 'Data Analyst (CEO Office)',
 'Senior Data Science Analyst- Model Validation',
 'Sr. Revenue Operations Specialist - Data Analytics',
 'PhD Position - Neuro-Symbolic AI for Scene Understanding in Autonomous Driving',
 'Senior Product Manager, Large Language Model',
 'QuintoAndar - Analytics Engineer',
 'VP, Data Products',
 'Data Platform Developer, Machine Learning',
 'Senior Vision Engineer (English version)',
 'Lead Data Scientist (P3436)',
 '(Canada) Business Intelligence Engineer',
 'Lead ML Platform Engineer',
 'Staff Data Engineer',
 'Transportation Data Analyst (Tableau)',
 'Robotics Software Developer Intern Fall 2023',
 'Senior Data Architect',
 'Software Engineer, Computer Vision Program',
 'Data Engineer - Tempcover',
 'ML PhD Intern - LLMs & Generative AI',
 'Alternance - « Data Analyst » ou « Equipe Business Intelligence » (H/F)',
 'Software Engineer - Structured Data Strategies',
 'Data Science Intern',
 'Institution Data Analyst',
 'Senior Solutions Engineer - Big Data',
 'Principal Machine Learning (ML) Engineer',
 'Product Data Engineer',
 "Data Engineer - Stage de fin d'études - Paris 2e",
 'Senior Data Engineer/Scientist',
 'Principal Data Scientist, Machine Learning',
 'Sr Director - Project Implementation - Medical Imaging / PACS',
 'Big Data BI Engineer',
 'Principal Data Scientist (Spain, full-remote)',
 'AI Programmer',
 'Machine Learning for Natural Language Processing Intern',
 'Data Scientist engineer',
 'ML Postdoc Researcher - LLMs & Generative AI',
 'Principal Engineer, Data Management Engineering',
 'Lead Data Scientist - Pricing',
 'Data Scientist, Product Analytics',
 'Senior Infrastructure Software Engineer, ML Platform',
 'Alumio Solution Engineer (Data Integration)',
 'Senior AI Research Scientist \x96 Perception and Machine Learning',
 'Field Sample Specialist (Air Samples) - Eurofins Environment Testing \x96 Pueblo, CO',
 'Senior Research Scientist \x96 AI-based Planning for Autonomous Systems',
 'Senior Data Engineer, PHP',
 'Head of Data Science & Predictive Modeling',
 'Business and Commercial Banking (BCB) Business Intelligence and Analytics Graduate Programme - Gauteng',
 'Data Scientist - Data Analytics and Infrastructure',
 '(Senior) Machine Learning Engineer - MLOps',
 'Team Lead Data Science (f/m/x)',
 'Senior Data Scientist - Monetization',
 'Lead Machine Learning Research Engineer, Generative AI',
 'Course Associate, Data Analysis and Visualization in Sustainability (Fall 2023)',
 'Robotics Engineer',
 'Ingénieur Data Modeler et/ou Tech Data - F/H',
 'Biomedical Data Scientist',
 'Product Analyst - Remote (Mumbai)',
 'Databricks Administrator',
 'Analyst, Data Engineering',
 'Lead Data Engineer- Bangalore',
 'Marketing Data Scientist',
 'Insight Analyst',
 'Senior Applied Scientist I',
 'Data Manager Consultant',
 'Senior Machine Learning Scientist (8304)',
 'Senior Product Manager (AI team)',
 'Principal Applied Scientist',
 'Director of Data Science',
 'Data Analyst Consultant',
 'Senior Market Research Analyst',
 'Senior Manager of Master Data Management (Hybrid)',
 'Mid Data Scientist (f/m/x), Remote (EU) / Berlin',
 'Sr. Product Manager (AI team)',
 'Data Analyst (Pricing)',
 'Principal Data Strategist Consultant',
 'Senior Vehicle Data Analyst',
 'Machine Learning Engineer (m/w/x)',
 'Principal Engineer, Datacenter Software Systems',
 'Business Intelligence (Qlik) Developer',
 'Staff Data Scientist, Credit Card',
 'Head of Product Data Science',
 "Data Engineer / Data Analyst - Stage de fin d'études - Paris 2e (H/F)",
 'Junior Data Engineer',
 'Machine Learning Research Engineer - Federal',
 'Lead Data Engineer (P3796)',
 'Senior ML Engineer',
 'BI Engineer & Data Visualisation',
 'Senior Machine Learning Engineer (8031)',
 'Python Machine Learning Engineer (AdLight)',
 'Research Engineer in Text Analytics (Direct Contract with Bosch)',
 'Consultant(e) Data Scientist / Recherche Opérationnelle',

<h3>Rename Columns and replace whitespaces by underscore</h3>

In [260]:
df_clean

,Company,Job Title,Location,Job Type,Experience level,Salary,Min_Salary_Year,Salary_conditions,Requirment of the company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [261]:
# Rename the column to remove spaces
df_clean.columns = df_clean.columns.str.replace(" ", "_")

In [262]:
df_clean

,Company,Job_Title,Location,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company_,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [263]:
df_clean.rename(columns={"Requirment_of_the_company_": "Requirment_of_the_company"}, inplace=True)
df_clean

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\6376463.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Company,Job_Title,Location,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"Computer Science,Data quality,Genetics,Mathema...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"Agile,Data management,Finance,Security,,",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"Agile,Architecture,AWS,Computer Science,Comput...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"Engineering,Industrial,Oracle,Power BI,R,R&D",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"AWS,Azure,Computer Science,Consulting,Dataflow...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"Agile,Angular,APIs,Architecture,AWS,Azure","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"Bayesian,Classification,Clustering,Data analys...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"Computer Science,Data analysis,Engineering,Exc...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"APIs,Clustering,Computer Science,Data visualiz...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"Computer Science,Data Analytics,Data Mining,Ec...","Career development,Startup environment,,,"

In [264]:
# Transform values of column "Requirment_of_the_company" to lists

# Step 1: Replace multiple consecutive commas with a single comma
df_clean.loc[:, 'Requirment_of_the_company'] = df_clean['Requirment_of_the_company'].str.replace(',+', ',')

# Step 2: Split values using the comma as delimiter and Step 3: Eliminate empty elements
df_clean.loc[:, 'Requirment_of_the_company'] = df_clean['Requirment_of_the_company'].str.split(',').apply(lambda x: [item for item in x if item])
df_clean

,Company,Job_Title,Location,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"[Computer Science, Data quality, Genetics, Mat...",",,,,"
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"[Agile, Data management, Finance, Security]",",,,,"
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"[Agile, Architecture, AWS, Computer Science, C...","Career development,,,,"
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"[Engineering, Industrial, Oracle, Power BI, R,...",",,,,"
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"[AWS, Azure, Computer Science, Consulting, Dat...","Flex hours,Flex vacation,Parental leave,Unlimi..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"[Agile, Angular, APIs, Architecture, AWS, Azure]","401(k) matching,Career development,Flex hours,..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"[Bayesian, Classification, Clustering, Data an...","Career development,Health care,,,"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"[Computer Science, Data analysis, Engineering,...","401(k) matching,Career development,Equity,Insu..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"[APIs, Clustering, Computer Science, Data visu...","Career development,,,,"
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"[Computer Science, Data Analytics, Data Mining...","Career development,Startup environment,,,"

In [265]:
# Transform values of column "Facilities" to lists

# Step 1: Replace multiple consecutive commas with a single comma
df_clean.loc[:, 'Facilities'] = df_clean['Facilities'].str.replace(',+', ',')

# Step 2: Split values using the comma as delimiter and Step 3: Eliminate empty elements
df_clean.loc[:, 'Facilities'] = df_clean['Facilities'].str.split(',').apply(lambda x: [item for item in x if item])
df_clean

,Company,Job_Title,Location,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",Full Time,Entry-level,48K+ *,48000.0,True,"[Computer Science, Data quality, Genetics, Mat...",[]
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Full Time,Entry-level,48K+ *,48000.0,True,"[Agile, Data management, Finance, Security]",[]
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",Full Time,Not-Specified,90K+ *,90000.0,True,"[Agile, Architecture, AWS, Computer Science, C...",[Career development]
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Full Time,Entry-level,48K+ *,48000.0,True,"[Engineering, Industrial, Oracle, Power BI, R,...",[]
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",Full Time,Mid-level,108K+,108000.0,False,"[AWS, Azure, Computer Science, Consulting, Dat...","[Flex hours, Flex vacation, Parental leave, Un..."
...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",Full Time,Mid-level,113K+,113000.0,False,"[Agile, Angular, APIs, Architecture, AWS, Azure]","[401(k) matching, Career development, Flex hou..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",Full Time,Mid-level,106K+,106000.0,False,"[Bayesian, Classification, Clustering, Data an...","[Career development, Health care]"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Full Time,Senior-level,176K+,176000.0,False,"[Computer Science, Data analysis, Engineering,...","[401(k) matching, Career development, Equity, ..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Full Time,Entry-level,39K+ *,39000.0,True,"[APIs, Clustering, Computer Science, Data visu...",[Career development]
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Full Time,Entry-level,39K+ *,39000.0,True,"[Computer Science, Data Analytics, Data Mining...","[Career development, Startup environment]"

In [266]:
## Specify and replace the empty []

In [267]:
# Filter rows with empty lists in the 'Facilities' column
# rows_with_empty_facilities = df_clean[df_clean['Facilities'].apply(lambda x: x == [])]
# rows_with_empty_facilities.shape

In [268]:
# Update the 'Facilities' column in the filtered rows to 'no-facilities'
# df_clean.loc[rows_with_empty_facilities.index, 'Facilities'] = 'No-Facilities'
# df_clean[df_clean['Facilities'].apply(lambda x: x == [])].shape

---------------------------------------------------------------------------
## Manage the location column
---------------------------------------------------------------------------

In [269]:
# import geograpy

# # Function to extract city and country
# def extract_location_info(location):
#     places = geograpy.get_geoPlace_context(text=location)
#     countries = places.countries
#     cities = places.cities
#     country = countries[0] if countries else None
#     city = cities[0] if cities else None
    
#     print(f"{country} {city}")
#     return city, country

# # Apply the function to extract location info into new columns
# df_data['City'], df_data['Country'] = zip(*df_data['Location'].apply(extract_location_info))

# df_data

# len(df_data[(df_data['Country'].isna()) | (df_data['City'].isna())]['Location'].tolist())

In [270]:
from geotext import GeoText

# Function to extract city, state, and country
def extract_location_info(location):
    # location = location.split(', ')
    places = GeoText(location)
    countries = places.countries
    if countries:
        country = countries[0] 
    else:
        country = 'Worldwide'
    return country

df_clean.loc[:, 'Country'] = df_clean['Location'].apply(extract_location_info)

# Modify the position of City and Country position
Country = df_clean.pop('Country')
df_clean.insert(3, 'Country', Country)

df_clean

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\258476788.py:14: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Company,Job_Title,Location,Country,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",United States,Full Time,Entry-level,48K+ *,48000.0,True,"[Computer Science, Data quality, Genetics, Mat...",[]
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Mauritius,Full Time,Entry-level,48K+ *,48000.0,True,"[Agile, Data management, Finance, Security]",[]
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",United States,Full Time,Not-Specified,90K+ *,90000.0,True,"[Agile, Architecture, AWS, Computer Science, C...",[Career development]
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Italy,Full Time,Entry-level,48K+ *,48000.0,True,"[Engineering, Industrial, Oracle, Power BI, R,...",[]
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",United States,Full Time,Mid-level,108K+,108000.0,False,"[AWS, Azure, Computer Science, Consulting, Dat...","[Flex hours, Flex vacation, Parental leave, Un..."
...,...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",United States,Full Time,Mid-level,113K+,113000.0,False,"[Agile, Angular, APIs, Architecture, AWS, Azure]","[401(k) matching, Career development, Flex hou..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",United States,Full Time,Mid-level,106K+,106000.0,False,"[Bayesian, Classification, Clustering, Data an...","[Career development, Health care]"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Worldwide,Full Time,Senior-level,176K+,176000.0,False,"[Computer Science, Data analysis, Engineering,...","[401(k) matching, Career development, Equity, ..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Philippines,Full Time,Entry-level,39K+ *,39000.0,True,"[APIs, Clustering, Computer Science, Data visu...",[Career development]
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Canada,Full Time,Entry-level,39K+ *,39000.0,True,"[Computer Science, Data Analytics, Data Mining...","[Career development, Startup environment]"

In [271]:
df_clean[df_clean['Country'] == 'Worldwide']

,Company,Job_Title,Location,Country,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
18,Issuu,BI Analyst,Braga,Worldwide,Full Time,Not-Specified,48K+ *,48000.0,True,"[Business Analytics, Business Intelligence, Da...","[Competitive pay, Equity, Health care, Insurance]"
19,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Worldwide,Full Time,Senior-level,129K+ *,129000.0,True,"[Agile, Data visualization, Economics, Machine...",[Career development]
20,Printify,Senior Data Analyst (Remote within EMEA),Tallinn,Worldwide,Full Time,Senior-level,92K+ *,92000.0,True,"[Architecture, Data analysis, Data Analytics, ...","[Career development, Equity, Fitness / gym, Ho..."
24,EX2 Outcoding,Data Engineer Scientist,Remote Worldwide,Worldwide,Full Time,Mid-level,73K+ *,73000.0,True,"[Computer Science, Data Mining, Engineering, P...",[]
32,Podium,Senior Data Engineer,"Lehi, Utah, Open to Remote",Worldwide,Full Time,Senior-level,115K+ *,115000.0,True,"[APIs, Big Data, Computer Science, Data analys...",[]
...,...,...,...,...,...,...,...,...,...,...,...
3179,C3.ai,Lead Data Scientist - Healthcare,"London, UK",Worldwide,Full Time,Senior-level,129K+ *,129000.0,True,"[Architecture, Classification, Computer Scienc...","[Career development, Competitive pay]"
3181,C3.ai,Data Scientist / Senior Data Scientist (Federal),"Tysons, VA; Dayton, OH; Redwood City, CA",Worldwide,Full Time,Senior-level,123K+,123000.0,False,"[Architecture, Classification, Computer Scienc...","[Career development, Competitive pay, Equity]"
3185,C3.ai,Data Science Instructor,"Redwood City, California",Worldwide,Full Time,Senior-level,109K+,109000.0,False,"[Architecture, Clustering, ETL, Jupyter, Machi...","[Career development, Competitive pay, Equity]"
3188,TripAdvisor,Senior Machine Learning Engineer (Trip Planning),"Needham, Massachusetts, MA",Worldwide,Full Time,Senior-level,170K+,170000.0,False,"[Big Data, Computer Science, Computer Vision, ...","[Career development, Conferences, Flex hours, ..."
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Worldwide,Full Time,Senior-level,176K+,176000.0,False,"[Computer Science, Data analysis, Engineering,...","[401(k) matching, Career development, Equity, ..."

In [272]:
def convert_to_simple_text(text):
    # Define a dictionary to map state abbreviations to their full names
    state_dict = {
        "AL": "Alabama", "AK": "Alaska", "AZ": "Arizona", "AR": "Arkansas",
        "CA": "California", "CO": "Colorado", "CT": "Connecticut", "DE": "Delaware",
        "FL": "Florida", "GA": "Georgia", "HI": "Hawaii", "ID": "Idaho",
        "IL": "Illinois", "IN": "Indiana", "IA": "Iowa", "KS": "Kansas",
        "KY": "Kentucky", "LA": "Louisiana", "ME": "Maine", "MD": "Maryland",
        "MA": "Massachusetts", "MI": "Michigan", "MN": "Minnesota", "MS": "Mississippi",
        "MO": "Missouri", "MT": "Montana", "NE": "Nebraska", "NV": "Nevada",
        "NH": "New Hampshire", "NJ": "New Jersey", "NM": "New Mexico", "NY": "New York",
        "NC": "North Carolina", "ND": "North Dakota", "OH": "Ohio", "OK": "Oklahoma",
        "OR": "Oregon", "PA": "Pennsylvania", "RI": "Rhode Island", "SC": "South Carolina",
        "SD": "South Dakota", "TN": "Tennessee", "TX": "Texas", "UT": "Utah",
        "VT": "Vermont", "VA": "Virginia", "WA": "Washington", "WV": "West Virginia",
        "WI": "Wisconsin", "WY": "Wyoming"
    }

    # Split the text by semicolons and process each city, state pair
    parts = text.split('; ')
    result = []

    for part in parts:
        city_state = part.split(', ')
        city = city_state[0]
        state = city_state[0]

        # Check if the state abbreviation exists in the dictionary
        full_state = state_dict.get(state.upper(), state)
        result.append(f"{city}, {full_state}")

    return ' '.join(result)

In [273]:
from geopy.geocoders import Nominatim

def get_country_from_city(city_name):
    try:
        city_name = convert_to_simple_text(city_name)
        geolocator = Nominatim(user_agent="city-country-extractor")
        location = geolocator.geocode(city_name, exactly_one=True)

        if location:
            return location.address.split(',')[-1].strip()
        else:
            return 'Worldwide'
    except:
        return 'Worldwide'

df_clean.loc[df_clean['Country'] == 'Worldwide', 'Country'] = df_clean.loc[df_clean['Country'] == 'Worldwide','Location'].apply(get_country_from_city)

df_clean[df_clean['Country'] == 'Worldwide']

,Company,Job_Title,Location,Country,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
19,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Worldwide,Full Time,Senior-level,129K+ *,129000.0,True,"[Agile, Data visualization, Economics, Machine...",[Career development]
24,EX2 Outcoding,Data Engineer Scientist,Remote Worldwide,Worldwide,Full Time,Mid-level,73K+ *,73000.0,True,"[Computer Science, Data Mining, Engineering, P...",[]
47,DeepL,Data Analyst | Marketing or Sales (f/m/d) - GE...,Remote job,Worldwide,Full Time,Senior-level,92K+ *,92000.0,True,"[Agile, Data analysis, Data visualization, Eco...","[Career development, Team events]"
56,Riverflex,Data Product Owner,Remote job,Worldwide,Full Time,Senior-level,62K+ *,62000.0,True,"[Computer Science, DataOps, Engineering, Marke...",[]
150,Altos Labs,"Scientist/Senior Scientist, Machine Learning","San Francisco Bay Area, CA",Worldwide,Full Time,Senior-level,69K+ *,69000.0,True,"[Computer Science, Data analysis, Deep Learnin...","[Career development, Conferences]"
...,...,...,...,...,...,...,...,...,...,...,...
3161,EquipmentShare,BI Data Analyst,Remote: Kansas City; Denver; Chicago; Phoenix;...,Worldwide,Full Time,Senior-level,36K+ *,36000.0,True,"[Business Analytics, Business Intelligence, Fi...","[401(k) matching, Career development, Competit..."
3176,iTech Media,Data Analytics Engineer,Warsaw Remote,Worldwide,Full Time,Entry-level,30K+ *,30000.0,True,"[Airflow, Data Analytics, Engineering, Finance...","[Career development, Flex hours, Flex vacation..."
3178,Galileo Financial Technologies,Staff ETL Developer,UT - Remote; UT - Cottonwood Heights,Worldwide,Full Time,Senior-level,63K+ *,63000.0,True,"[Computer Science, Data pipelines, Data wareho...","[Flex hours, Health care, Insurance]"
3181,C3.ai,Data Scientist / Senior Data Scientist (Federal),"Tysons, VA; Dayton, OH; Redwood City, CA",Worldwide,Full Time,Senior-level,123K+,123000.0,False,"[Architecture, Classification, Computer Scienc...","[Career development, Competitive pay, Equity]"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Worldwide,Full Time,Senior-level,176K+,176000.0,False,"[Computer Science, Data analysis, Engineering,...","[401(k) matching, Career development, Equity, ..."

In [274]:
df_clean[(df_clean['Country'] == 'Worldwide') & (df_clean['Location'].str.contains('Remote',case=False))].head()

,Company,Job_Title,Location,Country,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
19,DeepL,"Data Scientist | Insights (f/m/d) - GER, UK, N...",Remote job,Worldwide,Full Time,Senior-level,129K+ *,129000.0,True,"[Agile, Data visualization, Economics, Machine...",[Career development]
24,EX2 Outcoding,Data Engineer Scientist,Remote Worldwide,Worldwide,Full Time,Mid-level,73K+ *,73000.0,True,"[Computer Science, Data Mining, Engineering, P...",[]
47,DeepL,Data Analyst | Marketing or Sales (f/m/d) - GE...,Remote job,Worldwide,Full Time,Senior-level,92K+ *,92000.0,True,"[Agile, Data analysis, Data visualization, Eco...","[Career development, Team events]"
56,Riverflex,Data Product Owner,Remote job,Worldwide,Full Time,Senior-level,62K+ *,62000.0,True,"[Computer Science, DataOps, Engineering, Marke...",[]
159,Lambda,Analytics Engineer,Remote (US & CAN),Worldwide,Full Time,Senior-level,110K+,110000.0,False,"[APIs, Architecture, AWS, BigQuery, Business A...","[401(k) matching, Career development, Conferen..."

In [275]:
df_clean.info()

<class 'pandas.core.frame.DataFrame'>
Index: 2896 entries, 0 to 3196
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Company                    2896 non-null   object
 1   Job_Title                  2896 non-null   object
 2   Location                   2896 non-null   object
 3   Country                    2896 non-null   object
 4   Job_Type                   2896 non-null   object
 5   Experience_level           2896 non-null   object
 6   Salary                     2896 non-null   object
 7   Min_Salary_Year            2896 non-null   float64
 8   Salary_conditions          2896 non-null   bool
 9   Requirment_of_the_company  2896 non-null   object
 10  Facilities                 2896 non-null   object
dtypes: bool(1), float64(1), object(9)
memory usage: 251.7+ KB

## Specify the job work place

In [276]:
# Function to check the work place
def check_work_place(job,location):
    job = job.lower()
    location = location.lower()
    if 'remote' in job or 'remote' in location :
        return 'Remote'
    elif 'hybrid' in job or 'hybrid' in location:
        return 'Hybrid'
    else:
        return 'Local'

# Apply the function to 'Location' column and store the result in 'Work_Place'
df_clean.loc[:,'Work_Place'] = df_clean.apply(lambda x: check_work_place(x.Job_Title, x.Location), axis=1)
# move Work_Place column to fourth position
Work_Place = df_clean.pop('Work_Place')
df_clean.insert(4, 'Work_Place', Work_Place)
df_clean

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\3362969374.py:13: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,Company,Job_Title,Location,Country,Work_Place,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",United States,Local,Full Time,Entry-level,48K+ *,48000.0,True,"[Computer Science, Data quality, Genetics, Mat...",[]
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Mauritius,Local,Full Time,Entry-level,48K+ *,48000.0,True,"[Agile, Data management, Finance, Security]",[]
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",United States,Local,Full Time,Not-Specified,90K+ *,90000.0,True,"[Agile, Architecture, AWS, Computer Science, C...",[Career development]
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Italy,Local,Full Time,Entry-level,48K+ *,48000.0,True,"[Engineering, Industrial, Oracle, Power BI, R,...",[]
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",United States,Local,Full Time,Mid-level,108K+,108000.0,False,"[AWS, Azure, Computer Science, Consulting, Dat...","[Flex hours, Flex vacation, Parental leave, Un..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",United States,Local,Full Time,Mid-level,113K+,113000.0,False,"[Agile, Angular, APIs, Architecture, AWS, Azure]","[401(k) matching, Career development, Flex hou..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",United States,Local,Full Time,Mid-level,106K+,106000.0,False,"[Bayesian, Classification, Clustering, Data an...","[Career development, Health care]"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Worldwide,Local,Full Time,Senior-level,176K+,176000.0,False,"[Computer Science, Data analysis, Engineering,...","[401(k) matching, Career development, Equity, ..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Philippines,Local,Full Time,Entry-level,39K+ *,39000.0,True,"[APIs, Clustering, Computer Science, Data visu...",[Career development]
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Canada,Local,Full Time,Entry-level,39K+ *,39000.0,True,"[Computer Science, Data Analytics, Data Mining...","[Career development, Startup environment]"

In [277]:
df_clean[(df_clean['Job_Title'].str.contains('Remote',case=False)) | (df_clean['Location'].str.contains('Remote',case=False))].shape

(541, 12)

In [278]:
df_clean[df_clean['Work_Place'].str.contains('Remote',case=False)].shape

(541, 12)

# Analyse et Visualisation

<h3>Count the number of occurrences for each job title</h3>

In [279]:
job_title_counts = df_clean.groupby(by='Job_Title').size().reset_index(name='Count')
job_titles_counts = job_title_counts.sort_values(by='Count',ascending=False)
job_titles_counts.head(10)

                             Job_Title  Count
460                      Data Engineer    102
664                     Data Scientist     80
329                       Data Analyst     77
1496              Senior Data Engineer     63
1057         Machine Learning Engineer     47
1462               Senior Data Analyst     36
1551             Senior Data Scientist     32
1645  Senior Machine Learning Engineer     21
75                  Analytics Engineer     16
449                     Data Architect     11

In [280]:
df_ds = job_titles_counts[job_titles_counts['Job_Title'].str.contains(r'Data Science|Data Analys|Data Engineer|Scientist|Science|Data Visualization', case=False)]
df_ds.head(10)

                  Job_Title  Count
460           Data Engineer    102
664          Data Scientist     80
329            Data Analyst     77
1496   Senior Data Engineer     63
1462    Senior Data Analyst     36
1551  Senior Data Scientist     32
1005     Lead Data Engineer      9
1934    Staff Data Engineer      9
1332     Research Scientist      7
974     Junior Data Analyst      7

In [281]:
count_ds = df_ds['Count'].sum()
print(count_ds)

1570

In [282]:
# count = job_titles_counts['Job_Title'].str.contains(r'Machine Learning|ML', case=True).sum()
df_ml = job_titles_counts[job_titles_counts['Job_Title'].str.contains(r'Machine Learning|ML|AI|Artificial Intelligence|Deep Learning', case=True)]
df_ml.head(10)

                                Job_Title  Count
1057            Machine Learning Engineer     47
1645     Senior Machine Learning Engineer     21
1676    Senior Machine Learning Scientist      5
1388                   Senior AI Engineer      4
1048                       MLOps Engineer      4
1042                          ML Engineer      3
1026       Lead Machine Learning Engineer      3
1870         Sr Machine Learning Engineer      2
1104        Machine Learning Scientist II      2
1236  Principal Machine Learning Engineer      2

In [283]:
count_ml = df_ml['Count'].sum()
print(count_ml)

524

In [284]:
df_bd = job_titles_counts[job_titles_counts['Job_Title'].str.contains(r'Big Data|Data Warehousing|Data Warehouse|Hadoop|nosql', case=False)]
df_bd.head(10)

                                              Job_Title  Count
167                                   Big Data Engineer      4
1434                           Senior Big Data Engineer      3
1371  SW Engineer: Big Data/Risk Systems, Sr. Consul...      1
1435                     Senior Big Data Engineer  CIB      1
1432  Senior Backend Software Engineer- Big Data Ana...      1
1178      Oracle Data Modeler / PL/SQL - Data warehouse      1
1204  Pre-College Instructor, Big Data, Machine Lear...      1
1205          PreMaster Programm - Big Data (Analytics)      1
1136     Manager-Business Intelligence&Data Warehousing      1
1879                              Sr. Big Data Engineer      1

In [285]:
count_bd = df_bd['Count'].sum()
print(count_bd)

44

## Visualize the results

In [286]:
# import plotly.express as px
import plotly.graph_objects as go


# fig = px.bar(countdf, x='Domaine', y='Count',title="Le nombre totale des offres d'emplois dans DS,AI et Big Data")
# fig.show()

data = [('Data Science',count_ds),('Machine Learning (AI)',count_ml),('Big Data',count_bd)]
countdf = pd.DataFrame(data,columns=['Domaine','Count'])

fig = go.Figure(data=[go.Pie(labels=data, values=countdf['Count'].tolist(), showlegend=True, pull=[0, 0.1, 0.2, 0], 
                             textinfo='label+percent', textfont_size=11,)])
fig.update_layout(title_text="La distribution des offres d'emplois dans DS,AI et Big Data")
fig.show()

<h3> Get top 20 keywords Occurrences in Requirment_of_the_company column</h3>

In [287]:
import plotly.express as px
from collections import Counter

# Use Counter to get the count of each element in the lists
element_counter = Counter([element for sublist in df_clean['Requirment_of_the_company'] for element in sublist])
# Convert the result to a DataFrame for better display
element_counter = pd.DataFrame(list(element_counter.items()), columns=['Requirment of the company', 'Count'])

df_requir = element_counter.sort_values(by='Count',ascending=False)

fig = px.bar(df_requir.head(30), x='Requirment of the company', y='Count',color='Count',title="La frequence des mots techniques dans les offres d'emplois")
fig.show()

In [288]:
import plotly.express as px

countries = df_clean.groupby(by='Country')['Min_Salary_Year'].sum()

country_salary = countries.sort_values(ascending=False).reset_index(name='Sum of salaries')

fig = px.line(country_salary.head(15), x='Country', y='Sum of salaries',markers=True,title="La somme des salaires par pays")
fig.show()

In [289]:
import plotly.express as px

countries = df_clean.groupby(by='Country')['Min_Salary_Year'].mean()

country_salary = countries.sort_values(ascending=False).reset_index(name='Mean of salaries')

fig = px.line(country_salary.head(10), x='Country', y='Mean of salaries',title="La moyenne des salaires par pays",markers=True)
fig.show()

In [290]:
df_ds.loc[:, 'Domaine'] = 'Data Science'
Domaine = df_ds.pop('Domaine')
df_ds.insert(0, 'Domaine', Domaine)
df_ds.head(5)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\1221286627.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

           Domaine             Job_Title  Count
460   Data Science         Data Engineer    102
664   Data Science        Data Scientist     80
329   Data Science          Data Analyst     77
1496  Data Science  Senior Data Engineer     63
1462  Data Science   Senior Data Analyst     36

In [291]:
df_bd.loc[:, 'Domaine'] = 'Big Data'
Domaine = df_bd.pop('Domaine')
df_bd.insert(0, 'Domaine', Domaine)
df_bd.head(5)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\1711978492.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

       Domaine                                          Job_Title  Count
167   Big Data                                  Big Data Engineer      4
1434  Big Data                           Senior Big Data Engineer      3
1371  Big Data  SW Engineer: Big Data/Risk Systems, Sr. Consul...      1
1435  Big Data                     Senior Big Data Engineer  CIB      1
1432  Big Data  Senior Backend Software Engineer- Big Data Ana...      1

In [292]:
df_ml.loc[:, 'Domaine'] = 'Machine Learning (AI)'
Domaine = df_ml.pop('Domaine')
df_ml.insert(0, 'Domaine', Domaine)
df_ml.head(5)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\4075952307.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

                    Domaine                          Job_Title  Count
1057  Machine Learning (AI)          Machine Learning Engineer     47
1645  Machine Learning (AI)   Senior Machine Learning Engineer     21
1676  Machine Learning (AI)  Senior Machine Learning Scientist      5
1388  Machine Learning (AI)                 Senior AI Engineer      4
1048  Machine Learning (AI)                     MLOps Engineer      4

In [293]:
import plotly.express as px

# concatenate the dataframes vertically
df_domaines = pd.concat([df_ds.head(5), df_bd.head(5), df_ml.head(5)], axis=0)

fig = px.scatter(df_domaines, x="Count", y="Job_Title", color="Domaine",size='Count',title='Les titres de poste les plus courants dans les domaines de Data science,AI et Big data')
fig.show()

## Get the top 5 job titles in each domaine infos to get the relationships

In [294]:
columns = df_clean.columns.tolist()
columns.append('Domaine')
data = []
for row in df_domaines.itertuples():
    new_row = df_clean[df_clean['Job_Title'] == row.Job_Title].assign(Domaine=row.Domaine)
    data.extend(new_row.values.tolist())

df_data = pd.DataFrame(data,columns=columns)
Domaine = df_data.pop('Domaine')
df_data.insert(0, 'Domaine', Domaine)
df_data

,Domaine,Company,Job_Title,Location,Country,Work_Place,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,Data Science,Mutt Data,Data Engineer,Argentina,Argentina,Local,Full Time,Mid-level,73K+ *,73000.0,True,"[Airflow, Architecture, AWS, Big Data, BigQuer...","[Career development, Fitness / gym, Flex hours..."
1,Data Science,Gemini,Data Engineer,"Gurgaon, India",India,Local,Full Time,Senior-level,115K+ *,115000.0,True,"[Airflow, Architecture, AWS, Banking, Big Data...","[Career development, Competitive pay, Equity, ..."
2,Data Science,Publicis Groupe,Data Engineer,"Chicago, IL, United States",United States,Local,Full Time,Not-Specified,96K+ *,96000.0,True,"[APIs, Azure, Computer Science, Data pipelines...",[]
3,Data Science,Chainalysis,Data Engineer,"Ontario,Canada | Remote-CAN",Canada,Remote,Full Time,Senior-level,115K+ *,115000.0,True,"[Agile, Airflow, APIs, Architecture, Banking, ...",[Career development]
4,Data Science,Verisk,Data Engineer,"Delhi, India",India,Local,Full Time,Senior-level,115K+ *,115000.0,True,"[APIs, Architecture, Data pipelines, Engineeri...",[Flex hours]
...,...,...,...,...,...,...,...,...,...,...,...,...,...
444,Machine Learning (AI),KMS Technology,Senior AI Engineer,"Ho Chi Minh City, Vietnam",Vietnam,Local,Full Time,Senior-level,55K+ *,55000.0,True,"[Computer Vision, Consulting, Healthcare techn...","[Career development, Flex hours, Salary bonus,..."
445,Machine Learning (AI),Etsy,MLOps Engineer,"London, United Kingdom",United Kingdom,Local,Full Time,Not-Specified,56K+ *,56000.0,True,"[Airflow, AWS, Databricks, ECS, Engineering, GCP]","[Career development, Conferences, Flex hours, ..."
446,Machine Learning (AI),EX2 Outcoding,MLOps Engineer,Remote Worldwide,Worldwide,Remote,Full Time,Senior-level,62K+ *,62000.0,True,"[Architecture, AWS, Azure, Computer Science, D...",[]
447,Machine Learning (AI),Vianai Systems,MLOps Engineer,"Palo Alto, CA - Remote",United States,Remote,Full Time,Senior-level,62K+ *,62000.0,True,"[AWS, Azure, CI/CD, Computer Science, Docker, ...",[]
448,Machine Learning (AI),Syngenta Group,MLOps Engineer,"Malta, ILLINOIS, United States",Malta,Local,Full Time,Senior-level,56K+ *,56000.0,True,"[Agile, AWS, Azure, Big Data, CI/CD, DevOps]","[401(k) matching, Flex vacation, Health care, ..."

## Top Requirements for each domaine

In [295]:
import plotly.express as px
from collections import Counter

# Use Counter to get the count of each element in the lists
element_counter = Counter([element for sublist in df_data[df_data['Domaine'] == 'Data Science']['Requirment_of_the_company'] for element in sublist])
# Convert the result to a DataFrame for better display
element_counter = pd.DataFrame(list(element_counter.items()), columns=['Requirment of the company', 'Count'])

df_requir = element_counter.sort_values(by='Count',ascending=False)

fig = px.bar(df_requir.head(10), x='Requirment of the company', y='Count',color='Count',title="Top 10 des Competences les plus demandees pour le domaine de Data Science")
fig.show()

In [296]:
import plotly.express as px
from collections import Counter

# Use Counter to get the count of each element in the lists
element_counter = Counter([element for sublist in df_data[df_data['Domaine'] == 'Big Data']['Requirment_of_the_company'] for element in sublist])
# Convert the result to a DataFrame for better display
element_counter = pd.DataFrame(list(element_counter.items()), columns=['Requirment of the company', 'Count'])

df_requir = element_counter.sort_values(by='Count',ascending=False)

fig = px.bar(df_requir.head(10), x='Requirment of the company', y='Count',color='Count',title="Top 10 des Competences les plus demandees pour le domaine de Big Data")
fig.show()

In [297]:
import plotly.express as px
from collections import Counter

# Use Counter to get the count of each element in the lists
element_counter = Counter([element for sublist in df_data[df_data['Domaine'] == 'Machine Learning (AI)']['Requirment_of_the_company'] for element in sublist])
# Convert the result to a DataFrame for better display
element_counter = pd.DataFrame(list(element_counter.items()), columns=['Requirment of the company', 'Count'])

df_requir = element_counter.sort_values(by='Count',ascending=False)

fig = px.bar(df_requir.head(10), x='Requirment of the company', y='Count',color='Count',title="Top 10 des Competences les plus demandees pour le domaine de Machine Learning (AI)")
fig.show()

## Top facilities for each domaine

In [298]:
import plotly.express as px
from collections import Counter

# Use Counter to get the count of each element in the lists
element_counter = Counter([element for sublist in df_data[df_data['Domaine'] == 'Data Science']['Facilities'] for element in sublist])
# Convert the result to a DataFrame for better display
element_counter = pd.DataFrame(list(element_counter.items()), columns=['Facilities', 'Count'])

df_requir = element_counter.sort_values(by='Count',ascending=False)

fig = px.bar(df_requir.head(10), x='Facilities', y='Count',color='Count',title="Top 10 motivations les plus offertes pour le domaine de Data Science")
fig.show()

In [299]:
import plotly.express as px
from collections import Counter

# Use Counter to get the count of each element in the lists
element_counter = Counter([element for sublist in df_data[df_data['Domaine'] == 'Big Data']['Facilities'] for element in sublist])
# Convert the result to a DataFrame for better display
element_counter = pd.DataFrame(list(element_counter.items()), columns=['Facilities', 'Count'])

df_requir = element_counter.sort_values(by='Count',ascending=False)

fig = px.bar(df_requir.head(10), x='Facilities', y='Count',color='Count',title="Top 10 motivations les plus offertes pour le domaine de Big Data")
fig.show()

In [300]:
import plotly.express as px
from collections import Counter

# Use Counter to get the count of each element in the lists
element_counter = Counter([element for sublist in df_data[df_data['Domaine'] == 'Machine Learning (AI)']['Facilities'] for element in sublist])
# Convert the result to a DataFrame for better display
element_counter = pd.DataFrame(list(element_counter.items()), columns=['Facilities', 'Count'])

df_requir = element_counter.sort_values(by='Count',ascending=False)

fig = px.bar(df_requir.head(10), x='Facilities', y='Count',color='Count',title="Top 10 motivations les plus offertes pour le domaine de Machine Learning (AI)")
fig.show()

## Count of work place for each domaine

In [315]:
df_workplace = df_data.groupby(['Domaine', 'Work_Place']).size().reset_index(name='Count')

df_workplace

                 Domaine Work_Place  Count
0               Big Data      Local     10
1           Data Science     Hybrid      2
2           Data Science      Local    265
3           Data Science     Remote     91
4  Machine Learning (AI)     Hybrid      1
5  Machine Learning (AI)      Local     62
6  Machine Learning (AI)     Remote     18

In [314]:
import plotly.express as px

# Create the grouped bar chart with labels
fig = px.bar(df_workplace, x='Domaine', y='Count', color='Work_Place',
             labels={'Count': 'Count', 'Domaine': 'Domaine', 'Work_Place': 'Work Place'},
             title="Les préférences de l'emplacement du travail pour les trois domaines.",
             text='Count', # This will display the count on top of each bar
             height=500)   # Adjust the height as needed

fig.show()

In [303]:
# import plotly.express as px

# df_workplace = df_data.groupby(['Domaine', 'Work_Place']).size().reset_index(name='Count')
# # Convert the result to a DataFrame for better display
# df_workplace = pd.DataFrame(element_counter, columns=['Domaine','Work_Place', 'Count'])

# fig = px.bar(element_counter, x='Domaine', y='Count',color='Work_Place',title="Les preferences de l'emplacement du travail pour les trois domaines.")
# fig.show()

In [304]:
df_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 449 entries, 0 to 448
Data columns (total 13 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Domaine                    449 non-null    object
 1   Company                    449 non-null    object
 2   Job_Title                  449 non-null    object
 3   Location                   449 non-null    object
 4   Country                    449 non-null    object
 5   Work_Place                 449 non-null    object
 6   Job_Type                   449 non-null    object
 7   Experience_level           449 non-null    object
 8   Salary                     449 non-null    object
 9   Min_Salary_Year            449 non-null    float64
 10  Salary_conditions          449 non-null    bool
 11  Requirment_of_the_company  449 non-null    object
 12  Facilities                 449 non-null    object
dtypes: bool(1), float64(1), object(11)
memory usage: 42.7+ KB

In [305]:
df_clean

,Company,Job_Title,Location,Country,Work_Place,Job_Type,Experience_level,Salary,Min_Salary_Year,Salary_conditions,Requirment_of_the_company,Facilities
0,SGS,Clinical Data Analyst,"Richardson, TX, United States",United States,Local,Full Time,Entry-level,48K+ *,48000.0,True,"[Computer Science, Data quality, Genetics, Mat...",[]
1,Ocorian,AML/CFT & Data Analyst,"Ebène, Mauritius",Mauritius,Local,Full Time,Entry-level,48K+ *,48000.0,True,"[Agile, Data management, Finance, Security]",[]
2,Cricut,Machine Learning Engineer,"South Jordan, UT, United States",United States,Local,Full Time,Not-Specified,90K+ *,90000.0,True,"[Agile, Architecture, AWS, Computer Science, C...",[Career development]
3,Bosch Group,Application Developer & Data Analyst,"Nonantola, Italy",Italy,Local,Full Time,Entry-level,48K+ *,48000.0,True,"[Engineering, Industrial, Oracle, Power BI, R,...",[]
4,Publicis Groupe,Data Engineer Full time (Public Sector) USA,"Arlington, VA, United States",United States,Local,Full Time,Mid-level,108K+,108000.0,False,"[AWS, Azure, Computer Science, Consulting, Dat...","[Flex hours, Flex vacation, Parental leave, Un..."
...,...,...,...,...,...,...,...,...,...,...,...,...
3190,CCRi,"Application Integration Engineer, Computer Vis...","Chantilly, Virginia, United States",United States,Local,Full Time,Mid-level,113K+,113000.0,False,"[Agile, Angular, APIs, Architecture, AWS, Azure]","[401(k) matching, Career development, Flex hou..."
3191,Publicis Groupe,"Associate Director, Data Science","New York City, United States",United States,Local,Full Time,Mid-level,106K+,106000.0,False,"[Bayesian, Classification, Clustering, Data an...","[Career development, Health care]"
3192,DoorDash,"Senior Software Engineer, Machine Learning - A...","Sunnyvale, CA; San Francisco, CA; New York",Worldwide,Local,Full Time,Senior-level,176K+,176000.0,False,"[Computer Science, Data analysis, Engineering,...","[401(k) matching, Career development, Equity, ..."
3193,Western Digital,Data Scientist - New College Graduate,"Biñan, Philippines",Philippines,Local,Full Time,Entry-level,39K+ *,39000.0,True,"[APIs, Clustering, Computer Science, Data visu...",[Career development]
3196,ATB Financial,Data Scientist,"Edmonton, Alberta, Canada",Canada,Local,Full Time,Entry-level,39K+ *,39000.0,True,"[Computer Science, Data Analytics, Data Mining...","[Career development, Startup environment]"

In [306]:
# df_clean.to_csv('job_offers_clean.csv',index=False)
# df_data.to_csv('top_job_titles_per_domaine.csv',index=False)

# Modelisation et Base de donnees

In [307]:
import pyodbc as odbc

# Set up the connection string
driver = 'SQL SERVER'
server = 'PC-HICHAM'
database = 'master'

connection_info = f"""
    DRIVER={{{driver}}};
    SERVER={{{server}}};
    DATABASE={{{database}}};
    Trust_Connection=yes;
"""
# Connect to default database
connection = odbc.connect(connection_info)
cursor = connection.cursor()

In [308]:
# create database and use it
cursor.execute('''
    IF EXISTS (SELECT name FROM sys.databases WHERE name = 'job_offers')
        PRINT 'Database job_offers exist'
    ELSE
        CREATE DATABASE job_offers;
''')
#commit changes
connection.commit()

In [309]:
#use the database created
cursor.execute('''
    USE job_offers;
''')
#commit changes
connection.commit()

In [311]:
# create table Company
cursor.execute('''
    CREATE TABLE [Company] (
        [id_company] Integer IDENTITY(1,1),
        [company_name] varchar(255),
        PRIMARY KEY ([id_company])
    );
''')
#commit changes
connection.commit()

In [ ]:
# create table Work_Place
cursor.execute('''
    CREATE TABLE [Work_Place] (
        [id_workPlace] Integer IDENTITY(1,1),
        [name] varchar(255),
        PRIMARY KEY ([id_workPlace])
    );
''')
#commit changes
connection.commit()

In [ ]:
# create table Job_Type
cursor.execute('''
    CREATE TABLE [Job_Type] (
        [id_jobType] Integer IDENTITY(1,1),
        [name] varchar(255),
        PRIMARY KEY ([id_jobType])
    );
''')
#commit changes
connection.commit()

In [ ]:
# create table Experience_Level
cursor.execute('''
    CREATE TABLE [Experience_Level] (
        [id_experienceLevel] Integer IDENTITY(1,1),
        [name] varchar(255),
        PRIMARY KEY ([id_experienceLevel])
    );
''')
#commit changes
connection.commit()

In [ ]:
# create table Country
cursor.execute('''
    CREATE TABLE [Country] (
        [id_country] Integer IDENTITY(1,1),
        [name] varchar(255),
        PRIMARY KEY ([id_country])
    );
''')
#commit changes
connection.commit()

In [ ]:
# create table Facilities
cursor.execute('''
    CREATE TABLE [Facilities] (
        [id_facilities] Integer IDENTITY(1,1),
        [name] varchar(255),
        PRIMARY KEY ([id_facilities])
    );
''')
#commit changes
connection.commit()

In [ ]:
# create table Job
cursor.execute('''
    CREATE TABLE [Job] (
        [id_job] Integer IDENTITY(1,1),
        [id_company] Integer,
        [id_workPlace] Integer,
        [id_jobType] Integer,
        [id_experienceLevel] Integer,
        [id_country] Integer,
        [job_title] varchar(255),
        [salary] float,
        [salary_conditions] bit,
        PRIMARY KEY ([id_job]),
        CONSTRAINT [FK_Job.id_company]
            FOREIGN KEY ([id_company])
            REFERENCES [Company]([id_company]),
        CONSTRAINT [FK_Job.id_workPlace]
            FOREIGN KEY ([id_workPlace])
            REFERENCES [Work_Place]([id_workPlace]),
        CONSTRAINT [FK_Job.id_jobType]
            FOREIGN KEY ([id_jobType])
            REFERENCES [Job_Type]([id_jobType]),
        CONSTRAINT [FK_Job.id_experienceLevel]
            FOREIGN KEY ([id_experienceLevel])
            REFERENCES [Experience_Level]([id_experienceLevel]),
        CONSTRAINT [FK_Job.id_country]
            FOREIGN KEY ([id_country])
            REFERENCES [Country]([id_country]),
    );
''')
#commit changes
connection.commit()

In [ ]:
# create table Job_Facilities
cursor.execute('''
    CREATE TABLE [Job_Facilities] (
        [id_job] Integer,
        [id_facilities] Integer,
        CONSTRAINT [FK_Job.id_job]
            FOREIGN KEY ([id_job])
            REFERENCES [Job]([id_job]),
        CONSTRAINT [FK_Facilities.id_facilities]
            FOREIGN KEY ([id_facilities])
            REFERENCES [Facilities]([id_facilities])
    );
               
    CREATE INDEX [PK|FK] ON  [Job_Facilities] ([id_job], [id_facilities]);
''')
#commit changes
connection.commit()

In [ ]:
#  create table Requirement
cursor.execute('''
    CREATE TABLE [Requirement] (
        [id_requirement] Integer IDENTITY(1,1),
        [name] varchar(255),
        PRIMARY KEY ([id_requirement])
    );
''')
#commit changes
connection.commit()

In [ ]:
# create table Job_Requirement
cursor.execute('''
    CREATE TABLE [Job_Requirement] (
        [id_job] Integer,
        [id_requirement] Integer,
        CONSTRAINT [FK_Job_Requirement.id_requirement]
            FOREIGN KEY ([id_requirement])
            REFERENCES [Requirement]([id_requirement])
    );
               
    CREATE INDEX [PK|FK] ON  [Job_Requirement] ([id_job], [id_requirement]);
''')
#commit changes
connection.commit()

<h3>Creation of dataset for each table<h3>

In [ ]:
import pandas as pd

# Creating a DataFrame directly from the 'company' list with enumerated indices.
data = [{'id_company': index+1, 'company_name': row} for index, row in enumerate(df_clean['Company'].unique().tolist())]

# Creating the DataFrame from the data list
df_company = pd.DataFrame(data)
df_company.to_csv('Data/df_company.csv',index=False)
df_company

      id_company                    company_name
0              1                             SGS
1              2                         Ocorian
2              3                          Cricut
3              4                     Bosch Group
4              5                 Publicis Groupe
...          ...                             ...
1070        1071                   Junglee Games
1071        1072                          Thaloz
1072        1073                       Rackspace
1073        1074          MUFG Investor Services
1074        1075  Galileo Financial Technologies

[1075 rows x 2 columns]

In [ ]:
import pandas as pd

# Creating a DataFrame directly from the 'company' list with enumerated indices.
data = [{'id_workPlace': index+1, 'name': row} for index, row in enumerate(df_clean['Work_Place'].unique().tolist())]

# Creating the DataFrame from the data list
df_workPlace = pd.DataFrame(data)
df_workPlace.to_csv('Data/df_workPlace.csv',index=False)
df_workPlace

   id_workPlace    name
0             1   Local
1             2  Remote
2             3  Hybrid

In [ ]:
import pandas as pd

# Creating a DataFrame directly from the 'company' list with enumerated indices.
data = [{'id_jobType': index+1, 'name': row} for index, row in enumerate(df_clean['Job_Type'].unique().tolist())]

# Creating the DataFrame from the data list
df_jobType = pd.DataFrame(data)
df_jobType.to_csv('Data/df_jobType.csv',index=False)
df_jobType

   id_jobType        name
0           1   Full Time
1           2  Internship
2           3   Part Time

In [ ]:
import pandas as pd

# Creating a DataFrame directly from the 'company' list with enumerated indices.
data = [{'id_experienceLevel': index+1, 'name': row} for index, row in enumerate(df_clean['Experience_level'].unique().tolist())]

# Creating the DataFrame from the data list
df_experienceLevel = pd.DataFrame(data)
df_experienceLevel.to_csv('Data/df_experienceLevel.csv',index=False)
df_experienceLevel

   id_experienceLevel             name
0                   1      Entry-level
1                   2    Not-Specified
2                   3        Mid-level
3                   4     Senior-level
4                   5  Executive-level

In [ ]:
import pandas as pd

# Creating a DataFrame directly from the 'company' list with enumerated indices.
data = [{'id_country': index+1, 'name': row} for index, row in enumerate(df_clean['Country'].unique().tolist())]

# Creating the DataFrame from the data list
df_country = pd.DataFrame(data)
df_country.to_csv('Data/df_country.csv',index=False)
df_country

     id_country                            name
0             1                   United States
1             2                       Mauritius
2             3                           Italy
3             4                        Portugal
4             5                        Thailand
..          ...                             ...
105         106                       Nederland
106         107                         Lebanon
107         108  Schweiz/Suisse/Svizzera/Svizra
108         109                            Perú
109         110                          Cyprus

[110 rows x 2 columns]

In [ ]:
import pandas as pd

# Extract all the elements from the 'Facilities' column and create a set of unique facilities
unique_facilities = set([item for sublist in df_clean['Facilities'] for item in sublist])

# Creating a DataFrame directly from the 'company' list with enumerated indices.
data = [{'id_facilities': index+1, 'name': row} for index, row in enumerate(unique_facilities)]

# Creating the DataFrame from the data list
df_facilities = pd.DataFrame(data)
df_facilities.to_csv('Data/df_facilities.csv',index=False)
df_facilities

    id_facilities                       name
0               1               Pet friendly
1               2         Cell phone stipend
2               3                Team events
3               4        Home office stipend
4               5              Flex vacation
5               6                  Insurance
6               7                   Wellness
7               8              Signing bonus
8               9        Startup environment
9              10            401(k) matching
10             11                Health care
11             12               Salary bonus
12             13             Parental leave
13             14                  Freelance
14             15             Flat hierarchy
15             16                       Gear
16             17         Relocation support
17             18            Competitive pay
18             19    Unlimited paid time off
19             20         Fertility benefits
20             21            Paid sabbatical
21             22                       Yoga
22             23            Snacks / Drinks
23             24                Conferences
24             25                     Travel
25             26              Fitness / gym
26             27              Lunch / meals
27             28         Career development
28             29                   Contract
29             30                 Flex hours
30             31               Transparency
31             32  Flexible spending account
32             33                     Equity
33             34              Medical leave

In [ ]:
columns = ['id_job','id_company', 'id_workPlace','id_jobType','id_experienceLevel','id_country','job_title','salary','salary_conditions']
data = []

for index, row in df_clean.iterrows():
    company = df_company[df_company['company_name'] == row['Company']]
    workPlace = df_workPlace[df_workPlace['name'] == row['Work_Place']]
    jobType = df_jobType[df_jobType['name'] == row['Job_Type']]
    experienceLevel = df_experienceLevel[df_experienceLevel['name'] == row['Experience_level']]
    country = df_country[df_country['name'] == row['Country']]
    new_row = {
        'id_job': index+1,
        'id_company': company['id_company'].values[0],
        'id_workPlace': workPlace['id_workPlace'].values[0],
        'id_jobType': jobType['id_jobType'].values[0],
        'id_experienceLevel': experienceLevel['id_experienceLevel'].values[0],
        'id_country': country['id_country'].values[0],
        'job_title': row['Job_Title'],
        'salary': row['Min_Salary_Year'],
        'salary_conditions': row['Salary_conditions'],
    }
    data.append(new_row)

# Creating the DataFrame from the data list
df_job = pd.DataFrame(data, columns=columns)
df_job.to_csv('Data/df_job.csv',index=False)
df_job

,id_job,id_company,id_workPlace,id_jobType,id_experienceLevel,id_country,job_title,salary,salary_conditions
0,1,1,1,1,1,1,Clinical Data Analyst,48000.0,True
1,2,2,1,1,1,2,AML/CFT & Data Analyst,48000.0,True
2,3,3,1,1,2,1,Machine Learning Engineer,90000.0,True
3,4,4,1,1,1,3,Application Developer & Data Analyst,48000.0,True
4,5,5,1,1,3,1,Data Engineer Full time (Public Sector) USA,108000.0,False
...,...,...,...,...,...,...,...,...,...
2891,3191,301,1,1,3,1,"Application Integration Engineer, Computer Vis...",113000.0,False
2892,3192,5,1,1,3,1,"Associate Director, Data Science",106000.0,False
2893,3193,588,1,1,4,11,"Senior Software Engineer, Machine Learning - A...",176000.0,False
2894,3194,9,1,1,1,46,Data Scientist - New College Graduate,39000.0,True
2895,3197,673,1,1,1,7,Data Scientist,39000.0,True

In [ ]:
columns = ['id_job','id_facilities']
data = []

for row in df_clean.itertuples():
    if len(row.Facilities) > 0:
        for fac in row.Facilities:
            job = df_job[df_job['job_title'] == row.Job_Title]
            facilitie = df_facilities[df_facilities['name'] == fac]
            new_row = {
                'id_job': job.values[0][0],
                'id_facilities': facilitie.values[0][0],
            }
            # print(new_row)
            data.append(new_row)

df_job_facilities = pd.DataFrame(data, columns=columns)
df_job_facilities

      id_job  id_facilities
0          3             28
1          5             30
2          5              5
3          5             13
4          5             19
...      ...            ...
8253    3193              6
8254    3193             13
8255    3194             28
8256      47             28
8257      47              9

[8258 rows x 2 columns]

In [ ]:
import pandas as pd

# Extract all the elements from the 'Facilities' column and create a set of unique facilities
unique_requirement = set([item for sublist in df_clean['Requirment_of_the_company'] for item in sublist])

# Creating a DataFrame directly from the 'company' list with enumerated indices.
data = [{'id_requirement': index+1, 'name': row} for index, row in enumerate(unique_requirement)]

# Creating the DataFrame from the data list
df_requirement = pd.DataFrame(data)
df_requirement.to_csv('Data/df_requirement.csv',index=False)
df_requirement

     id_requirement              name
0                 1              SSIS
1                 2               GCP
2                 3    Model training
3                 4             Flask
4                 5             GloVe
..              ...               ...
278             279              Perl
279             280         Amplitude
280             281   Market research
281             282          BigQuery
282             283  Model deployment

[283 rows x 2 columns]

In [ ]:
columns = ['id_job','id_requirement']
data = []

for row in df_clean.itertuples():
    if len(row.Requirment_of_the_company) > 0:
        for req in row.Requirment_of_the_company:
            job = df_job[df_job['job_title'] == row.Job_Title]
            requirement = df_requirement[df_requirement['name'] == req]
            new_row = {
                'id_job': job.values[0][0],
                'id_requirement': requirement.values[0][0],
            }
            # print(new_row)
            data.append(new_row)

df_job_requirement = pd.DataFrame(data, columns=columns)
df_job_requirement

       id_job  id_requirement
0           1               8
1           1             240
2           1              89
3           1              31
4           1             138
...       ...             ...
16639      47              76
16640      47             164
16641      47              83
16642      47              91
16643      47               2

[16644 rows x 2 columns]

## Insertion of data

In [ ]:
# delete values of table
# cursor.execute(''' DELETE FROM table_name; ''')
# connection.commit()

In [ ]:
cursor.execute(''' USE job_offers; ''')
connection.commit()

In [ ]:
cursor.execute(''' SET IDENTITY_INSERT Company ON; ''')
for row in df_company.itertuples():
    cursor.execute('''
        INSERT INTO Company (id_company,company_name) 
        VALUES(? ,? )
    ''',row.id_company,row.company_name)
cursor.execute(''' SET IDENTITY_INSERT Company OFF; ''')
connection.commit()

In [ ]:
import pandas as pd

pd.read_sql('''
    SELECT top(5) *
    FROM Company;
    ''',connection)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\2119721181.py:3: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   id_company     company_name
0           1              SGS
1           2          Ocorian
2           3           Cricut
3           4      Bosch Group
4           5  Publicis Groupe

In [ ]:
import pandas as pd

cursor.execute(''' SET IDENTITY_INSERT Work_Place ON; ''')
for row in df_workPlace.itertuples():
    cursor.execute('''
        INSERT INTO Work_Place (id_workPlace,name)
        VALUES(? ,? )
    ''',row.id_workPlace,row.name)
cursor.execute(''' SET IDENTITY_INSERT Work_Place OFF; ''')
connection.commit()

pd.read_sql('''
    SELECT top(5) *
    FROM Work_Place;
    ''',connection)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\3542699838.py:12: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   id_workPlace    name
0             1   Local
1             2  Remote
2             3  Hybrid

In [ ]:
import pandas as pd

cursor.execute(''' SET IDENTITY_INSERT Job_Type ON; ''')
for row in df_jobType.itertuples():
    cursor.execute('''
        INSERT INTO Job_Type (id_jobType,name)
        VALUES(? ,? )
    ''',row.id_jobType,row.name)
cursor.execute(''' SET IDENTITY_INSERT Job_Type OFF; ''')
connection.commit()

pd.read_sql('''
    SELECT top(5) *
    FROM Job_Type;
    ''',connection)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\2760218392.py:12: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   id_jobType        name
0           1   Full Time
1           2  Internship
2           3   Part Time

In [ ]:
import pandas as pd

cursor.execute(''' SET IDENTITY_INSERT Experience_Level ON; ''')
for row in df_experienceLevel.itertuples():
    cursor.execute('''
        INSERT INTO Experience_Level (id_experienceLevel,name)
        VALUES(? ,? )
    ''',row.id_experienceLevel,row.name)
cursor.execute(''' SET IDENTITY_INSERT Experience_Level OFF; ''')
connection.commit()

pd.read_sql('''
    SELECT top(5) *
    FROM Experience_Level;
    ''',connection)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\4185827200.py:12: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   id_experienceLevel             name
0                   1      Entry-level
1                   2    Not-Specified
2                   3        Mid-level
3                   4     Senior-level
4                   5  Executive-level

In [ ]:
import pandas as pd

cursor.execute(''' SET IDENTITY_INSERT Country ON; ''')
for row in df_country.itertuples():
    cursor.execute('''
        INSERT INTO Country (id_country,name)
        VALUES(? ,? )
    ''',row.id_country,row.name)
cursor.execute(''' SET IDENTITY_INSERT Country OFF; ''')
connection.commit()

pd.read_sql('''
    SELECT top(5) *
    FROM Country;
    ''',connection)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\4061735292.py:12: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   id_country           name
0           1  United States
1           2      Mauritius
2           3          Italy
3           4       Portugal
4           5       Thailand

In [ ]:
import pandas as pd

cursor.execute(''' SET IDENTITY_INSERT Requirement ON; ''')
for row in df_requirement.itertuples():
    cursor.execute('''
        INSERT INTO Requirement (id_requirement,name)
        VALUES(? ,? )
    ''',row.id_requirement,row.name)
cursor.execute(''' SET IDENTITY_INSERT Requirement OFF; ''')
connection.commit()

pd.read_sql('''
    SELECT top(5) *
    FROM Requirement;
    ''',connection)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\1369457511.py:12: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   id_requirement            name
0               1            SSIS
1               2             GCP
2               3  Model training
3               4           Flask
4               5           GloVe

In [ ]:
import pandas as pd

cursor.execute(''' SET IDENTITY_INSERT Facilities ON; ''')
for row in df_facilities.itertuples():
    cursor.execute('''
        INSERT INTO Facilities (id_facilities,name)
        VALUES(? ,? )
    ''',row.id_facilities,row.name)
cursor.execute(''' SET IDENTITY_INSERT Facilities OFF; ''')
connection.commit()

pd.read_sql('''
    SELECT top(5) *
    FROM Facilities;
    ''',connection)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\2287393156.py:12: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   id_facilities                 name
0              1         Pet friendly
1              2   Cell phone stipend
2              3          Team events
3              4  Home office stipend
4              5        Flex vacation

In [ ]:
import pandas as pd

cursor.execute(''' SET IDENTITY_INSERT Job ON; ''')
for row in df_job.itertuples():
    cursor.execute('''
        INSERT INTO Job (id_job,id_company,id_workPlace,id_jobType,id_experienceLevel,id_country,job_title,salary,salary_conditions)
        VALUES(? ,? ,? ,? ,? ,? ,? ,? ,? )
    ''',row.id_job,row.id_company,row.id_workPlace,row.id_jobType,row.id_experienceLevel,row.id_country,row.job_title,row.salary,row.salary_conditions)
cursor.execute(''' SET IDENTITY_INSERT Job OFF; ''')
connection.commit()

pd.read_sql('''
    SELECT top(5) *
    FROM Job;
    ''',connection)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\3230958152.py:12: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

,id_job,id_company,id_workPlace,id_jobType,id_experienceLevel,id_country,job_title,salary,salary_conditions
0,1,1,1,1,1,1,Clinical Data Analyst,48000.0,True
1,2,2,1,1,1,2,AML/CFT & Data Analyst,48000.0,True
2,3,3,1,1,2,1,Machine Learning Engineer,90000.0,True
3,4,4,1,1,1,3,Application Developer & Data Analyst,48000.0,True
4,5,5,1,1,3,1,Data Engineer Full time (Public Sector) USA,108000.0,False

In [ ]:
df_job_facilities

      id_job  id_facilities
0          3             28
1          5             30
2          5              5
3          5             13
4          5             19
...      ...            ...
8253    3193              6
8254    3193             13
8255    3194             28
8256      47             28
8257      47              9

[8258 rows x 2 columns]

In [ ]:
import pandas as pd

for row in df_job_facilities.itertuples():
    cursor.execute('''
        INSERT INTO Job_Facilities (id_job,id_facilities)
        VALUES(? ,? )
    ''',row.id_job,row.id_facilities)
connection.commit()

pd.read_sql('''
    SELECT top(5) *
    FROM Job_Facilities;
    ''',connection)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\3826222135.py:10: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   id_job  id_facilities
0       3             28
1       5             30
2       5              5
3       5             13
4       5             19

In [ ]:
import pandas as pd

for row in df_job_requirement.itertuples():
    cursor.execute('''
        INSERT INTO Job_Requirement (id_job,id_requirement)
        VALUES(? ,? )
    ''',row.id_job,row.id_requirement)
connection.commit()

pd.read_sql('''
    SELECT top(5) *
    FROM Job_Requirement;
    ''',connection)

C:\Users\Youcode\AppData\Local\Temp\ipykernel_21520\3568349323.py:10: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   id_job  id_requirement
0       1               8
1       1             240
2       1              89
3       1              31
4       1             138

## Check integrity of data

In [ ]:
top_requirement = pd.read_sql('''
    SELECT top(10) r.name, COUNT(jr.id_Requirement) AS count
    FROM Requirement r
    LEFT JOIN Job_Requirement jr ON r.id_Requirement = jr.id_Requirement
    GROUP BY r.name
    ORDER BY count DESC;
    ''',connection)
import plotly.express as px

fig = px.bar(top_requirement, x='name', y='count', color='count')
fig.show()

----------------------------------------------------------------------------------------------------------